In [275]:
# Import packages
import os
import pandas as pd

# Set base path for reproducibility
# Save initial data to a folder "Capstone Project Data" in the current working directory
base_path = os.path.join(os.getcwd(), "Capstone Project Data")

# Set file paths for each semester
file_fall21 = os.path.join(base_path, "College of InfoSci_Fall 2021 - CLEANED.xlsx")
file_fall22 = os.path.join(base_path, "College of InfoSci_Fall 2022 - CLEANED.xlsx")
file_fall23 = os.path.join(base_path, "College of InfoSci_Fall 2023 - CLEANED.xlsx")
file_fall24 = os.path.join(base_path, "College of InfoSci_Fall 2024 - CLEANED.xlsx")
file_spring22 = os.path.join(base_path, "College of InfoSci_Spring 2022 - CLEANED.xlsx")
file_spring23 = os.path.join(base_path, "College of InfoSci_Spring 2023 - CLEANED.xlsx")
file_spring24 = os.path.join(base_path, "College of InfoSci_Spring 2024 - CLEANED.xlsx")
file_spring25 = os.path.join(base_path, "College of InfoSci_Spring 2025 - CLEANED.xlsx")

In [276]:
# Load each file into a separate DataFrame

# Fall DFs
df_fall21 = pd.read_excel(file_fall21)
df_fall22 = pd.read_excel(file_fall22)
df_fall23 = pd.read_excel(file_fall23)
df_fall24 = pd.read_excel(file_fall24)

# Spring DFs
df_spring22 = pd.read_excel(file_spring22)
df_spring23 = pd.read_excel(file_spring23)
df_spring24 = pd.read_excel(file_spring24)
df_spring25 = pd.read_excel(file_spring25)

Create Dictionary (dfs) for all our DataFrames. Will use the Dictionary for data cleansing with for-loops

In [277]:
# Dictionary of all our DataFrames
dfs = {
    "df_fall21": df_fall21,
    "df_fall22": df_fall22,
    "df_fall23": df_fall23,
    "df_fall24": df_fall24,
    "df_spring22": df_spring22,
    "df_spring23": df_spring23,
    "df_spring24": df_spring24,
    "df_spring25": df_spring25
}

In [278]:
# Check data types from first DF
print(df_fall21.dtypes)

Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

In [279]:
# Check data types for each DF

for df_semester, df in dfs.items():
    print(f"\nData types for {df_semester}:")
    print(df.dtypes)

Data types for df_fall21:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_fall22:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_fall23:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_fall24:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring22:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring23:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring24:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring25:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Each dataframe has the same data types

Update Data Types into Integer: Room Capacity, Min Units, Max Units, Class Number, Class Meeting Number

In [ ]:
# Columns to convert to Int64
columns_to_change = ["Room Capacity", "Min Units", "Max Units", "Class Number", "Class Meeting Number"]

# Iterate through our dictionary (dfs), defined above
for df_semester, df in dfs.items():
    df[columns_to_change] = df[columns_to_change].astype("Int64")    # Convert to Int64
    dfs[df_semester] = df                                            # Update dictionary
    print(f"{df_semester}: Selected columns converted to Int64")

# Columns to convert to datetime64[ns]
columns_to_change_time = ["Meeting Time Start", "Meeting Time End"]
print("\n")

for df_semester, df in dfs.items():
    for col in columns_to_change_time:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col], errors='coerce').astype("datetime64[ns]")
    dfs[df_semester] = df  # Update dictionary
    print(f"{df_semester}: Start/End Time columns converted to datetime64[ns]")

# Double check if data updated
# print(df_fall21.dtypes)

df_fall21: Selected columns converted to Int64
df_fall22: Selected columns converted to Int64
df_fall23: Selected columns converted to Int64
df_fall24: Selected columns converted to Int64
df_spring22: Selected columns converted to Int64
df_spring23: Selected columns converted to Int64
df_spring24: Selected columns converted to Int64
df_spring25: Selected columns converted to Int64


df_fall21: Start/End Time columns converted to datetime64[ns]
df_fall22: Start/End Time columns converted to datetime64[ns]
df_fall23: Start/End Time columns converted to datetime64[ns]
df_fall24: Start/End Time columns converted to datetime64[ns]
df_spring22: Start/End Time columns converted to datetime64[ns]
df_spring23: Start/End Time columns converted to datetime64[ns]
df_spring24: Start/End Time columns converted to datetime64[ns]
df_spring25: Start/End Time columns converted to datetime64[ns]
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    Int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        Int64
Max Units                        Int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     Int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             Int64
Meeting Days                    object
Meeting Time Start      datetime64[ns]
Meeting Time End        datetime64[ns]
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Remove unnecessary data:
1) Component > Independent Study
2) Class Status Code > T
3) Req Desig > HONR

In [281]:
for df_semester, df in dfs.items():

    # Count how many rows match each condition - to print once removed
    original_rowcount = len(df)              # Original - to subtract from total
    count_independent = (df["Component"] == "Independent Study").sum()
    count_t = (df["Class Status Code"] == "T").sum()
    count_honor = (df["Req Desig"] == "HONR").sum()

    # Remove rows where ANY of the 3 conditions are True
    df_cleaned = df[
        ~((df["Component"] == "Independent Study") |
          (df["Class Status Code"] == "T") |
          (df["Req Desig"] == "HONR"))]

    dfs[df_semester] = df_cleaned
    new_count = len(df_cleaned)
    total_removed = original_rowcount - new_count

    # Print what was removed
    print(f"{df_semester}:")
    print(f"Removed {count_independent} Independent Study rows")
    print(f"Removed {count_t} T-status rows")
    print(f"Removed {count_honor} HONR rows")
    print(f"Total removed: {total_removed} rows\n")

df_fall21:
Removed 63 Independent Study rows
Removed 0 T-status rows
Removed 6 HONR rows
Total removed: 63 rows

df_fall22:
Removed 72 Independent Study rows
Removed 0 T-status rows
Removed 5 HONR rows
Total removed: 72 rows

df_fall23:
Removed 101 Independent Study rows
Removed 0 T-status rows
Removed 6 HONR rows
Total removed: 101 rows

df_fall24:
Removed 95 Independent Study rows
Removed 2 T-status rows
Removed 7 HONR rows
Total removed: 97 rows

df_spring22:
Removed 69 Independent Study rows
Removed 0 T-status rows
Removed 6 HONR rows
Total removed: 69 rows

df_spring23:
Removed 80 Independent Study rows
Removed 0 T-status rows
Removed 8 HONR rows
Total removed: 80 rows

df_spring24:
Removed 85 Independent Study rows
Removed 2 T-status rows
Removed 9 HONR rows
Total removed: 87 rows

df_spring25:
Removed 96 Independent Study rows
Removed 12 T-status rows
Removed 8 HONR rows
Total removed: 108 rows

Check for Missing Data in each DataFrame

In [282]:
# Check for missing values 

# Empty dictionary to store the results
missing_data_check = {}

for df_semester, df in dfs.items():
    missing_total = df.isnull().sum().sum() # Total missing values; 1st sum() sums columns, 2nd sums rows
    if missing_total > 0:                   # If missing values found, add to our empty dictionary (missing_data_check)
        missing_data_check[df_semester] = missing_total  # missing_total by df_semester adding to our missing_data_check dictionary

# Print results
if missing_data_check:
    print("DataFrames with missing values:")
    # Iterate through our missing values dictionary (missing_data_check)
    for df_semester, missing_sum in missing_data_check.items():
        print(f"{df_semester}: {missing_sum} missing values")
else:
    print("No missing data found!")

DataFrames with missing values:
df_fall21: 570 missing values
df_fall22: 550 missing values
df_fall23: 628 missing values
df_fall24: 672 missing values
df_spring22: 544 missing values
df_spring23: 596 missing values
df_spring24: 644 missing values
df_spring25: 724 missing values

Fall21, Fall22, and Spring22 all have missing data

Explore what is missing in them:

In [283]:
#Explore which data is missing in Fall21, Fall22, Spring22; make new dictionary for missing data
dfs_missing = {
    "df_fall21": df_fall21,
    "df_fall22": df_fall22,
    "df_spring22": df_spring22}

for df_semester, df in dfs_missing.items():
    if df.isnull().sum().sum() > 0:                 # If there total sum of missing values found in the entire df > 0
        print(f"\nMissing data in {df_semester}:")
        print(df.isnull().sum())                    # Print each column & whether there is missing values by column

Missing data in df_fall21:
Term                      0
Session                   0
Session Code              0
Campus                    0
Facility                  0
Room Capacity             0
Subject Code              0
Catalog Number            0
Class Section             0
Req Desig                 0
Component                 0
Min Units                 0
Max Units                 0
Combined Section          0
Enrollment Status         0
Instruction Mode          0
Class Number              0
Course Description        0
Class Status Code         0
Start Date                1
End Date                  1
Class Meeting Number      1
Meeting Days              1
Meeting Time Start      346
Meeting Time End        346
Total Enroll              0
Enrollment Capacity       0
dtype: int64

Missing data in df_fall22:
Term                      0
Session                   0
Session Code              0
Campus                    0
Facility                  0
Room Capacity             0
Subject Code              0
Catalog Number            0
Class Section             0
Req Desig                 0
Component                 0
Min Units                 0
Max Units                 0
Combined Section          0
Enrollment Status         0
Instruction Mode          0
Class Number              0
Course Description        0
Class Status Code         0
Start Date                1
End Date                  1
Class Meeting Number      1
Meeting Days              1
Meeting Time Start      345
Meeting Time End        345
Total Enroll              0
Enrollment Capacity       0
dtype: int64

Missing data in df_spring22:
Term                      0
Session                   0
Session Code              0
Campus                    0
Facility                  0
Room Capacity             0
Subject Code              0
Catalog Number            0
Class Section             0
Req Desig                 0
Component                 0
Min Units                 0
Max Units                 0
Combined Section          0
Enrollment Status         0
Instruction Mode          0
Class Number              0
Course Description        0
Class Status Code         0
Start Date                1
End Date                  1
Class Meeting Number      1
Meeting Days              1
Meeting Time Start      339
Meeting Time End        339
Total Enroll              0
Enrollment Capacity       0
dtype: int64

The Missing Data is the same 6 columns for each of the 3 dataframes (Fall21, Fall22, Spring22):

Start Date              1

End Date                1

Class Meeting Number    1

Meeting Days            1

Meeting Time Start      1

Meeting Time End        1

Replace the Missing Data with Default Values

In [284]:
# Replace the missing data with default values (manual, without For Loop)

# Define what we will insert, by DF
default_values_fall21 = {
    "Start Date": pd.Timestamp("2021-08-23 00:00:00"),  #match datetime64[ns] format
    "End Date": pd.Timestamp("2021-12-08 00:00:00"),
    "Class Meeting Number": 1,
    "Meeting Days": "-",
    "Meeting Time Start": "00:00:00",
    "Meeting Time End": "00:00:00"}

default_values_fall22 = {
    "Start Date": pd.Timestamp("2022-08-22 00:00:00"),
    "End Date": pd.Timestamp("2022-12-07 00:00:00"),
    "Class Meeting Number": 1,
    "Meeting Days": "-",
    "Meeting Time Start": "00:00:00",
    "Meeting Time End": "00:00:00"}

default_values_spring22 = {
    "Start Date": pd.Timestamp("2022-01-12 00:00:00"),
    "End Date": pd.Timestamp("2022-05-04 00:00:00"),
    "Class Meeting Number": 1,
    "Meeting Days": "-",
    "Meeting Time Start": "00:00:00",
    "Meeting Time End": "00:00:00"}

#If the cell is "missing" and the Session is "Regular Academic Session", insert the default values defined above
for col, default in default_values_fall21.items():
    df_fall21.loc[(df["Session"] == "Regular Academic Session") & (df_fall21[col].isnull()), col] = default

for col, default in default_values_fall22.items():
    df_fall22.loc[(df["Session"] == "Regular Academic Session") & (df_fall22[col].isnull()), col] = default

for col, default in default_values_spring22.items():
    df_spring22.loc[(df_spring22["Session"] == "Regular Academic Session") & (df_spring22[col].isnull()), col] = default

In [285]:
# Confirm if the missing data was fixed
# Re-run the same For Loop (with dfs_missing) that originally found the missing data
for df_semester, df in dfs_missing.items():
    if df.isnull().sum().sum() > 0:
        print(f"\nMissing data in {df_semester}:")
        print(df.isnull().sum())
else: 
    print("Missing values fixed!")

Missing data in df_fall21:
Term                     0
Session                  0
Session Code             0
Campus                   0
Facility                 0
Room Capacity            0
Subject Code             0
Catalog Number           0
Class Section            0
Req Desig                0
Component                0
Min Units                0
Max Units                0
Combined Section         0
Enrollment Status        0
Instruction Mode         0
Class Number             0
Course Description       0
Class Status Code        0
Start Date               0
End Date                 0
Class Meeting Number     0
Meeting Days             0
Meeting Time Start      89
Meeting Time End        89
Total Enroll             0
Enrollment Capacity      0
dtype: int64

Missing data in df_fall22:
Term                     0
Session                  0
Session Code             0
Campus                   0
Facility                 0
Room Capacity            0
Subject Code             0
Catalog Number           0
Class Section            0
Req Desig                0
Component                0
Min Units                0
Max Units                0
Combined Section         0
Enrollment Status        0
Instruction Mode         0
Class Number             0
Course Description       0
Class Status Code        0
Start Date               0
End Date                 0
Class Meeting Number     0
Meeting Days             0
Meeting Time Start      88
Meeting Time End        88
Total Enroll             0
Enrollment Capacity      0
dtype: int64

Missing data in df_spring22:
Term                     0
Session                  0
Session Code             0
Campus                   0
Facility                 0
Room Capacity            0
Subject Code             0
Catalog Number           0
Class Section            0
Req Desig                0
Component                0
Min Units                0
Max Units                0
Combined Section         0
Enrollment Status        0
Instruction Mode         0
Class Number             0
Course Description       0
Class Status Code        0
Start Date               0
End Date                 0
Class Meeting Number     0
Meeting Days             0
Meeting Time Start      82
Meeting Time End        82
Total Enroll             0
Enrollment Capacity      0
dtype: int64
Missing values fixed!

Missing values fixed

Next, look for In-Person Classes without Dates or Start/End Times

In [286]:
#Check In-Person Classes without Dates or Start/End Times

days_times_columns = ["Meeting Days", "Meeting Time Start", "Meeting Time End"]

# List to store missing data results & which columns to show in the final summary
filtered_rows = []
filtered_columns_to_show = ["Component", "Class Number", "Course Description", "Meeting Days", "Meeting Time Start", "Meeting Time End"]

# Empty dictionary to store missing data report
missing_data_report = {}

# Iterate through each DataFrame in our dictionary "dfs"
for df_semester, df in dfs.items():
    condition = (                                   # Conditions: In Person & not Independent Study           
        (df["Instruction Mode"] == "In Person") &  
        (df["Component"] != "Independent Study")) 
    
    # Find missing observations ("-") in our days_times_columns columns
    missing_days_times = df[condition & df[days_times_columns].isin(["-"]).any(axis=1)] # .any() for any column with "-", not just 3 for 3
    
    # If missing data exists ("-"), store in missing_data_report
    if not missing_days_times.empty:
        missing_data_report[df_semester] = missing_days_times.copy()

# Print results
if missing_data_report:
    for df_semester, df_missing in missing_data_report.items():
        if isinstance(df_missing, pd.DataFrame):    # Confirm df_missing is a DataFrame before data manipulation
            #Set up our empty list (filtered_rows) to store the rows with missing data in our selected columns
            selected_data = df_missing[filtered_columns_to_show].copy() # Create new DF with our selected columns
            selected_data.insert(0, "DataFrame Name", df_semester)      # Insert new column for the Dataframe Name
            filtered_rows.append(selected_data)                         # Add to list filtered_rows by appending selected_data

    # Print results
    if filtered_rows:
        missing_data_summary = pd.concat(filtered_rows, ignore_index = True) # Transform our list (filtered_rows) to DF
    
        print("\nIn-Person Classes without Dates or Start/End Times:")
        print(missing_data_summary)
        

else:
    print("No missing schedule info found!")

In-Person Classes without Dates or Start/End Times:
  DataFrame Name   Component  Class Number         Course Description  \
0      df_fall22  Laboratory         67885  Designing an Installation
1    df_spring22  Laboratory         95553  Designing an Installation

  Meeting Days Meeting Time Start Meeting Time End
0            -                NaT              NaT
1            -                NaT              NaT

^ In-Person Classes without Dates or Start/End Times

Decided to Delete them

In [287]:
#Delete the Classes without Dates or Start/End Times

for df_semester, df in dfs.items():
    df = dfs[df_semester]
    
    # Find those missing Classes again
    condition = (
        (df["Instruction Mode"] == "In Person") &
        (df["Component"] != "Independent Study") &
        (df[days_times_columns].isin(["-"]).any(axis=1))) # Searching for blanks here now
    
    # Drop the rows that meet the condition
    dropped_count = df[condition].shape[0]                # Count dropped rows before deleting
    df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows
    dfs[df_semester] = df

    # Print how many rows were deleted
    if dropped_count > 0:
        print(f"{dropped_count} rows removed from {df_semester}.")
    else:
        print(f"No rows removed from {df_semester}.")

No rows removed from df_fall21.
1 rows removed from df_fall22.
No rows removed from df_fall23.
No rows removed from df_fall24.
1 rows removed from df_spring22.
No rows removed from df_spring23.
No rows removed from df_spring24.
No rows removed from df_spring25.

/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_44139/2702904224.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_44139/2702904224.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_44139/2702904224.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_44139/2702904224.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_44139/2702904224.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_44139/2702904224.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_44139/2702904224.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_44139/2702904224.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows

Rows removed

(?? I wish the SettingWithCopyWarning: warnings weren't happening)

Run it again to check is In-Person Classes without Days/Times was fixed

In [288]:
"""
for df_semester, df in dfs.items():
    df = dfs[df_semester]
    
    # Find those missing Classes again
    condition = (
        (df["Instruction Mode"] == "In Person") &
        (df["Component"] != "Independent Study") &
        (df[days_times_columns].isin(["-"]).any(axis=1))) # Searching for blanks here now
    
    # Drop the rows that meet the condition
    dropped_count = df[condition].shape[0]                # Count dropped rows before deleting
    df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows
    dfs[df_semester] = df

    # Print how many rows were deleted
    if dropped_count > 0:
        print(f"{dropped_count} rows removed from {df_semester}.")
    else:
        print(f"No rows removed from {df_semester}.")

"""

'\nfor df_semester, df in dfs.items():\n    df = dfs[df_semester]\n    \n    # Find those missing Classes again\n    condition = (\n        (df["Instruction Mode"] == "In Person") &\n        (df["Component"] != "Independent Study") &\n        (df[days_times_columns].isin(["-"]).any(axis=1))) # Searching for blanks here now\n    \n    # Drop the rows that meet the condition\n    dropped_count = df[condition].shape[0]                # Count dropped rows before deleting\n    df.drop(index=df.loc[condition].index, inplace=True)  # Delete the rows\n    dfs[df_semester] = df\n\n    # Print how many rows were deleted\n    if dropped_count > 0:\n        print(f"{dropped_count} rows removed from {df_semester}.")\n    else:\n        print(f"No rows removed from {df_semester}.")\n\n'

In-Person Classes without Dates or Start/End Times Fixed

KDD: Print Each DF's unique values by column & their respective counts

In [289]:
for df_semester, df in dfs.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall21 ===

Column: Term
Term
Fall 2021    283
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    214
Seven Week - First           39
Seven Week - Second          30
Name: count, dtype: int64

Column: Session Code
Session Code
1      214
7W1     39
7W2     30
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    189
Arizona Online                   94
Name: count, dtype: int64

Column: Facility
Facility
Online                        211
Live Online                    15
Elec & Comp Engr, Rm 107       12
R P Harvill Bldg, Rm 460        7
Haury Anthro Bldg, Rm 216       4
Modern Languages, Rm 311        4
R P Harvill Bldg, Rm 130        4
R P Harvill Bldg, Rm 402        3
R P Harvill Bldg, Rm 415        2
R P Harvill Bldg, Rm 401        2
R P Harvill Bldg, Rm 319        2
Aero & Mech Engr, Rm S324       2
R P Harvill Bldg, Rm 232        2
R P Harvill Bldg, Rm 134        2
R P Harvill Bldg, Rm 204        1
R P Harvill Bldg, Rm 305        1
Not Available                   1
R P Harvill Bldg, Rm 101        1
Meinel Optical Sci, Rm 422      1
McClelland Park, Rm 103         1
M Pacheco ILC, Rm 141           1
C E Chavez Bldg, Rm 111         1
Biol Sci West, Rm 301           1
Aero & Mech Engr, Rm S336       1
Social Sciences, Rm 222         1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      228
44      14
31       8
68       4
32       4
62       4
40       3
51       3
33       3
48       2
80       2
24       2
0        1
120      1
145      1
75       1
112      1
56       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    81
ESOC    80
LIS     60
INFO    44
GAME    10
BE       4
PLS      4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    10
300    10
302     9
130     9
313     8
       ..
495     1
478     1
510     1
477     1
525     1
Name: count, Length: 91, dtype: int64

Column: Class Section
Class Section
101     99
201     87
001     52
002     11
101B     5
101A     5
101C     4
101D     4
101E     3
201A     3
202      2
201B     2
102      2
005      1
003      1
101F     1
001A     1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    283
Name: count, dtype: int64

Column: Component
Component
Lecture       254
Discussion     27
Colloquium      1
Laboratory      1
Name: count, dtype: int64

Column: Min Units
Min Units
3    263
4     20
Name: count, dtype: Int64

Column: Max Units
Max Units
3    263
4     20
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       60
0590    12
0249     6
0796     6
1875     6
        ..
1365     1
2127     1
0190     1
1892     1
2041     1
Name: count, Length: 96, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      234
Closed     49
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    211
In Person        56
Live Online      16
Name: count, dtype: int64

Column: Class Number
Class Number
56206    2
56204    2
50914    2
50915    2
58499    2
        ..
66911    1
65728    1
60340    1
50529    1
64718    1
Name: count, Length: 275, dtype: Int64

Column: Course Description
Course Description
Applied Cyberinfrastruct Conc     12
Statistic Foundations Info Age    10
Digital Storytelling & Culture    10
Computational Thinking & Doing     9
Digital Discourse and Identity     8
                                  ..
Learning in Information Age        1
Special Topics                     1
Great Ideas of the Info Age        1
Foundation of Info & Inference     1
Foundations of Information         1
Name: count, Length: 83, dtype: int64

Column: Class Status Code
Class Status Code
A    283
Name: count, dtype: int64

Column: Start Date
Start Date
2021-08-23    252
2021-10-14     30
NaT             1
Name: count, dtype: int64

Column: End Date
End Date
2021-12-08    243
2021-10-13     39
NaT             1
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       282
<NA>      1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      211
TR      41
MW      15
R        5
M        4
W        3
T        2
F        1
NaN      1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    283
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    283
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      38
1      22
5      14
2      14
3      14
11     10
25     10
10     10
12      9
4       9
13      8
8       8
30      8
24      8
14      7
7       7
6       7
23      7
16      6
22      6
20      6
9       5
15      5
32      5
21      5
29      4
17      4
31      3
19      3
26      3
28      2
18      2
42      1
113     1
38      1
36      1
98      1
40      1
146     1
91      1
39      1
33      1
77      1
151     1
92      1
44      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     53
40     42
30     39
25     39
20     22
10     17
15     15
0      15
5       8
23      2
17      2
38      2
125     2
28      2
150     2
3       2
100     2
60      2
50      2
31      1
22      1
80      1
32      1
90      1
9       1
13      1
4       1
36      1
24      1
8       1
46      1
45      1
Name: count, dtype: int64

=== DataFrame: df_fall22 ===

Column: Term
Term
Fall 2022    272
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    184
Seven Week - Second          46
Seven Week - First           42
Name: count, dtype: int64

Column: Session Code
Session Code
1      184
7W2     46
7W1     42
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    169
Arizona Online                  103
Name: count, dtype: int64

Column: Facility
Facility
Online                        222
R P Harvill Bldg, Rm 402        6
R P Harvill Bldg, Rm 460        5
R P Harvill Bldg, Rm 411        4
Haury Anthro Bldg, Rm 216       3
R P Harvill Bldg, Rm 401        2
C E Chavez Bldg, Rm 111         2
Education, Rm 240               2
Education, Rm 310               2
R P Harvill Bldg, Rm 208        2
R P Harvill Bldg, Rm 302        2
R P Harvill Bldg, Rm 428        2
Not Available                   1
R P Harvill Bldg, Rm 130        1
Saguaro Hall, Rm 223            1
Shantz, Rm 242E                 1
R P Harvill Bldg, Rm 134        1
R P Harvill Bldg, Rm 101        1
R P Harvill Bldg, Rm 115        1
R P Harvill Bldg, Rm 111        1
Phys-Atmos Sci, Rm 404          1
Phys-Atmos Sci, Rm 312          1
McClelland Park, Rm 105         1
M Pacheco ILC, Rm 151           1
M Pacheco ILC, Rm 135           1
M Pacheco ILC, Rm 125           1
Henry Koffler Bldg, Rm 216      1
Elec & Comp Engr, Rm 107        1
C E Chavez Bldg, Rm 104         1
Social Sciences, Rm 114         1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      224
40       8
31       6
35       6
62       3
36       3
24       2
145      2
44       2
48       2
75       2
27       2
50       1
32       1
0        1
51       1
150      1
28       1
60       1
85       1
38       1
23       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    73
ISTA    65
LIS     62
INFO    57
GAME    15
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
300    10
116    10
130     8
520     8
570     8
       ..
263     1
577     1
421     1
521     1
552     1
Name: count, Length: 87, dtype: int64

Column: Class Section
Class Section
101     99
201     93
001     34
002      9
102      8
202      6
101B     2
001B     2
001A     2
101D     2
101C     2
101A     2
201B     2
201A     2
001D     1
001C     1
101E     1
101F     1
006      1
005      1
003      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    272
Name: count, dtype: int64

Column: Component
Component
Lecture       252
Discussion     20
Name: count, dtype: int64

Column: Min Units
Min Units
3    256
4     16
Name: count, dtype: Int64

Column: Max Units
Max Units
3    256
4     16
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       50
0369    10
0368     7
0370     6
0184     6
        ..
1685     1
1936     1
1137     1
0143     1
0879     1
Name: count, Length: 89, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      238
Closed     34
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    223
In Person        49
Name: count, dtype: int64

Column: Class Number
Class Number
66472    1
59711    1
58818    1
54130    1
58810    1
        ..
51816    1
61220    1
48584    1
71341    1
67514    1
Name: count, Length: 272, dtype: Int64

Column: Course Description
Course Description
Ethical Issues in Information     12
Statistic Foundations Info Age    10
Digital Storytelling & Culture    10
Computational Thinking & Doing     8
Database Dev And Mgmt              8
                                  ..
Computational Social Science       1
Foundations of Information         1
Installation Design                1
Learning in Information Age        1
Business Information               1
Name: count, Length: 78, dtype: int64

Column: Class Status Code
Class Status Code
A    272
Name: count, dtype: int64

Column: Start Date
Start Date
2022-08-22    225
2022-10-13     46
NaT             1
Name: count, dtype: int64

Column: End Date
End Date
2022-12-07    229
2022-10-12     42
NaT             1
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       271
<NA>      1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      222
TR      29
M        5
W        4
MW       4
F        3
T        2
R        2
NaN      1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    272
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    272
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      28
1      27
9      14
20     13
4      13
10     12
3      12
8      10
2      10
7       9
5       8
23      8
24      7
26      7
6       7
12      6
17      6
14      6
16      6
28      6
30      5
21      4
25      4
13      4
35      4
33      4
22      4
32      3
11      3
15      3
29      2
18      2
81      1
27      1
46      1
37      1
43      1
38      1
19      1
101     1
42      1
140     1
80      1
123     1
86      1
66      1
31      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     56
40     43
30     38
20     21
25     20
0      13
10     13
15     12
28      9
24      5
5       4
27      4
60      3
23      3
150     3
80      3
17      2
125     2
32      2
3       2
1       1
46      1
31      1
34      1
2       1
26      1
49      1
13      1
11      1
90      1
22      1
4       1
50      1
45      1
Name: count, dtype: int64

=== DataFrame: df_fall23 ===

Column: Term
Term
Fall 2023    314
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    216
Seven Week - First           50
Seven Week - Second          48
Name: count, dtype: int64

Column: Session Code
Session Code
1      216
7W1     50
7W2     48
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    196
Arizona Online                  118
Name: count, dtype: int64

Column: Facility
Facility
Online                        249
R P Harvill Bldg, Rm 402        7
Live Online                     6
R P Harvill Bldg, Rm 460        4
Modern Languages, Rm 411        3
R P Harvill Bldg, Rm 428        3
Civil Engineering, Rm 201       3
R P Harvill Bldg, Rm 313        2
R P Harvill Bldg, Rm 302        2
R P Harvill Bldg, Rm 301        2
R P Harvill Bldg, Rm 204        2
R P Harvill Bldg, Rm 115        2
R P Harvill Bldg, Rm 101        2
Psychology, Rm 308              2
Room To Be Announced            2
Haury Anthro Bldg, Rm 216       2
Communication, Rm 311           2
Education, Rm 240               2
Modern Languages, Rm 410        1
R P Harvill Bldg, Rm 210        1
C E Chavez Bldg, Rm 109         1
C E Chavez Bldg, Rm 110         1
R P Harvill Bldg, Rm 411        1
C E Chavez Bldg, Rm 303         1
Communication, Rm 214           1
Education, Rm 535               1
Modern Languages, Rm 202        1
R P Harvill Bldg, Rm 130        1
Engineering, Rm 307             1
R P Harvill Bldg, Rm 105        1
R P Harvill Bldg, Rm 102        1
Mines & Metallurgy, Rm 213      1
Psychology, Rm 205              1
Biol Sci West, Rm 219           1
Modern Languages, Rm 413        1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      255
40       9
42       6
30       4
31       4
75       4
48       3
50       3
43       3
35       3
36       3
62       2
44       2
51       2
25       2
38       2
99       2
28       1
55       1
23       1
32       1
145      1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    81
ESOC    72
INFO    71
LIS     65
GAME    25
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116      10
302       9
130       9
150B1     9
570       8
         ..
507       1
535       1
577       1
641       1
552       1
Name: count, Length: 96, dtype: int64

Column: Class Section
Class Section
101     102
201      98
001      44
102      13
202      12
002      12
003       4
101A      2
103       2
203       2
101D      2
101C      2
101B      2
001A      2
001B      2
201B      2
201A      2
201C      1
101E      1
101F      1
001C      1
001D      1
005       1
006       1
204       1
104       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    314
Name: count, dtype: int64

Column: Component
Component
Lecture       293
Discussion     21
Name: count, dtype: int64

Column: Min Units
Min Units
3    297
4     17
Name: count, dtype: Int64

Column: Max Units
Max Units
3    297
4     17
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       63
0704     8
0138     6
1179     6
0710     6
        ..
0757     1
1658     1
1177     1
1681     1
1655     1
Name: count, Length: 104, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      256
Closed     58
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    249
In Person        59
Live Online       6
Name: count, dtype: int64

Column: Class Number
Class Number
65475    2
65474    2
55401    2
55400    2
57295    1
        ..
68375    1
56046    1
71885    1
46000    1
62064    1
Name: count, Length: 310, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    10
Social Media and Ourselves         9
Computational Thinking & Doing     9
Database Dev And Mgmt              8
Intro to Machine Learning          8
                                  ..
Business Information               1
Foundations of Information         1
Esports Casting                    1
Comm focused Archives/Museums      1
Information Research Methods       1
Name: count, Length: 84, dtype: int64

Column: Class Status Code
Class Status Code
A    314
Name: count, dtype: int64

Column: Start Date
Start Date
2023-08-21    266
2023-10-12     48
Name: count, dtype: int64

Column: End Date
End Date
2023-12-06    264
2023-10-11     50
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    314
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     249
TR     33
MW     13
M       6
W       5
T       4
F       2
R       2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    314
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    314
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      44
1      17
10     14
3      14
2      14
7      13
4      12
11     11
25     11
21     10
5      10
26      9
23      9
14      9
9       9
15      8
13      8
22      8
30      8
18      7
12      6
35      6
24      5
6       5
20      3
29      3
28      3
34      3
8       3
16      3
36      2
44      2
37      2
27      2
19      2
17      2
45      2
40      2
70      1
88      1
150     1
96      1
68      1
149     1
80      1
33      1
31      1
38      1
49      1
71      1
75      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     71
35     45
30     33
25     23
0      22
20     19
15     13
10     11
28      8
80      7
23      4
4       4
5       4
27      4
22      3
17      3
1       3
150     3
32      3
24      3
7       2
31      2
26      2
44      2
13      2
46      2
100     2
34      2
60      2
90      1
29      1
53      1
54      1
21      1
42      1
74      1
6       1
18      1
45      1
Name: count, dtype: int64

=== DataFrame: df_fall24 ===

Column: Term

Term
Fall 2024    336
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    236
Seven Week - First           52
Seven Week - Second          48
Name: count, dtype: int64

Column: Session Code
Session Code
1      236
7W1     52
7W2     48
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    216
Arizona Online                  120
Name: count, dtype: int64

Column: Facility
Facility
Online                        240
R P Harvill Bldg, Rm 402        7
Live Online                     6
R P Harvill Bldg, Rm 460        6
M Pacheco ILC, Rm 129           4
R P Harvill Bldg, Rm 428        3
R P Harvill Bldg, Rm 413        3
R P Harvill Bldg, Rm 411        3
R P Harvill Bldg, Rm 208        3
Social Sciences, Rm 206         3
Harshbarger Bldg, Rm 206        2
Phys-Atmos Sci, Rm 224          2
C E Chavez Bldg, Rm 405         2
R P Harvill Bldg, Rm 415        2
Chemistry, Rm 205               2
Civil Engineering, Rm 201       2
R P Harvill Bldg, Rm 332B       2
R P Harvill Bldg, Rm 316        2
R P Harvill Bldg, Rm 305        2
R P Harvill Bldg, Rm 115        2
R P Harvill Bldg, Rm 107        2
Psychology, Rm 204              2
Aero & Mech Engr, Rm S324       2
R P Harvill Bldg, Rm 101        2
Modern Languages, Rm 411        2
McClelland Hall, Rm 123         2
Flex In-Person                  2
M Pacheco ILC, Rm 130           2
McClelland Park, Rm 103         2
M Pacheco ILC, Rm 133           2
Saguaro Hall, Rm 114            1
C E Chavez Bldg, Rm 103         1
Elec & Comp Engr, Rm 107        1
Chemistry, Rm 218               1
M Pacheco ILC, Rm 145           1
R P Harvill Bldg, Rm 318        1
R P Harvill Bldg, Rm 313        1
Modern Languages, Rm 310        1
McClelland Hall, Rm 130         1
R P Harvill Bldg, Rm 301        1
Education, Rm 310               1
R P Harvill Bldg, Rm 130        1
Meinel Optical Sci, Rm 422      1
Haury Anthro Bldg, Rm 216       1
Psychology, Rm 307              1
Psychology, Rm 306              1
Psychology, Rm 205              1
Phys-Atmos Sci, Rm 404          1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      246
40      14
48       7
28       7
31       6
36       6
80       5
51       4
50       4
23       3
35       3
32       3
43       3
60       3
56       3
143      2
99       2
25       2
42       2
57       2
74       2
33       1
62       1
27       1
44       1
38       1
52       1
30       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    99
INFO    78
ESOC    69
LIS     63
GAME    27
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
130      12
161      10
116      10
150B1     9
300       9
         ..
525       1
401       1
550       1
641       1
495       1
Name: count, Length: 99, dtype: int64

Column: Class Section
Class Section
101     95
201     91
001     45
002     18
202     16
102     16
003      8
001A     5
001B     5
001C     3
104      3
204      3
001D     3
201A     3
007      2
001E     2
005      2
006      2
101A     2
203      2
103      2
205      2
105      2
201C     1
008      1
202A     1
201B     1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    336
Name: count, dtype: int64

Column: Component
Component
Lecture       308
Discussion     26
Colloquium      2
Name: count, dtype: int64

Column: Min Units
Min Units
3    310
4     24
1      2
Name: count, dtype: Int64

Column: Max Units
Max Units
3    310
4     24
6      2
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       75
0187     6
0621     6
1704     6
0793     6
        ..
1386     1
0614     1
0615     1
1276     1
0616     1
Name: count, Length: 105, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      287
Closed     49
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               240
In Person                   78
Hybrid (Flex In-Person)     12
Live Online                  6
Name: count, dtype: int64

Column: Class Number
Class Number
59074    1
63161    1
69284    1
51309    1
69285    1
        ..
48641    1
62325    1
69051    1
68983    1
57776    1
Name: count, Length: 336, dtype: Int64

Column: Course Description
Course Description
Computational Thinking & Doing    12
Ethics in a Digital World         10
Statistic Foundations Info Age    10
Social Media and Ourselves         9
Digital Storytelling & Culture     9
                                  ..
Cataloging+Metadata Mgmt           2
Comm focused Archives/Museums      1
Installation Design                1
Information Research Methods       1
Data Science, Public Interests     1
Name: count, Length: 84, dtype: int64

Column: Class Status Code
Class Status Code
A    336
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    288
2024-10-17     48
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    284
2024-10-16     52
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    336
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     242
TR     43
MW     24
F      11
M       7
W       5
T       4
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    336
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    336
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      34
1      20
5      19
2      14
8      13
10     13
16     12
7      12
6      11
21     11
4      11
3      10
13     10
25      9
18      9
24      8
11      8
27      7
40      7
9       7
15      6
17      6
14      6
12      5
23      5
20      5
32      4
33      4
28      4
22      4
34      4
26      4
31      3
30      3
35      3
29      2
19      2
36      2
42      2
45      2
43      1
68      1
39      1
142     1
56      1
69      1
79      1
80      1
57      1
50      1
59      1
47      1
97      1
92      1
37      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     91
30     53
35     51
25     22
20     14
0      13
80     10
10      6
23      6
50      5
31      5
27      5
15      4
60      4
1       3
5       3
28      3
32      3
17      3
45      2
100     2
7       2
46      2
57      2
125     2
56      2
26      2
29      2
150     2
34      1
13      1
2       1
74      1
6       1
9       1
8       1
21      1
68      1
18      1
24      1
4       1
Name: count, dtype: int64

=== DataFrame: df_spring22 ===

Column: Term
Term
Spring 2022    269
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    187
Seven Week - Second          50
Seven Week - First           32
Name: count, dtype: int64

Column: Session Code
Session Code
1      187
7W2     50
7W1     32
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    175
Arizona Online                   94
Name: count, dtype: int64

Column: Facility
Facility
Online                      225
R P Harvill Bldg, Rm 402      8
R P Harvill Bldg, Rm 460      5
R P Harvill Bldg, Rm 411      3
R P Harvill Bldg, Rm 102      2
R P Harvill Bldg, Rm 428      2
R P Harvill Bldg, Rm 107      2
R P Harvill Bldg, Rm 103      2
Saguaro Hall, Rm 114          2
Education, Rm 333             2
Education, Rm 310             2
Modern Languages, Rm 311      1
Modern Languages, Rm 411      1
Modern Languages, Rm 413      1
C E Chavez Bldg, Rm 307       1
Modern Languages, Rm 304      1
Modern Languages, Rm 214      1
R P Harvill Bldg, Rm 105      1
M Pacheco ILC, Rm 140         1
R P Harvill Bldg, Rm 240      1
R P Harvill Bldg, Rm 305      1
R P Harvill Bldg, Rm 319      1
Live Online                   1
Education, Rm 337             1
Not Available                 1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      226
40      12
31       5
44       3
23       3
25       3
35       3
32       2
55       2
48       2
36       1
155      1
27       1
68       1
43       1
80       1
33       1
0        1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    78
LIS     70
ISTA    69
INFO    41
GAME    11
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116     9
300     9
130     8
570     8
330     8
       ..
417     1
696E    1
507     1
501     1
424     1
Name: count, Length: 94, dtype: int64

Column: Class Section
Class Section
101     106
201      90
001      32
002       5
102       4
001B      3
202       3
001A      3
003       3
101B      2
101D      2
101C      2
110       2
101A      2
201A      2
210       1
006       1
101E      1
101F      1
201B      1
001C      1
001E      1
004       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    269
Name: count, dtype: int64

Column: Component
Component
Lecture       246
Discussion     21
Colloquium      1
Seminar         1
Name: count, dtype: int64

Column: Min Units
Min Units
3    252
4     16
1      1
Name: count, dtype: Int64

Column: Max Units
Max Units
3    252
4     16
6      1
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       50
1530     6
1526     6
0427     6
0925     5
        ..
1127     2
0347     2
2127     1
2126     1
2117     1
Name: count, Length: 93, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      226
Closed     43
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    225
In Person        43
Live Online       1
Name: count, dtype: int64

Column: Class Number
Class Number
82989    1
95214    1
94506    1
89278    1
95261    1
        ..
95286    1
96351    1
78114    1
95236    1
84604    1
Name: count, Length: 269, dtype: Int64

Column: Course Description
Course Description
Digital Storytelling & Culture    9
Statistic Foundations Info Age    9
Computational Thinking & Doing    8
Database Dev And Mgmt             8
Publishing:Papyrus to E-Books     7
                                 ..
Special Topics in Information     1
Computational Social Science      1
Technology of Sound               1
Learning in Information Age       1
Ethics in a Digital World         1
Name: count, Length: 85, dtype: int64

Column: Class Status Code
Class Status Code
A    269
Name: count, dtype: int64

Column: Start Date
Start Date
2022-01-12    218
2022-03-14     50
NaT             1
Name: count, dtype: int64

Column: End Date
End Date
2022-05-04    236
2022-03-04     32
NaT             1
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       268
<NA>      1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      225
TR      26
M        6
MW       6
T        3
F        2
NaN      1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    269
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    269
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      37
5      18
1      17
2      14
9      11
3      11
19     10
25      9
12      9
6       9
24      8
7       8
21      7
16      6
13      6
14      6
15      6
8       6
32      6
10      5
29      5
20      5
11      5
4       4
23      4
22      4
17      4
31      3
27      3
28      3
26      2
44      2
49      1
40      1
76      1
18      1
36      1
30      1
37      1
119     1
39      1
130     1
81      1
93      1
138     1
91      1
64      1
34      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     62
40     33
20     31
25     26
0      21
30     21
15     11
10     10
28     10
5       8
27      5
100     4
70      3
45      2
23      2
80      2
50      2
120     1
21      1
2       1
1       1
16      1
9       1
75      1
4       1
18      1
13      1
17      1
12      1
22      1
130     1
148     1
125     1
Name: count, dtype: int64

=== DataFrame: df_spring23 ===

Column: Term
Term
Spring 2023    298
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    201
Seven Week - Second          50
Seven Week - First           47
Name: count, dtype: int64

Column: Session Code
Session Code
1      201
7W2     50
7W1     47
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    191
Arizona Online                  107
Name: count, dtype: int64

Column: Facility
Facility
Online                       242
R P Harvill Bldg, Rm 402       7
R P Harvill Bldg, Rm 460       6
Live Online                    6
R P Harvill Bldg, Rm 332B      6
R P Harvill Bldg, Rm 428       5
R P Harvill Bldg, Rm 234       4
McClelland Hall, Rm 130        3
R P Harvill Bldg, Rm 318       3
R P Harvill Bldg, Rm 411       2
R P Harvill Bldg, Rm 101       2
R P Harvill Bldg, Rm 102       1
R P Harvill Bldg, Rm 404       1
Music, Rm 146                  1
Aero & Mech Engr, Rm S336      1
Modern Languages, Rm 401       1
Modern Languages, Rm 310       1
M Pacheco ILC, Rm 117          1
Harshbarger Bldg, Rm 206       1
Education, Rm 310              1
Education, Rm 240              1
Biol Sci West, Rm 219          1
Saguaro Hall, Rm 225           1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      248
40      11
31       7
32       6
48       6
35       4
25       4
52       3
51       2
42       1
50       1
28       1
43       1
142      1
55       1
70       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    79
LIS     70
ISTA    69
INFO    60
GAME    20
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
300    10
116     9
570     8
130     8
517     8
       ..
401     1
425     1
414     1
514     1
484     1
Name: count, Length: 101, dtype: int64

Column: Class Section
Class Section
101     107
201      95
001      40
102      12
202      10
002       7
003       3
001A      3
001B      3
101C      2
101D      2
101B      2
201A      2
101A      2
101E      1
101F      1
201B      1
001C      1
001E      1
004       1
005       1
006       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    298
Name: count, dtype: int64

Column: Component
Component
Lecture       273
Discussion     21
Colloquium      3
Seminar         1
Name: count, dtype: int64

Column: Min Units
Min Units
3    280
4     16
1      2
Name: count, dtype: Int64

Column: Max Units
Max Units
3    280
4     16
6      2
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       54
0354    10
0413     6
0700     6
0327     6
        ..
0406     2
2080     2
1835     1
1509     1
2112     1
Name: count, Length: 93, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      249
Closed     49
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    242
In Person        50
Live Online       6
Name: count, dtype: int64

Column: Class Number
Class Number
64001    2
74043    2
64588    2
64000    2
64589    2
        ..
55549    1
76989    1
76990    1
76991    1
70099    1
Name: count, Length: 289, dtype: Int64

Column: Course Description
Course Description
Intro to Digital Cultures         10
Digital Storytelling & Culture    10
Statistic Foundations Info Age     9
Digital Dilemmas                   8
Computational Thinking & Doing     8
                                  ..
Special Topics                     1
Graduate Seminar                   1
Installation Design                1
Natural Language Processing        1
Esports Casting                    1
Name: count, Length: 89, dtype: int64

Column: Class Status Code
Class Status Code
A    298
Name: count, dtype: int64

Column: Start Date
Start Date
2023-01-11    248
2023-03-13     50
Name: count, dtype: int64

Column: End Date
End Date
2023-05-03    251
2023-03-03     47
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    298
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     242
TR     32
MW     10
M       6
T       3
W       3
F       2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    298
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    298
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      49
1      28
2      16
9      12
25     11
23     11
3      11
13     10
10      9
14      9
28      8
17      8
22      8
6       7
8       7
4       7
12      7
16      6
32      5
19      5
7       5
21      4
5       4
20      4
18      4
15      4
27      4
35      3
11      3
26      3
24      2
29      2
30      2
34      2
36      2
68      2
40      2
37      2
117     1
128     1
91      1
151     1
54      1
33      1
45      1
77      1
76      1
42      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     70
40     44
0      30
30     28
25     23
20     17
28      8
10      6
100     6
15      6
32      6
50      5
27      5
45      4
5       4
70      3
1       3
14      3
13      2
80      2
52      2
51      2
21      2
18      2
11      2
55      2
155     2
130     2
17      1
12      1
150     1
26      1
9       1
16      1
33      1
Name: count, dtype: int64

=== DataFrame: df_spring24 ===

Column: Term
Term
Spring 2024    322
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    209
Seven Week - Second          58
Seven Week - First           55
Name: count, dtype: int64

Column: Session Code
Session Code
1      209
7W2     58
7W1     55
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    205
Arizona Online                  117
Name: count, dtype: int64

Column: Facility
Facility
Online                        259
Live Online                     6
R P Harvill Bldg, Rm 332B       6
R P Harvill Bldg, Rm 411        5
R P Harvill Bldg, Rm 402        5
R P Harvill Bldg, Rm 428        4
R P Harvill Bldg, Rm 460        4
Chemistry, Rm 205               3
C E Chavez Bldg, Rm 105         3
R P Harvill Bldg, Rm 318        3
Henry Koffler Bldg, Rm 216      2
Elec & Comp Engr, Rm 107        2
Modern Languages, Rm 411        2
R P Harvill Bldg, Rm 301        2
Gittings Bldg, Rm 207           2
R P Harvill Bldg, Rm 234        2
R P Harvill Bldg, Rm 134        1
Education, Rm 308               1
Education, Rm 441A              1
R P Harvill Bldg, Rm 101        1
R P Harvill Bldg, Rm 115        1
Psychology, Rm 307              1
Psychology, Rm 205              1
Modern Languages, Rm 410        1
Mines & Metallurgy, Rm 221      1
McClelland Park, Rm 103         1
M Pacheco ILC, Rm 150           1
Not Available                   1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      265
40       8
35       7
32       7
48       4
31       4
44       4
30       3
25       3
52       3
56       3
85       2
43       2
38       2
155      1
0        1
51       1
50       1
80       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    80
ISTA    80
INFO    66
LIS     64
GAME    32
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
150B1    10
300      10
116       9
322       8
558       8
         ..
418       1
306       1
426       1
696E      1
595       1
Name: count, Length: 98, dtype: int64

Column: Class Section
Class Section
101     96
201     87
001     40
102     22
202     20
002     11
003      6
203      5
103      5
001A     3
001B     3
101B     2
204      2
101D     2
101C     2
101A     2
201A     2
104      2
210      1
110      1
101E     1
101F     1
004      1
201B     1
001C     1
001E     1
005      1
006      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    322
Name: count, dtype: int64

Column: Component
Component
Lecture       298
Discussion     21
Colloquium      2
Seminar         1
Name: count, dtype: int64

Column: Min Units
Min Units
3    304
4     16
1      2
Name: count, dtype: Int64

Column: Max Units
Max Units
3    304
4     16
6      2
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       55
0583     8
0307     7
0251     6
0285     6
        ..
2111     1
0366     1
0393     1
2110     1
1862     1
Name: count, Length: 109, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      274

KDD: Explore Co-Convened Classes

In [290]:
for df_semester, df in dfs.items():
    # Find for co-convened courses
    co_convened_rows = df[df["Combined Section"] != "-"] # Any value besides "-" is co-convened

    # Count total number of co-convened courses (rows) & how many are unique ("combined section")
    co_convened_total = co_convened_rows.shape[0]
    co_convened_unique = co_convened_rows["Combined Section"].nunique()

    print(f"{df_semester}: {co_convened_total} co-convened courses, {co_convened_unique} unique co-convened course groups (Combined Sections)")

df_fall21: 223 co-convened courses, 95 unique co-convened course groups (Combined Sections)
df_fall22: 222 co-convened courses, 88 unique co-convened course groups (Combined Sections)
df_fall23: 251 co-convened courses, 103 unique co-convened course groups (Combined Sections)
df_fall24: 261 co-convened courses, 104 unique co-convened course groups (Combined Sections)
df_spring22: 219 co-convened courses, 92 unique co-convened course groups (Combined Sections)
df_spring23: 244 co-convened courses, 92 unique co-convened course groups (Combined Sections)
df_spring24: 267 co-convened courses, 108 unique co-convened course groups (Combined Sections)
df_spring25: 281 co-convened courses, 112 unique co-convened course groups (Combined Sections)

Now that data is cleaned, Combine into Fall, Spring, and All DataFrames

In [291]:
#Combined DataFrames: Fall, Spring, and All
df_fall_all = pd.concat(
    [dfs["df_fall21"], dfs["df_fall22"], dfs["df_fall23"], dfs["df_fall24"]],
    ignore_index=True)

df_spring_all = pd.concat(
    [dfs["df_spring22"], dfs["df_spring23"], dfs["df_spring24"], dfs["df_spring25"]],
    ignore_index=True)

df_all = pd.concat([df_fall_all, df_spring_all], ignore_index=True)

dfs_cleaned = {
    "df_fall_all": df_fall_all,
    "df_spring_all": df_spring_all,
    "df_all": df_all
    }

In [292]:
#Save DataFrames to Excel (.xlsx)

for df_semester, df in dfs_cleaned.items():
    filename = f"{df_semester}.xlsx"        # Save file name
    df.to_excel(filename, index=False)      # Save to Excel
    print(f"Saved {df_semester} to {filename}")

Saved df_fall_all to df_fall_all.xlsx
Saved df_spring_all to df_spring_all.xlsx
Saved df_all to df_all.xlsx

KDD: Print Unique Values by Columns again, now for our combined dataframes

In [293]:
for df_semester, df in dfs_cleaned.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall_all ===

Column: Term
Term
Fall 2024    336
Fall 2023    314
Fall 2021    283
Fall 2022    272
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    850
Seven Week - First          183
Seven Week - Second         172
Name: count, dtype: int64

Column: Session Code
Session Code
1      850
7W1    183
7W2    172
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    770
Arizona Online                  435
Name: count, dtype: int64

Column: Facility
Facility
Online                      922
Live Online                  27
R P Harvill Bldg, Rm 402     23
R P Harvill Bldg, Rm 460     22
Elec & Comp Engr, Rm 107     14
                           ...
Modern Languages, Rm 413      1
Social Sciences, Rm 222       1
R P Harvill Bldg, Rm 102      1
R P Harvill Bldg, Rm 105      1
C E Chavez Bldg, Rm 109       1
Name: count, Length: 90, dtype: int64

Column: Room Capacity
Room Capacity
1      953
40      34
31      24
44      19
48      14
36      12
35      12
62      10
51      10
28       9
32       9
42       8
50       8
80       7
75       7
43       6
23       5
30       5
24       4
56       4
38       4
99       4
60       4
68       4
33       4
25       4
145      4
27       3
74       2
0        2
143      2
57       2
120      1
55       1
112      1
150      1
85       1
52       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    326
ESOC    294
INFO    250
LIS     250
GAME     77
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    40
130    38
300    37
302    35
570    28
       ..
581     2
560     1
414     1
306     1
595     1
Name: count, Length: 118, dtype: int64

Column: Class Section
Class Section
101     395
201     369
001     175
002      50
102      39
202      36
003      14
101A     11
001A     10
201A     10
101B      9
001B      9
101C      8
101D      8
201B      7
005       5
001C      5
001D      5
101E      5
006       4
203       4
103       4
204       4
104       4
101F      3
201C      2
007       2
001E      2
205       2
105       2
008       1
202A      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    1205
Name: count, dtype: int64

Column: Component
Component
Lecture       1107
Discussion      94
Colloquium       3
Laboratory       1
Name: count, dtype: int64

Column: Min Units
Min Units
3    1126
4      77
1       2
Name: count, dtype: Int64

Column: Max Units
Max Units
3    1126
4      77
6       2
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       248
0590     12
0306     10
0369     10
0704      8
       ...
1177      1
1655      1
0188      1
0757      1
1658      1
Name: count, Length: 367, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      1015
Closed     190
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               923
In Person                  242
Live Online                 28
Hybrid (Flex In-Person)     12
Name: count, dtype: int64

Column: Class Number
Class Number
50915    2
61070    2
68993    2
52695    2
65474    2
        ..
60650    1
61218    1
62646    1
59690    1
57776    1
Name: count, Length: 1179, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    40
Computational Thinking & Doing    38
Digital Storytelling & Culture    37
Ethical Issues in Information     30
Database Dev And Mgmt             28
                                  ..
Learning Design Lib/Info Prof      2
Collection Management              1
Esports Casting                    1
Special Topics                     1
Foundation of Info & Inference     1
Name: count, Length: 105, dtype: int64

Column: Class Status Code
Class Status Code
A    1205
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    288
2023-08-21    266
2021-08-23    252
2022-08-22    225
2023-10-12     48
2024-10-17     48
2022-10-13     46
2021-10-14     30
NaT             2
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    284
2023-12-06    264
2021-12-08    243
2022-12-07    229
2024-10-16     52
2023-10-11     50
2022-10-12     42
2021-10-13     39
NaT             2
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       1203
<NA>       2
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      924
TR     146
MW      56
M       22
W       17
F       17
T       12
R        9
NaN      2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    1205
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    1205
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      144
1       86
2       52
5       51
3       50
      ...
146      1
91       1
77       1
151      1
142      1
Name: count, Length: 78, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     247
35     205
30     163
25     104
20      76
0       63
10      47
15      44
28      22
80      21
5       19
23      15
27      13
60      11
24      10
150     10
17      10
31       9
32       9
50       8
1        7
4        7
125      6
100      6
46       6
45       5
26       5
22       5
13       5
7        4
34       4
3        4
90       3
29       3
44       2
6        2
74       2
18       2
9        2
56       2
57       2
2        2
38       2
8        2
21       2
54       1
36       1
53       1
42       1
49       1
11       1
68       1
Name: count, dtype: int64

=== DataFrame: df_spring_all ===

Column: Term
Term
Spring 2025    362
Spring 2024    322
Spring 2023    298
Spring 2022    269
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    851
Seven Week - Second         216
Seven Week - First          184
Name: count, dtype: int64

Column: Session Code
Session Code
1      851
7W2    216
7W1    184
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    805
Arizona Online                  446
Name: count, dtype: int64

Column: Facility
Facility
Online                       987
R P Harvill Bldg, Rm 402      23
Live Online                   19
R P Harvill Bldg, Rm 460      15
R P Harvill Bldg, Rm 332B     13
                            ...
Communication, Rm 113          1
Communication, Rm 206          1
Education, Rm 316              1
Saguaro Hall, Rm 225           1
The Commons, Rm 105            1
Name: count, Length: 90, dtype: int64

Column: Room Capacity
Room Capacity
1      1006
40       49
32       23
35       16
31       16
28       14
25       13
48       13
44       12
30       11
38        8
43        8
36        7
56        7
52        6
99        4
85        3
51        3
42        3
23        3
55        3
50        2
83        2
80        2
0         2
60        2
94        2
155       2
20        1
54        1
125       1
27        1
33        1
68        1
70        1
142       1
217       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    321
ESOC    314
LIS     268
INFO    247
GAME     93
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
300    37
116    37
130    34
570    32
330    31
       ..
355     1
536     1
505     1
501     1
200     1
Name: count, Length: 130, dtype: int64

Column: Class Section
Class Section
101     408
201     369
001     159
102      60
202      52
002      45
003      18
001A     14
001B     14
103       9
203       9
201A      9
101A      8
101D      6
001C      6
101C      6
101B      6
004       5
006       5
001E      5
104       4
204       4
201B      4
110       4
005       3
101E      3
210       3
101F      3
001D      3
009       1
001F      1
008       1
207       1
205       1
107       1
105       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    1251
Name: count, dtype: int64

Column: Component
Component
Lecture       1151
Discussion      88
Colloquium       8
Seminar          4
Name: count, dtype: int64

Column: Min Units
Min Units
3    1174
4      70
1       7
Name: count, dtype: Int64

Column: Max Units
Max Units
3    1174
4      70
6       7
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       240
2012     12
0354     10
0583      8
1059      7
       ...
2127      1
0393      1
2126      1
2117      1
1591      1
Name: count, Length: 372, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      1068
Closed     183
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               987
In Person                  228
Live Online                 19
Hybrid (Flex In-Person)     17
Name: count, dtype: int64

Column: Class Number
Class Number
74043    2
64000    2
61724    2
64588    2
74040    2
        ..
61836    1
67010    1
78908    1
77964    1
52464    1
Name: count, Length: 1234, dtype: Int64

Column: Course Description
Course Description
Digital Storytelling & Culture    37
Statistic Foundations Info Age    37
Computational Thinking & Doing    34
Database Dev And Mgmt             32
Digital Dilemmas                  28
                                  ..
Foundation of Info & Inference     1
Foundations of Information         1
Data Science, Public Interests     1
Adv ML Apps                        1
Visual Content Creation            1
Name: count, Length: 115, dtype: int64

Column: Class Status Code
Class Status Code
A    1251
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    304
2024-01-10    264
2023-01-11    248
2022-01-12    218
2024-03-11     58
2025-03-17     58
2022-03-14     50
2023-03-13     50
NaT             1
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    312
2024-05-01    267
2023-05-03    251
2022-05-04    236
2024-03-01     55
2025-03-07     50
2023-03-03     47
2022-03-04     32
NaT             1
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       1248
2          2
<NA>       1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      991
TR     141
MW      49
M       28
F       17
W       15
T        9
NaN      1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    1251
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    1251
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      170
1       90
2       65
3       54
9       45
      ...
93       1
49       1
138      1
64       1
103      1
Name: count, Length: 77, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     273
40     233
30     142
0      106
25      98
20      73
28      44
10      26
80      23
100     23
50      21
15      18
5       16
27      15
45      12
70      10
60       9
32       8
1        8
21       7
52       7
155      5
130      5
14       5
55       4
11       4
9        4
16       4
13       4
17       4
120      3
150      3
18       3
6        2
23       2
4        2
12       2
24       2
125      2
51       2
37       2
47       1
43       1
42       1
135      1
200      1
2        1
75       1
29       1
31       1
3        1
8        1
22       1
26       1
148      1
33       1
Name: count, dtype: int64

=== DataFrame: df_all ===

Column: Term
Term
Spring 2025    362
Fall 2024      336
Spring 2024    322
Fall 2023      314
Spring 2023    298
Fall 2021      283
Fall 2022      272
Spring 2022    269
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    1701
Seven Week - Second          388
Seven Week - First           367
Name: count, dtype: int64

Column: Session Code
Session Code
1      1701
7W2     388
7W1     367
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    1575
Arizona Online                   881
Name: count, dtype: int64

Column: Facility
Facility
Online                      1909
Live Online                   46
R P Harvill Bldg, Rm 402      46
R P Harvill Bldg, Rm 460      37
R P Harvill Bldg, Rm 428      19
                            ...
Saguaro Hall, Rm 223           1
R P Harvill Bldg, Rm 404       1
Saguaro Hall, Rm 225           1
R P Harvill Bldg, Rm 111       1
The Commons, Rm 105            1
Name: count, Length: 134, dtype: int64

Column: Room Capacity
Room Capacity
1      1959
40       83
31       40
32       32
44       31
35       28
48       27
28       23
36       19
25       17
30       16
43       14
51       13
38       12
42       11
56       11
50       10
62       10
80        9
99        8
23        8
52        7
75        7
60        6
33        5
68        5
55        4
85        4
27        4
24        4
0         4
145       4
94        2
57        2
143       2
74        2
155       2
83        2
54        1
20        1
125       1
150       1
70        1
142       1
120       1
112       1
217       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    647
ESOC    608
LIS     518
INFO    497
GAME    170
BE        8
PLS       8
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    77
300    74
130    72
302    65
570    60
       ..
309     2
426     2
355     1
621     1
200     1
Name: count, Length: 137, dtype: int64

Column: Class Section
Class Section
101     803
201     738
001     334
102      99
002      95
202      88
003      32
001A     24
001B     23
101A     19
201A     19
101B     15
101D     14
101C     14
103      13
203      13
201B     11
001C     11
006       9
104       8
204       8
005       8
101E      8
001D      8
001E      7
101F      6
004       5
110       4
205       3
105       3
210       3
201C      2
008       2
007       2
202A      1
009       1
001F      1
207       1
107       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    2456
Name: count, dtype: int64

Column: Component
Component
Lecture       2258
Discussion     182
Colloquium      11
Seminar          4
Laboratory       1
Name: count, dtype: int64

Column: Min Units
Min Units
3    2300
4     147
1       9
Name: count, dtype: Int64

Column: Max Units
Max Units
3    2300
4     147
6       9
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       488
2012     12
0187     12
0590     12
0369     10
       ...
1137      1
0879      1
0188      1
1892      1
0703      1
Name: count, Length: 661, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      2083
Closed     373
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               1910
In Person                   470
Live Online                  47
Hybrid (Flex In-Person)      29
Name: count, dtype: int64

Column: Class Number
Class Number
67648    2
64000    2
74040    2
73173    2
65474    2
        ..
72732    1
70962    1
68385    1
55405    1
52464    1
Name: count, Length: 2399, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    77
Digital Storytelling & Culture    74
Computational Thinking & Doing    72
Database Dev And Mgmt             60
Social Media and Ourselves        50
                                  ..
Foundation of Info & Inference     2
Special Topics                     2
Natural Language Processing        1
Adv ML Apps                        1
Visual Content Creation            1
Name: count, Length: 125, dtype: int64

Column: Class Status Code
Class Status Code
A    2456
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    304
2024-08-26    288
2023-08-21    266
2024-01-10    264
2021-08-23    252
2023-01-11    248
2022-08-22    225
2022-01-12    218
2024-03-11     58
2025-03-17     58
2022-03-14     50
2023-03-13     50
2023-10-12     48
2024-10-17     48
2022-10-13     46
2021-10-14     30
NaT             3
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    312
2024-12-11    284
2024-05-01    267
2023-12-06    264
2023-05-03    251
2021-12-08    243
2022-05-04    236
2022-12-07    229
2024-03-01     55
2024-10-16     52
2023-10-11     50
2025-03-07     50
2023-03-03     47
2022-10-12     42
2021-10-13     39
2022-03-04     32
NaT             3
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       2451
<NA>       3
2          2
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      1915
TR      287
MW      105
M        50
F        34
W        32
T        21
R         9
NaN       3
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    2456
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    2456
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      314
1      176
2      117
3      104
5       95
      ...
123      1
59       1
57       1
79       1
103      1
Name: count, Length: 97, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     480
35     478
30     305
25     202
0      169
      ...
68       1
54       1
53       1
49       1
200      1
Name: count, Length: 70, dtype: int64

Make more DataFrames: 1) Undergrad vs Graduate, 2) Online vs In-Person

In [294]:
#New DFs: Undergrad vs Grad

# empty dictionary for ugrad vs grad
dfs_split = {}

# Iterate through our cleaned DataFrames' dictionary (dfs_cleaned)
for name, df in dfs_cleaned.items():
    # Extract First Digit from "Catalog Number" column, convert to float
    first_digit = df["Catalog Number"].astype(str).str[0].str.extract(r"(\d)").astype(float)

    # Add a temporary column to store the extracted digit
    df = df.copy()
    df["Catalog_First_Digit"] = first_digit

    # Split Undergrad vs Grad based on the float first digit <5 (ugrad) or >= 5 (grad)
    df_ugrad = df[df["Catalog_First_Digit"] < 5].copy()
    df_grad = df[df["Catalog_First_Digit"] >= 5].copy()

    # Store Ugrad & Grad DFs in dictionary dfs_split
    dfs_split[f"{name}_ugrad"] = df_ugrad
    dfs_split[f"{name}_grad"] = df_grad

In [295]:
# Print name & numbers of rows/columns by each Ugrad & Grad DF
for name, df in dfs_split.items():
    print(f"{name}: {df.shape[0]} rows, {df.shape[1]} columns")

df_fall_all_ugrad: 766 rows, 28 columns
df_fall_all_grad: 439 rows, 28 columns
df_spring_all_ugrad: 793 rows, 28 columns
df_spring_all_grad: 458 rows, 28 columns
df_all_ugrad: 1559 rows, 28 columns
df_all_grad: 897 rows, 28 columns

In [296]:
# Make Jupyter Variables for our 6 new Ugrad/Grad DFs
for name, df in dfs_split.items():
    globals()[name] = df

In [297]:
#Save Ugrad/Grad DataFrames to Excel (.xlsx) (dictionary dfs_split)

for df_semester, df in dfs_split.items():
    filename = f"{df_semester}.xlsx"        # Save file name
    df.to_excel(filename, index=False)      # Save to Excel
    print(f"Saved {df_semester} to {filename}")

Saved df_fall_all_ugrad to df_fall_all_ugrad.xlsx
Saved df_fall_all_grad to df_fall_all_grad.xlsx
Saved df_spring_all_ugrad to df_spring_all_ugrad.xlsx
Saved df_spring_all_grad to df_spring_all_grad.xlsx
Saved df_all_ugrad to df_all_ugrad.xlsx
Saved df_all_grad to df_all_grad.xlsx

KDD: Print Unique Values by Columns again, now for our Ugrad/Grad combined dataframes

In [298]:
for df_semester, df in dfs_split.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall_all_ugrad ===

Column: Term
Term
Fall 2024    213
Fall 2023    195
Fall 2021    188
Fall 2022    170
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    490
Seven Week - First          142
Seven Week - Second         134
Name: count, dtype: int64

Column: Session Code
Session Code
1      490
7W1    142
7W2    134
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    497
Arizona Online                  269
Name: count, dtype: int64

Column: Facility
Facility
Online                        580
Live Online                    21
R P Harvill Bldg, Rm 402       13
R P Harvill Bldg, Rm 428        8
Elec & Comp Engr, Rm 107        8
                             ...
C E Chavez Bldg, Rm 303         1
Communication, Rm 214           1
Education, Rm 535               1
Mines & Metallurgy, Rm 213      1
Social Sciences, Rm 206         1
Name: count, Length: 73, dtype: int64

Column: Room Capacity
Room Capacity
1      605
40      23
48      14
44      10
51       9
62       8
28       8
50       7
42       7
36       6
23       5
31       5
43       5
35       5
75       4
25       4
32       4
99       4
24       3
145      3
27       3
80       3
30       2
57       2
38       2
60       2
56       2
33       2
68       2
74       1
143      1
120      1
55       1
150      1
112      1
52       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    326
ESOC    294
GAME     77
LIS      50
INFO     15
BE        2
PLS       2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    40
130    38
300    37
302    35
131    25
       ..
450     2
455     2
418     2
414     1
306     1
Name: count, Length: 67, dtype: int64

Column: Class Section
Class Section
101     229
201     210
001      99
002      32
102      32
202      29
101A     11
201A     10
003      10
001B      9
101B      9
001A      9
101C      8
101D      8
201B      7
001D      5
001C      5
101E      5
005       4
006       4
203       4
103       4
204       4
104       4
101F      3
201C      2
007       2
001E      2
205       2
105       2
008       1
202A      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    766
Name: count, dtype: int64

Column: Component
Component
Lecture       670
Discussion     94
Colloquium      2
Name: count, dtype: int64

Column: Min Units
Min Units
3    688
4     77
1      1
Name: count, dtype: Int64

Column: Max Units
Max Units
3    688
4     77
6      1
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       211
0590      6
0306      6
0416      6
0007      4
       ...
1373      1
1126      1
1850      1
0798      1
2041      1
Name: count, Length: 296, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      632
Closed    134
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               580
In Person                  153
Live Online                 21
Hybrid (Flex In-Person)     12
Name: count, dtype: int64

Column: Class Number
Class Number
50914    2
59601    2
68634    2
52694    2
67509    2
        ..
68110    1
60935    1
59690    1
62646    1
57778    1
Name: count, Length: 756, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    40
Computational Thinking & Doing    38
Digital Storytelling & Culture    37
Dealing with Data                 25
Social Media and Ourselves        24
                                  ..
Designing an Installation          1
Computational Social Science       1
Esports Casting                    1
Special Topics in Information      1
Foundation of Info & Inference     1
Name: count, Length: 73, dtype: int64

Column: Class Status Code
Class Status Code
A    766
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    175
2021-08-23    162
2023-08-21    158
2022-08-22    137
2024-10-17     38
2023-10-12     37
2022-10-13     33
2021-10-14     26
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    171
2023-12-06    157
2021-12-08    156
2022-12-07    140
2024-10-16     42
2023-10-11     38
2021-10-13     32
2022-10-12     30
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    766
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     582
TR    104
MW     42
F      17
M      12
W       6
R       3
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    766
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    766
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      53
1      32
25     31
2      30
5      28
       ..
113     1
91      1
77      1
151     1
142     1
Name: count, Length: 73, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     196
30     102
25      98
35      80
20      48
10      28
15      23
0       22
80      18
23      15
5       15
28      13
150     10
24      10
17      10
27       7
125      6
31       6
4        6
46       6
100      5
50       5
45       5
32       4
26       4
34       3
90       3
8        2
18       2
74       2
13       2
21       2
1        2
3        1
22       1
6        1
56       1
57       1
7        1
Name: count, dtype: int64

Column: Catalog_First_Digit
Catalog_First_Digit
3.0    349
4.0    164
1.0    155
2.0     98
Name: count, dtype: int64

=== DataFrame: df_fall_all_grad ===

Column: Term
Term
Fall 2024    123
Fall 2023    119
Fall 2022    102
Fall 2021     95
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    360
Seven Week - First           41
Seven Week - Second          38
Name: count, dtype: int64

Column: Session Code
Session Code
1      360
7W1     41
7W2     38
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    273
Arizona Online                  166
Name: count, dtype: int64

Column: Facility
Facility
Online                        342
R P Harvill Bldg, Rm 460       19
R P Harvill Bldg, Rm 402       10
Live Online                     6
Elec & Comp Engr, Rm 107        6
R P Harvill Bldg, Rm 130        5
Education, Rm 240               4
R P Harvill Bldg, Rm 411        3
R P Harvill Bldg, Rm 316        2
McClelland Park, Rm 103         2
R P Harvill Bldg, Rm 302        2
R P Harvill Bldg, Rm 208        2
Social Sciences, Rm 206         2
Haury Anthro Bldg, Rm 216       2
Not Available                   2
Modern Languages, Rm 311        2
Meinel Optical Sci, Rm 422      2
C E Chavez Bldg, Rm 111         1
C E Chavez Bldg, Rm 103         1
Saguaro Hall, Rm 114            1
R P Harvill Bldg, Rm 415        1
R P Harvill Bldg, Rm 305        1
Psychology, Rm 306              1
Modern Languages, Rm 310        1
McClelland Hall, Rm 123         1
M Pacheco ILC, Rm 130           1
Harshbarger Bldg, Rm 206        1
Chemistry, Rm 218               1
Chemistry, Rm 205               1
R P Harvill Bldg, Rm 313        1
C E Chavez Bldg, Rm 104         1
R P Harvill Bldg, Rm 301        1
R P Harvill Bldg, Rm 204        1
Modern Languages, Rm 413        1
Modern Languages, Rm 410        1
Modern Languages, Rm 202        1
Engineering, Rm 307             1
C E Chavez Bldg, Rm 109         1
Shantz, Rm 242E                 1
R P Harvill Bldg, Rm 134        1
R P Harvill Bldg, Rm 232        1
Henry Koffler Bldg, Rm 216      1
Civil Engineering, Rm 201       1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      348
31      19
40      11
44       9
35       7
36       6
32       5
80       4
30       3
75       3
56       2
60       2
38       2
0        2
68       2
33       2
62       2
145      1
24       1
42       1
28       1
50       1
143      1
74       1
43       1
51       1
85       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
INFO    235
LIS     200
BE        2
PLS       2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
570    28
540    24
523    23
515    22
520    20
558    18
571    16
671    16
672    16
557    15
526    15
673    14
578    14
504    12
584    12
506    12
521    10
516    10
608     8
559     8
551     8
531     8
530     8
572     8
676     8
586     6
579     6
524     6
529     6
502     5
525     4
518     4
641     4
577     4
575     4
552     4
505     3
511     3
555     3
536     3
501     3
507     2
550     2
510     2
514     2
535     2
588     2
567     2
581     2
560     1
595     1
Name: count, dtype: int64

Column: Class Section
Class Section
101     166
201     159
001      76
002      18
202       7
102       7
003       4
001A      1
005       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    439
Name: count, dtype: int64

Column: Component
Component
Lecture       437
Laboratory      1
Colloquium      1
Name: count, dtype: int64

Column: Min Units
Min Units
3    438
1      1
Name: count, dtype: Int64

Column: Max Units
Max Units
3    438
6      1
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       37
0704     8
0369     8
0385     6
0590     6
        ..
1215     1
0885     1
0571     1
0731     1
0604     1
Name: count, Length: 167, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      383
Closed     56
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    343
In Person        89
Live Online       7
Name: count, dtype: int64

Column: Class Number
Class Number
55401    2
52695    2
55400    2
67504    2
40678    2
        ..
47764    1
50297    1
50295    1
51815    1
57776    1
Name: count, Length: 429, dtype: Int64

Column: Course Description

Course Description
Database Dev And Mgmt             28
Introduction To Archives          24
Organization/Information          22
Ethical Issues in Information     20
Social Justice in Info Service    18
Intro Info Technology             16
Intro Digital Curation/Preserv    16
Intro Applied Technology          16
Data Analysis and Visualizatio    15
Data Mining/Discovery             15
Science Information               14
Found Libr+Info Services          12
Rsrch Mth/Libr+Info Prof          12
Intellectual Property/Copyrigh    12
Intro: Human Computer Interact    10
Intro to Machine Learning         10
Digital Info Mgmt Capstn           8
Data Warehousing in the Cloud      8
Mgmt for Info Professionals        8
Managing the Information Org       8
Game Development                   8
Government Information             8
Early Chlhd+Public Librs           8
Cataloging+Metadata Mgmt           8
Documnt Divrs Cult+Comms           8
Mktng Library+Info Srvcs           8
Neural Networks                    7
Applied Cyberinfrastruct Conc      6
Virtual Reality                    6
SQL/NoSQL Databases                6
Managing Digital Info              6
Data Ethics                        5
Info Trust and Manipulation        4
Algorithms for Games               4
Comm focused Archives/Museums      4
Learning Design                    4
Information Security               4
User Interf+Website Dsgn           4
Advanced Game Development          4
Foundations of Information         3
Designing an Installation          3
Foundations of Data Science        3
Applied NLP                        3
Data Science, Public Interests     3
Information Research Methods       2
Artificial Intelligence            2
Computational Social Science       2
Bayesian Modeling & Inference      2
Leadership & the Info Org          2
Business Information               2
Special Topics in LIS              2
Learning Design Lib/Info Prof      2
How to Teach Info Literacy         2
Special Topics in Information      1
Collection Management              1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    439
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    113
2023-08-21    108
2021-08-23     90
2022-08-22     88
2022-10-13     13
2023-10-12     11
2024-10-17     10
2021-10-14      4
NaT             2
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    113
2023-12-06    107
2022-12-07     89
2021-12-08     87
2022-10-12     12
2023-10-11     12
2024-10-16     10
2021-10-13      7
NaT             2
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       437
<NA>      2
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      342
TR      42
MW      14
T       12
W       11
M       10
R        6
NaN      2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    439
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    439
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0     91
1     54
3     26
4     26
10    26
5     23
2     22
7     21
8     17
6     16
12    11
11    11
13     9
9      8
14     7
30     7
18     6
15     6
16     5
21     5
26     4
25     3
20     3
35     3
33     3
17     3
34     3
42     2
22     2
24     2
32     2
59     1
36     1
68     1
28     1
57     1
44     1
56     1
50     1
23     1
49     1
38     1
19     1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     125
30      61
40      51
0       41
20      28
15      21
10      19
60      11
28       9
25       6
27       6
32       5
1        5
22       4
5        4
3        3
29       3
7        3
80       3
50       3
31       3
13       3
9        2
44       2
2        2
38       2
100      1
57       1
6        1
56       1
26       1
4        1
54       1
53       1
34       1
42       1
49       1
11       1
36       1
68       1
Name: count, dtype: int64

Column: Catalog_First_Digit
Catalog_First_Digit
5.0    373
6.0     66
Name: count, dtype: int64

=== DataFrame: df_spring_all_ugrad ===

Column: Term
Term
Spring 2025    230
Spring 2024    206
Spring 2023    183
Spring 2022    174
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    484
Seven Week - Second         164
Seven Week - First          145
Name: count, dtype: int64

Column: Session Code
Session Code
1      484
7W2    164
7W1    145
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    528
Arizona Online                  265
Name: count, dtype: int64

Column: Facility
Facility
Online                      606
R P Harvill Bldg, Rm 402     14
Live Online                  13
R P Harvill Bldg, Rm 428     11
R P Harvill Bldg, Rm 411     10
                           ...
Modern Languages, Rm 410      1
Not Available                 1
R P Harvill Bldg, Rm 115      1
R P Harvill Bldg, Rm 134      1
The Commons, Rm 105           1
Name: count, Length: 80, dtype: int64

Column: Room Capacity
Room Capacity
1      619
40      33
32      13
25      13
35      13
48      12
44      11
28      11
38       8
36       7
30       7
31       6
43       5
52       4
99       3
56       3
42       3
50       2
51       2
23       2
55       2
85       2
155      2
80       1
142      1
70       1
68       1
0        1
27       1
94       1
83       1
60       1
217      1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    321
ESOC    314
GAME     91
LIS      55
INFO      8
BE        2
PLS       2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    37
300    37
130    34
330    31
302    30
       ..
475     2
355     1
457     1
410     1
200     1
Name: count, Length: 73, dtype: int64

Column: Class Section
Class Section
101     229
201     204
001      97
102      42
202      36
002      32
001A     14
001B     14
003      13
103       9
203       9
201A      9
101A      8
101D      6
001C      6
101C      6
101B      6
004       5
006       5
001E      5
104       4
204       4
201B      4
110       4
005       3
101E      3
210       3
101F      3
001D      3
009       1
001F      1
008       1
207       1
205       1
107       1
105       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    793
Name: count, dtype: int64

Column: Component
Component
Lecture       700
Discussion     88
Colloquium      5
Name: count, dtype: int64

Column: Min Units
Min Units
3    719
4     70
1      4
Name: count, dtype: Int64

Column: Max Units
Max Units
3    719
4     70
6      4
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       213
0181      6
2012      6
0145      6
0002      6
       ...
1592      1
1807      1
1808      1
1591      1
0779      1
Name: count, Length: 292, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      688
Closed    105
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               606
In Person                  159
Hybrid (Flex In-Person)     15
Live Online                 13
Name: count, dtype: int64

Column: Class Number
Class Number
61818    2
74040    2
67648    2
72349    2
74043    2
        ..
77944    1
59067    1
68677    1
68678    1
62973    1
Name: count, Length: 786, dtype: Int64

Column: Course Description
Course Description
Digital Storytelling & Culture    37
Statistic Foundations Info Age    37
Computational Thinking & Doing    34
Digital Dilemmas                  28
Social Media and Ourselves        26
                                  ..
Special Topics                     1
Foundation of Info & Inference     1
Neural Networks                    1
Bayesian Modeling & Inference      1
Visual Content Creation            1
Name: count, Length: 78, dtype: int64

Column: Class Status Code
Class Status Code
A    793
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    185
2024-01-10    163
2023-01-11    145
2022-01-12    136
2025-03-17     45
2024-03-11     43
2022-03-14     38
2023-03-13     38
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    189
2024-05-01    163
2023-05-03    149
2022-05-04    147
2024-03-01     43
2025-03-07     41
2023-03-03     34
2022-03-04     27
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    792
2      1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     609
TR    101
MW     37
M      22
F      17
W       6
T       1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    793
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    793
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      61
1      35
25     34
2      29
3      29
       ..
64      1
54      1
151     1
128     1
103     1
Name: count, Length: 74, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     221
30     100
35      99
25      91
20      52
0       36
28      27
100     19
80      19
5       13
45      12
10      11
27       9
32       6
50       6
15       5
1        5
130      5
155      5
21       4
52       4
55       4
16       4
9        4
150      3
60       3
120      3
6        2
70       2
125      2
23       2
17       2
135      1
200      1
37       1
42       1
47       1
18       1
14       1
2        1
75       1
51       1
148      1
26       1
3        1
Name: count, dtype: int64

Column: Catalog_First_Digit
Catalog_First_Digit
3.0    379
4.0    172
1.0    145
2.0     97
Name: count, dtype: int64

=== DataFrame: df_spring_all_grad ===

Column: Term
Term
Spring 2025    132
Spring 2024    116
Spring 2023    115
Spring 2022     95
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    367
Seven Week - Second          52
Seven Week - First           39
Name: count, dtype: int64

Column: Session Code
Session Code
1      367
7W2     52
7W1     39
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    277
Arizona Online                  181
Name: count, dtype: int64

Column: Facility
Facility
Online                        381
R P Harvill Bldg, Rm 460       10
R P Harvill Bldg, Rm 402        9
R P Harvill Bldg, Rm 332B       8
Live Online                     6
Psychology, Rm 204              4
Chemistry, Rm 205               3
Modern Languages, Rm 310        2
C E Chavez Bldg, Rm 105         2
Modern Languages, Rm 304        2
R P Harvill Bldg, Rm 318        2
McClelland Hall, Rm 130         2
Education, Rm 341               1
Modern Languages, Rm 411        1
McClelland Hall, Rm 127         1
Psychology, Rm 304              1
Social Sciences, Rm 222         1
McClelland Hall, Rm 126         1
M Pacheco ILC, Rm 125           1
Henry Koffler Bldg, Rm 218      1
Haury Anthro Bldg, Rm 129       1
Flex In-Person                  1
Engineering, Rm 307             1
Education, Rm 432               1
Henry Koffler Bldg, Rm 216      1
Education, Rm 316               1
Education, Rm 240               1
Architecture, Rm 103            1
McClelland Park, Rm 103         1
Education, Rm 310               1
Gittings Bldg, Rm 207           1
Elec & Comp Engr, Rm 107        1
Saguaro Hall, Rm 225            1
R P Harvill Bldg, Rm 101        1
R P Harvill Bldg, Rm 319        1
R P Harvill Bldg, Rm 105        1
R P Harvill Bldg, Rm 102        1
Not Available                   1
Social Sciences, Rm 411         1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      387
40      16
31      10
32      10
30       4
56       4
28       3
35       3
43       3
52       2
33       1
94       1
54       1
60       1
125      1
83       1
99       1
85       1
80       1
44       1
0        1
55       1
48       1
23       1
51       1
20       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
INFO    239
LIS     213
GAME      2
BE        2
PLS       2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
570     32
521     21
558     18
671     18
526     18
515     16
580     16
640     16
517     16
571     15
567     14
673     14
560     12
523      9
516      9
532      8
504      8
583      8
675      8
555      8
551      8
582      8
584      8
550      8
563      8
506      8
524      7
579      7
535      6
529      6
578      6
520      6
581      6
530      6
531      6
518      6
552      6
541      6
577      5
588      4
502      4
540      4
696E     4
676      4
575      4
595      3
514      3
511      3
557      3
608      2
525      2
507      2
501      1
505      1
536      1
621      1
510      1
Name: count, dtype: int64

Column: Class Section
Class Section
101    179
201    165
001     62
102     18
202     16
002     13
003      5
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    458
Name: count, dtype: int64

Column: Component
Component
Lecture       451
Seminar         4
Colloquium      3
Name: count, dtype: int64

Column: Min Units
Min Units
3    455
1      3
Name: count, dtype: Int64

Column: Max Units
Max Units
3    455
6      3
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       27
0583     8
0354     8
0669     6
0457     6
        ..
1734     1
0524     1
1519     1
0864     1
0366     1
Name: count, Length: 185, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      380
Closed     78
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               381
In Person                   69
Live Online                  6
Hybrid (Flex In-Person)      2
Name: count, dtype: int64

Column: Class Number
Class Number
77722    2
91786    2
91785    2
64000    2
64588    2
        ..
63490    1
64034    1
88101    1
77923    1
52464    1
Name: count, Length: 449, dtype: Int64

Column: Course Description
Course Description
Database Dev And Mgmt             32
Social Justice in Info Service    18
Intro Digital Curation/Preserv    18
Organization/Information          16
Data for the Semantic Web         16
                                  ..
Designing an Installation          1
Foundations of Information         1
Data Science, Public Interests     1
Adv ML Apps                        1
Bayesian Modeling & Inference      1
Name: count, Length: 64, dtype: int64

Column: Class Status Code
Class Status Code
A    458
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    119
2023-01-11    103
2024-01-10    101
2022-01-12     82
2024-03-11     15
2025-03-17     13
2022-03-14     12
2023-03-13     12
NaT             1
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    123
2024-05-01    104
2023-05-03    102
2022-05-04     89
2023-03-03     13
2024-03-01     12
2025-03-07      9
2022-03-04      5
NaT             1
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       456
2         1
<NA>      1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      382
TR      40
MW      12
W        9
T        8
M        6
NaN      1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    458
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    458
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0     109
1      55
2      36
3      25
4      23
5      22
6      18
9      17
8      16
7      15
10     14
12     11
17      9
11      9
13      8
15      6
16      6
22      5
14      5
20      4
18      4
21      4
19      4
24      3
27      3
36      2
26      2
33      2
25      2
31      2
32      2
23      2
28      2
30      1
29      1
70      1
58      1
42      1
37      1
35      1
41      1
45      1
43      1
47      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     174
0       70
30      42
20      21
28      17
10      15
50      15
15      13
40      12
70       8
25       7
27       6
60       6
13       4
14       4
80       4
100      4
11       4
21       3
52       3
1        3
5        3
4        2
17       2
32       2
12       2
24       2
18       2
51       1
33       1
8        1
31       1
29       1
22       1
37       1
43       1
Name: count, dtype: int64

Column: Catalog_First_Digit
Catalog_First_Digit
5.0    391
6.0     67
Name: count, dtype: int64

=== DataFrame: df_all_ugrad ===

Column: Term
Term
Spring 2025    230
Fall 2024      213
Spring 2024    206
Fall 2023      195
Fall 2021      188
Spring 2023    183
Spring 2022    174
Fall 2022      170
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    974
Seven Week - Second         298
Seven Week - First          287
Name: count, dtype: int64

Column: Session Code
Session Code
1      974
7W2    298
7W1    287
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    1025
Arizona Online                   534
Name: count, dtype: int64

Column: Facility
Facility
Online                      1186
Live Online                   34
R P Harvill Bldg, Rm 402      27
R P Harvill Bldg, Rm 428      19
R P Harvill Bldg, Rm 411      15
                            ...
Modern Languages, Rm 214       1
R P Harvill Bldg, Rm 240       1
Education, Rm 240              1
Modern Languages, Rm 401       1
The Commons, Rm 105            1
Name: count, Length: 119, dtype: int64

Column: Room Capacity
Room Capacity
1      1224
40       56
48       26
44       21
28       19
35       18
32       17
25       17
36       13
31       11
51       11
42       10
38       10
43       10
30        9
50        9
62        8
99        7
23        7
52        5
56        5
80        4
75        4
27        4
55        3
68        3
24        3
60        3
145       3
33        2
57        2
85        2
155       2
70        1
83        1
94        1
0         1
112       1
142       1
74        1
143       1
120       1
150       1
217       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    647
ESOC    608
GAME    168
LIS     105
INFO     23
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    77
300    74
130    72
302    65
301    52
       ..
410     3
309     2
426     2
355     1
200     1
Name: count, Length: 75, dtype: int64

Column: Class Section
Class Section
101     458
201     414
001     196
102      74
202      65
002      64
001A     23
001B     23
003      23
101A     19
201A     19
101B     15
101C     14
101D     14
203      13
103      13
001C     11
201B     11
006       9
101E      8
001D      8
104       8
204       8
001E      7
005       7
101F      6
004       5
110       4
205       3
105       3
210       3
201C      2
007       2
008       2
202A      1
009       1
001F      1
207       1
107       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    1559
Name: count, dtype: int64

Column: Component
Component
Lecture       1370
Discussion     182
Colloquium       7
Name: count, dtype: int64

Column: Min Units
Min Units
3    1407
4     147
1       5
Name: count, dtype: Int64

Column: Max Units
Max Units
3    1407
4     147
6       5
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       424
0145      8
0147      6
0226      6
0182      6
       ...
2117      1
0866      1
0879      1
0454      1
1296      1
Name: count, Length: 538, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      1320
Closed     239
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               1186
In Person                   312
Live Online                  34
Hybrid (Flex In-Person)      27
Name: count, dtype: int64

Column: Class Number
Class Number
66931    2
56981    2
74040    2
67648    2
50914    2
        ..
46390    1
55385    1
68381    1
50416    1
62973    1
Name: count, Length: 1536, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    77
Digital Storytelling & Culture    74
Computational Thinking & Doing    72
Social Media and Ourselves        50
Dealing with Data                 49

New Data Frames: In-Person vs Online 

(from dfs_cleaned: df_all, df_fall_all, df_spring_all; can revisit splitting grad/ugrad by in-person vs online if necessary)

In [299]:
# In-Person vs Online DataFrames

# Empty dictionary to store the new split (In-Person/Online) DFs
dfs_mode_split = {}

# Loop through the cleaned DataFrames in dict dfs_cleaned
for name, df in dfs_cleaned.items():
    df = df.copy()

    # Online Vs In-Person: Defined by values in "Facility" (have more options if this)
    df_online = df[df["Facility"] == "Online"].copy()
    df_inperson = df[df["Facility"] != "Online"].copy()

    # Split our original DFs into new DFs: In-Person & Online
    dfs_mode_split[f"{name}_online"] = df_online
    dfs_mode_split[f"{name}_inperson"] = df_inperson

In [300]:
# Print name & numbers of rows/columns by each In-Person/Online DF
for name, df in dfs_mode_split.items():
    print(f"{name}: {df.shape[0]} rows, {df.shape[1]} columns")

#Save In-Person/Online DataFrames to Excel (.xlsx)
for df_semester, df in dfs_mode_split.items():
    filename = f"{df_semester}.xlsx"        # Save file name
    df.to_excel(filename, index=False)      # Save to Excel
    print(f"Saved {df_semester} to {filename}")

df_fall_all_online: 922 rows, 27 columns
df_fall_all_inperson: 283 rows, 27 columns
df_spring_all_online: 987 rows, 27 columns
df_spring_all_inperson: 264 rows, 27 columns
df_all_online: 1909 rows, 27 columns
df_all_inperson: 547 rows, 27 columns
Saved df_fall_all_online to df_fall_all_online.xlsx
Saved df_fall_all_inperson to df_fall_all_inperson.xlsx
Saved df_spring_all_online to df_spring_all_online.xlsx
Saved df_spring_all_inperson to df_spring_all_inperson.xlsx
Saved df_all_online to df_all_online.xlsx
Saved df_all_inperson to df_all_inperson.xlsx

In [301]:
# Make Jupyter Variables for our 6 new In-Person/Online DataFrames
for name, df in dfs_mode_split.items():
    globals()[name] = df

In [302]:
#Save In-Person/Online DataFrames to Excel (.xlsx)

for df_semester, df in dfs_mode_split.items():
    filename = f"{df_semester}.xlsx"        # Save file name
    df.to_excel(filename, index=False)      # Save to Excel
    print(f"Saved {df_semester} to {filename}")

Saved df_fall_all_online to df_fall_all_online.xlsx
Saved df_fall_all_inperson to df_fall_all_inperson.xlsx
Saved df_spring_all_online to df_spring_all_online.xlsx
Saved df_spring_all_inperson to df_spring_all_inperson.xlsx
Saved df_all_online to df_all_online.xlsx
Saved df_all_inperson to df_all_inperson.xlsx

KDD: Print Unique Values & Counts for New In-Person/Online DFs

In [303]:
for df_semester, df in dfs_mode_split.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall_all_online ===

Column: Term
Term
Fall 2023    249
Fall 2024    240
Fall 2022    222
Fall 2021    211
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    567
Seven Week - First          183
Seven Week - Second         172
Name: count, dtype: int64

Column: Session Code
Session Code
1      567
7W1    183
7W2    172
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    488
Arizona Online                  434
Name: count, dtype: int64

Column: Facility
Facility
Online    922
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1    922
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    236
LIS     224
ISTA    222
INFO    178
GAME     62
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
302    34
130    32
570    28
116    28
301    23
       ..
588     2
421     2
511     2
581     2
535     1
Name: count, Length: 93, dtype: int64

Column: Class Section
Class Section
101     395
201     368
102      39
202      36
201A     10
101A     10
101B      8
201B      7
101C      7
101D      7
001       6
103       4
104       4
204       4
101E      4
203       4
201C      2
101F      2
205       2
105       2
202A      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    922
Name: count, dtype: int64

Column: Component
Component
Lecture       864
Discussion     58
Name: count, dtype: int64

Column: Min Units
Min Units
3    875
4     47
Name: count, dtype: Int64

Column: Max Units
Max Units
3    875
4     47
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       78
0306    10
0369    10
0184     8
0187     8
        ..
2040     1
1892     1
0188     1
0614     1
2041     1
Name: count, Length: 319, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      764
Closed    158
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    922
Name: count, dtype: int64

Column: Class Number
Class Number
67504    2
61067    2
69535    2
61070    2
65474    2
        ..
58787    1
58788    1
39676    1
48272    1
57776    1
Name: count, Length: 907, dtype: Int64

Column: Course Description
Course Description
Computational Thinking & Doing    32
Ethical Issues in Information     30
Database Dev And Mgmt             28
Statistic Foundations Info Age    28
Science Information               21
                                  ..
Simulation and Problem Solving     2
Special Topics in LIS              2
Learning Design Lib/Info Prof      2
How to Teach Info Literacy         2
Business Information               1
Name: count, Length: 85, dtype: int64

Column: Class Status Code
Class Status Code
A    922
Name: count, dtype: int64

Column: Start Date
Start Date
2023-08-21    201
2024-08-26    192
2021-08-23    181
2022-08-22    176
2023-10-12     48
2024-10-17     48
2022-10-13     46
2021-10-14     30
Name: count, dtype: int64

Column: End Date
End Date
2023-12-06    199
2024-12-11    188
2022-12-07    180
2021-12-08    172
2024-10-16     52
2023-10-11     50
2022-10-12     42
2021-10-13     39
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    922
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-    922
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    922
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    922
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      125
1       75
2       50
5       42
3       39
      ...
77       1
42       1
91       1
146      1
142      1
Name: count, Length: 69, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     181
35     167
30     128
20      69
25      68
0       58
10      45
15      41
5       19
28      19
80      18
17      10
150      9
60       8
23       8
4        7
1        6
45       5
24       5
26       4
46       4
13       4
125      3
90       3
7        3
50       3
22       3
9        2
100      2
8        2
6        2
74       2
18       2
3        2
2        2
32       2
42       1
34       1
11       1
29       1
27       1
31       1
Name: count, dtype: int64

=== DataFrame: df_fall_all_inperson ===

Column: Term
Term
Fall 2024    96
Fall 2021    72
Fall 2023    65
Fall 2022    50
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    283
Name: count, dtype: int64

Column: Session Code
Session Code
1    283
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    282
Arizona Online                    1
Name: count, dtype: int64

Column: Facility
Facility
Live Online                  27
R P Harvill Bldg, Rm 402     23
R P Harvill Bldg, Rm 460     22
Elec & Comp Engr, Rm 107     14
Haury Anthro Bldg, Rm 216    10
                             ..
Modern Languages, Rm 410      1
Modern Languages, Rm 413      1
Social Sciences, Rm 222       1
R P Harvill Bldg, Rm 102      1
C E Chavez Bldg, Rm 109       1
Name: count, Length: 89, dtype: int64

Column: Room Capacity
Room Capacity
40     34
1      31
31     24
44     19
48     14
36     12
35     12
62     10
51     10
28      9
32      9
42      8
50      8
80      7
75      7
43      6
23      5
30      5
24      4
56      4
38      4
99      4
60      4
68      4
33      4
25      4
145     4
27      3
74      2
0       2
143     2
57      2
120     1
55      1
112     1
150     1
85      1
52      1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    104
INFO     72
ESOC     58
LIS      26
GAME     15
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
300    17
131    15
116    12
251    10
350     9
       ..
535     1
302     1
414     1
311     1
306     1
Name: count, Length: 71, dtype: int64

Column: Class Section
Class Section
001     169
002      50
003      14
001A     10
001B      9
001C      5
001D      5
005       5
006       4
001E      2
007       2
101F      1
201       1
101E      1
101D      1
101C      1
101B      1
101A      1
008       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    283
Name: count, dtype: int64

Column: Component
Component
Lecture       243
Discussion     36
Colloquium      3
Laboratory      1
Name: count, dtype: int64

Column: Min Units
Min Units
3    251
4     30
1      2
Name: count, dtype: Int64

Column: Max Units
Max Units
3    251
4     30
6      2
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       170
0590     12
0560      4
1772      3
1771      3
0578      2
1296      2
0604      2
0495      2
1202      2
0359      2
1929      2
0933      2
1888      2
0494      2
0705      2
1690      2
1840      2
1953      2
0449      2
1701      2
1462      2
0441      2
1815      2
0811      2
1431      2
1954      2
1710      2
0571      2
0731      2
1126      2
1850      2
0798      2
1368      2
0606      2
0407      2
0803      2
0657      2
0712      2
1256      2
0885      2
1215      2
0570      2
0517      2
1371      2
0882      2
0799      2
1941      2
1828      1
1386      1
1936      1
1685      1
2127      1
Name: count, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      251
Closed     32
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
In Person                  242
Live Online                 28
Hybrid (Flex In-Person)     12
Fully Online                 1
Name: count, dtype: int64

Column: Class Number
Class Number
58498    2
58499    2
50915    2
50914    2
56206    2
        ..
52875    1
51066    1
45421    1
66458    1
69281    1
Name: count, Length: 275, dtype: Int64

Column: Course Description
Course Description
Digital Storytelling & Culture    17
Game Development                  16
Dealing with Data                 15
Intro: Human Computer Interact    12
Statistic Foundations Info Age    12
Intro to Machine Learning         12
Applied Cyberinfrastruct Conc     12
Introduction to Game Design       10
Neural Networks                    9
Prog for Informatics Apps          9
Introduction To Archives           8
Social Media Strategies            8
Algorithms for Games               8
Digital Discourse and Identity     7
Data Mining/Discovery              6
Organization/Information           6
Intro to Creative Coding           6
Computational Thinking & Doing     6
Info Trust and Manipulation        6
Applied NLP                        5
Social Media and Ourselves         5
Collaborating: Online Commun       4
Bayesian Modeling & Inference      4
Artificial Intelligence            4
Found Libr+Info Services           4
Rsrch Mth/Libr+Info Prof           4
Designing an Installation          4
Narrative in Digital Games         4
Online Searching                   4
Foundations of Information         3
Data Analysis and Visualizatio     3
Princ Data Science                 3
Ethics in a Digital World          3
Digital Commerce                   3
Info MM Design & Moving Image      3
Computational Social Science       3
Publishing:Papyrus to E-Books      3
Applied Data Visualization         2
Data Ethics                        2
Special Topics in Information      2
Great Ideas of the Info Age        2
Hacking & Open Source Culture      2
Information Research Methods       2
Comm focused Archives/Museums      2
Advanced Web Design                2
Installation Design                2
Leadership & the Info Org          2
Information Security               1
Esports Casting                    1
Data Mining and Discovery          1
Gamification in Society            1
Foundation of Info & Inference     1
Foundations of Data Science        1
Special Topics                     1
Business Information               1
Collection Management              1
Data Science, Public Interests     1
Digital Engagement                 1
Technology of Sound                1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    283
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    96
2021-08-23    71
2023-08-21    65
2022-08-22    49
NaT            2
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    96
2021-12-08    71
2023-12-06    65
2022-12-07    49
NaT            2
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       281
<NA>      2
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
TR     146
MW      56
M       22
W       17
F       17
T       12
R        9
NaN      2
-        2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    283
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    283
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      19
10     16
12     13
14     12
25     11
1      11
3      11
21     10
9      10
13      9
5       9
18      9
24      9
16      8
40      8
22      7
7       7
15      7
26      6
23      6
8       6
35      6
6       6
4       6
30      5
17      4
20      4
34      4
29      4
27      4
19      3
31      3
42      3
11      3
38      2
2       2
36      2
92      2
33      2
32      2
75      1
44      1
49      1
81      1
37      1
56      1
97      1
59      1
57      1
28      1
151     1
68      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     66
35     38
25     36
30     35
27     12
31      8
23      7
32      7
20      7
0       5
50      5
24      5
100     4
34      3
60      3
125     3
15      3
80      3
28      3
44      2
21      2
29      2
56      2
46      2
10      2
3       2
38      2
57      2
22      2
68      1
1       1
54      1
53      1
13      1
26      1
49      1
36      1
150     1
7       1
Name: count, dtype: int64

=== DataFrame: df_spring_all_online ===

Column: Term
Term
Spring 2025    261
Spring 2024    259
Spring 2023    242
Spring 2022    225
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    587
Seven Week - Second         216
Seven Week - First          184
Name: count, dtype: int64

Column: Session Code
Session Code
1      587
7W2    216
7W1    184
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    541
Arizona Online                  446
Name: count, dtype: int64

Column: Facility
Facility
Online    987
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1    987
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    257
LIS     250
ISTA    218
INFO    182
GAME     72
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
570    32
116    31
302    30
330    28
130    27
       ..
420     2
511     2
475     2
550     1
557     1
Name: count, Length: 102, dtype: int64

Column: Class Section
Class Section
101     408
201     369
102      60
202      52
001      10
203       9
201A      9
103       9
101A      8
101B      6
101C      6
101D      6
201B      4
110       4
104       4
204       4
101E      3
001B      3
001A      3
101F      3
210       3
207       1
205       1
107       1
105       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    987
Name: count, dtype: int64

Column: Component
Component
Lecture       936
Discussion     51
Name: count, dtype: int64

Column: Min Units
Min Units
3    956
4     31
Name: count, dtype: Int64

Column: Max Units
Max Units
3    956
4     31
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       76
2012    12
0354    10
0583     8
0307     7
        ..
0321     2
0229     2
0104     2
0393     1
2126     1
Name: count, Length: 323, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      828
Closed    159
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    987
Name: count, dtype: int64

Column: Class Number
Class Number
77722    2
64588    2
64000    2
74043    2
64001    2
        ..
72349    1
72350    1
72351    1
76771    1
52464    1
Name: count, Length: 974, dtype: Int64

Column: Course Description
Course Description
Database Dev And Mgmt             32
Statistic Foundations Info Age    31
Computational Thinking & Doing    27
Digital Dilemmas                  26
Digital Storytelling & Culture    22
                                  ..
How to Teach Info Literacy         2
Foundations of Data Science        2
Instructional Technologies         2
Inf Env/Non-dominant Pers          1
Neural Networks                    1
Name: count, Length: 92, dtype: int64

Column: Class Status Code
Class Status Code
A    987
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    203
2024-01-10    201
2023-01-11    192
2022-01-12    175
2024-03-11     58
2025-03-17     58
2022-03-14     50
2023-03-13     50
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    211
2024-05-01    204
2023-05-03    195
2022-05-04    193
2024-03-01     55
2025-03-07     50
2023-03-03     47
2022-03-04     32
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    987
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-    987
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    987
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    987
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      148
1       79
2       55
3       48
5       36
      ...
130      1
49       1
93       1
138      1
43       1
Name: count, Length: 68, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     245
40     176
30      92
0       91
20      65
25      61
28      38
10      24
100     20
50      17
15      17
80      17
5       16
45      12
70       9
60       8
1        8
21       7
155      5
130      5
14       5
11       4
55       4
9        4
16       4
13       4
18       3
150      3
17       2
12       2
6        2
120      2
4        2
24       2
29       1
47       1
2        1
135      1
33       1
3        1
8        1
26       1
22       1
148      1
27       1
Name: count, dtype: int64

=== DataFrame: df_spring_all_inperson ===

Column: Term
Term
Spring 2025    101
Spring 2024     63
Spring 2023     56
Spring 2022     44
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    264
Name: count, dtype: int64

Column: Session Code
Session Code
1    264
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    264
Name: count, dtype: int64

Column: Facility
Facility
R P Harvill Bldg, Rm 402     23
Live Online                  19
R P Harvill Bldg, Rm 460     15
R P Harvill Bldg, Rm 332B    13
R P Harvill Bldg, Rm 428     11
                             ..
R P Harvill Bldg, Rm 115      1
R P Harvill Bldg, Rm 134      1
C E Chavez Bldg, Rm 104       1
Civil Engineering, Rm 201     1
The Commons, Rm 105           1
Name: count, Length: 89, dtype: int64

Column: Room Capacity
Room Capacity
40     49
32     23
1      19
35     16
31     16
28     14
25     13
48     13
44     12
30     11
38      8
43      8
36      7
56      7
52      6
99      4
85      3
51      3
42      3
23      3
55      3
50      2
83      2
80      2
0       2
60      2
94      2
155     2
20      1
54      1
125     1
27      1
33      1
68      1
70      1
142     1
217     1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    103
INFO     65
ESOC     57
GAME     21
LIS      18
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
131    20
300    15
350    12
301    12
251    10
       ..
308     1
420     1
501     1
311     1
200     1
Name: count, Length: 71, dtype: int64

Column: Class Section
Class Section
001     149
002      45
003      18
001A     11
001B     11
001C      6
006       5
001E      5
004       5
005       3
001D      3
009       1
001F      1
008       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    264
Name: count, dtype: int64

Column: Component
Component
Lecture       215
Discussion     37
Colloquium      8
Seminar         4
Name: count, dtype: int64

Column: Min Units
Min Units
3    218
4     39
1      7
Name: count, dtype: Int64

Column: Max Units
Max Units
3    218
4     39
6      7
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       164
1312      3
1808      3
1807      3
1059      3
1838      3
2048      3
0903      2
1864      2
0577      2
1027      2
0353      2
1973      2
1861      2
1303      2
1399      2
2103      2
1397      2
0779      2
1809      2
0520      2
0880      2
1755      2
1396      2
0524      2
1416      2
1734      2
1975      2
0866      2
1284      2
1696      2
1697      2
1940      2
0753      2
0662      2
1356      2
0318      2
1915      2
0406      2
2080      2
2123      2
1166      2
1167      2
2111      1
1835      1
1862      1
2110      1
1592      1
2117      1
2112      1
1591      1
2127      1
1509      1
Name: count, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      240
Closed     24
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
In Person                  228
Live Online                 19
Hybrid (Flex In-Person)     17
Name: count, dtype: int64

Column: Class Number
Class Number
73173    2
67648    2
71114    1
66898    1
66899    1
        ..
87440    1
90292    1
63614    1
88100    1
71116    1
Name: count, Length: 262, dtype: Int64

Column: Course Description
Course Description
Dealing with Data                 20
Game Development                  16
Digital Storytelling & Culture    15
Prog for Informatics Apps         12
Computing and the Arts            12
                                  ..
Adv ML Apps                        1
Foundation of Info & Inference     1
SQL/NoSQL Databases                1
Advanced Web Design                1
Visual Content Creation            1
Name: count, Length: 61, dtype: int64

Column: Class Status Code
Class Status Code
A    264
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    101
2024-01-10     63
2023-01-11     56

More DFs: Grad/Ugrad by Online/In Person

In [304]:
# New dictionary to store the expanded splits
dfs_split_by_gradandmode = {}

# Loop through each ugrad/grad DataFrame
for name, df in dfs_split.items():

    # Online rows
    df_online = df[df["Facility"] == "Online"].copy()
    dfs_split_by_gradandmode[f"{name}_online"] = df_online

    # In-person rows
    df_inperson = df[df["Facility"] != "Online"].copy()
    dfs_split_by_gradandmode[f"{name}_inperson"] = df_inperson

# Print name & numbers of rows/columns by each In-Person/Online DF
for name, df in dfs_split_by_gradandmode.items():
    print(f"{name}: {df.shape[0]} rows, {df.shape[1]} columns")

# Make Jupyter Variables for our new Grad/Ugrad + In-Person/Online DFs
for name, df in dfs_split_by_gradandmode.items():
    globals()[name] = df

df_fall_all_ugrad_online: 580 rows, 28 columns
df_fall_all_ugrad_inperson: 186 rows, 28 columns
df_fall_all_grad_online: 342 rows, 28 columns
df_fall_all_grad_inperson: 97 rows, 28 columns
df_spring_all_ugrad_online: 606 rows, 28 columns
df_spring_all_ugrad_inperson: 187 rows, 28 columns
df_spring_all_grad_online: 381 rows, 28 columns
df_spring_all_grad_inperson: 77 rows, 28 columns
df_all_ugrad_online: 1186 rows, 28 columns
df_all_ugrad_inperson: 373 rows, 28 columns
df_all_grad_online: 723 rows, 28 columns
df_all_grad_inperson: 174 rows, 28 columns

In [305]:
#Save In-Person/Online DataFrames to Excel (.xlsx)

for df_semester, df in dfs_split_by_gradandmode.items():
    filename = f"{df_semester}.xlsx"        # Save file name
    df.to_excel(filename, index=False)      # Save to Excel
    print(f"Saved {df_semester} to {filename}")

Saved df_fall_all_ugrad_online to df_fall_all_ugrad_online.xlsx
Saved df_fall_all_ugrad_inperson to df_fall_all_ugrad_inperson.xlsx
Saved df_fall_all_grad_online to df_fall_all_grad_online.xlsx
Saved df_fall_all_grad_inperson to df_fall_all_grad_inperson.xlsx
Saved df_spring_all_ugrad_online to df_spring_all_ugrad_online.xlsx
Saved df_spring_all_ugrad_inperson to df_spring_all_ugrad_inperson.xlsx
Saved df_spring_all_grad_online to df_spring_all_grad_online.xlsx
Saved df_spring_all_grad_inperson to df_spring_all_grad_inperson.xlsx
Saved df_all_ugrad_online to df_all_ugrad_online.xlsx
Saved df_all_ugrad_inperson to df_all_ugrad_inperson.xlsx
Saved df_all_grad_online to df_all_grad_online.xlsx
Saved df_all_grad_inperson to df_all_grad_inperson.xlsx

KDD: Counts for new Grad/Ugrad + In-Person/Online DFs

In [306]:
for df_semester, df in dfs_split_by_gradandmode.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall_all_ugrad_online ===

Column: Term
Term
Fall 2023    153
Fall 2024    147
Fall 2021    142
Fall 2022    138
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    304
Seven Week - First          142
Seven Week - Second         134
Name: count, dtype: int64

Column: Session Code
Session Code
1      304
7W1    142
7W2    134
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    311
Arizona Online                  269
Name: count, dtype: int64

Column: Facility

Facility
Online    580
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1    580
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    236
ISTA    222
GAME     62
LIS      46
INFO     14
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
302      34
130      32
116      28
301      23
300      20
314      20
150B1    19
321      16
161      16
317      16
470      14
322      14
351      14
315      12
311      12
263      12
251      12
316      12
313      12
213      12
420      10
308      10
210      10
131      10
480      10
212      10
340      10
431       8
318       8
472       8
330       8
310       8
320       8
432       8
471       8
211       8
100       7
478       7
230       6
424       6
477       6
484       6
331       5
350       5
307       4
303       4
214       4
452       4
416       4
319       4
329       4
402       4
457       2
475       2
309       2
421       2
Name: count, dtype: int64

Column: Class Section
Class Section
101     229
201     210
102      32
202      29
201A     10
101A     10
101B      8
201B      7
101C      7
101D      7
203       4
104       4
204       4
103       4
101E      4
201C      2
101F      2
001       2
205       2
105       2
202A      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    580
Name: count, dtype: int64

Column: Component
Component
Lecture       522
Discussion     58
Name: count, dtype: int64

Column: Min Units
Min Units
3    533
4     47
Name: count, dtype: Int64

Column: Max Units
Max Units
3    533
4     47
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       74
0416     6
0306     6
0275     4
0876     4
        ..
1137     1
0757     1
0703     1
0702     1
1713     1
Name: count, Length: 255, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      475
Closed    105
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    580
Name: count, dtype: int64

Column: Class Number
Class Number
61067    2
67509    2
53206    2
59601    2
68634    2
        ..
60867    1
52857    1
68203    1
60688    1
57778    1
Name: count, Length: 575, dtype: Int64

Column: Course Description
Course Description
Computational Thinking & Doing    32
Statistic Foundations Info Age    28
Theories of New Media             20
Digital Storytelling & Culture    20
Quantitative Methods              20
Social Media and Ourselves        19
Data Mining and Discovery         16
Ethics in a Digital World         16
Digital Crime & Social Media      16
Computing and the Arts            15
Database Dev and Mgmt             14
Technology of Sound               14
Intro. to Game Development        14
Data Engineering                  14
Digital Commerce                  12
Digital Discourse and Identity    12
Publishing:Papyrus to E-Books     12
Learning in Information Age       12
eSport Industries                 12
The Past and New Media            12
Introduction to Game Design       12
Intro Web Design-Development      10
Dealing with Data                 10
Hacking & Open Source Culture     10
Diversity and Bias in Games       10
Digital Engagement                10
Info MM Design & Moving Image     10
Social Media Strategies           10
Ethical Issues in Information     10
Intro to Info Tech                 8
Government Information             8
Disruptive Technologies            8
Online Searching                   8
Collaborating: Online Commun       8
Data Warehousing in the Cloud      8
Gamification in Society            8
Applied Data Visualization         8
Digital Dilemmas                   8
Qualitative Internet Research      8
Science Information                7
Great Ideas of the Info Age        7
Virtual Reality                    6
Information Security               6
Intellectual Property/Copyrigh     6
Prog for Informatics Apps          5
Princ Data Science                 5
Advanced Game Development          4
Data Ethics                        4
Dig Games and Society              4
Intro to Data Science              4
Instructional Technologies         4
Narrative in Digital Games         4
Intro: Human Computer Interact     4
Simulation and Problem Solving     2
User Interf+Website Dsgn           2
Neural Networks                    2
Intro to Machine Learning          2
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    580
Name: count, dtype: int64

Column: Start Date
Start Date
2021-08-23    116
2023-08-21    116
2024-08-26    109
2022-08-22    105
2024-10-17     38
2023-10-12     37
2022-10-13     33
2021-10-14     26
Name: count, dtype: int64

Column: End Date
End Date
2023-12-06    115
2021-12-08    110
2022-12-07    108
2024-12-11    105
2024-10-16     42
2023-10-11     38
2021-10-13     32
2022-10-12     30
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    580
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-    580
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    580
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    580
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      46
1      32
2      29
5      25
23     22
       ..
91      1
146     1
77      1
42      1
142     1
Name: count, Length: 67, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     135
30      85
35      65
25      65
20      43
10      27
15      20
0       19
80      18
5       15
28      12
17      10
150      9
23       8
4        6
24       5
45       5
46       4
26       3
125      3
90       3
50       3
100      2
32       2
18       2
74       2
1        2
8        2
3        1
6        1
13       1
27       1
31       1
Name: count, dtype: int64

Column: Catalog_First_Digit
Catalog_First_Digit
3.0    285
1.0    112
4.0    109
2.0     74
Name: count, dtype: int64

=== DataFrame: df_fall_all_ugrad_inperson ===

Column: Term
Term
Fall 2024    66
Fall 2021    46
Fall 2023    42
Fall 2022    32
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    186
Name: count, dtype: int64

Column: Session Code
Session Code
1    186
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    186
Name: count, dtype: int64

Column: Facility
Facility
Live Online                   21
R P Harvill Bldg, Rm 402      13
R P Harvill Bldg, Rm 428       8
Elec & Comp Engr, Rm 107       8
Haury Anthro Bldg, Rm 216      8
                              ..
C E Chavez Bldg, Rm 303        1
Communication, Rm 214          1
Education, Rm 535              1
Mines & Metallurgy, Rm 213     1
Social Sciences, Rm 206        1
Name: count, Length: 72, dtype: int64

Column: Room Capacity
Room Capacity
1      25
40     23
48     14
44     10
51      9
28      8
62      8
42      7
50      7
36      6
31      5
43      5
35      5
23      5
32      4
75      4
99      4
25      4
80      3
24      3
27      3
145     3
57      2
38      2
30      2
68      2
60      2
56      2
33      2
120     1
150     1
55      1
112     1
143     1
74      1
52      1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    104
ESOC     58
GAME     15
LIS       4
BE        2
PLS       2
INFO      1
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
300      17
131      15
116      12
251      10
350       9
212       8
451       8
313       7
421       6
130       6
416       6
303       6
429       6
150B1     5
432       4
211       4
307       4
457       4
425       4
401       3
315       3
331       3
161       3
316       3
340       3
418       2
330       2
410       2
320       2
450       2
455       2
210       2
495       2
100       2
480       1
402       1
477       1
302       1
310       1
306       1
414       1
311       1
321       1
Name: count, dtype: int64

Column: Class Section
Class Section
001     97
002     32
003     10
001B     9
001A     9
001D     5
001C     5
006      4
005      4
001E     2
007      2
101F     1
101E     1
101D     1
101C     1
101B     1
101A     1
008      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    186
Name: count, dtype: int64

Column: Component
Component
Lecture       148
Discussion     36
Colloquium      2
Name: count, dtype: int64

Column: Min Units
Min Units
3    155
4     30
1      1
Name: count, dtype: Int64

Column: Max Units
Max Units
3    155
4     30
6      1
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       137
0590      6
0560      2
1953      1
0359      1
1929      1
0933      1
1888      1
0494      1
1690      1
1840      1
1386      1
2127      1
1954      1
1202      1
1462      1
0441      1
1815      1
0811      1
1431      1
1296      1
1772      1
1701      1
0604      1
0495      1
0449      1
0799      1
1371      1
0712      1
1126      1
1850      1
0798      1
0407      1
0731      1
0571      1
0885      1
1215      1
0570      1
1936      1
0517      1
1941      1
1710      1
1828      1
1771      1
Name: count, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      157
Closed     29
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
In Person                  153
Live Online                 21
Hybrid (Flex In-Person)     12
Name: count, dtype: int64

Column: Class Number
Class Number
58498    2
50914    2
56206    2
50558    2
56341    1
        ..
52864    1
50292    1
52875    1
51066    1
69280    1
Name: count, Length: 182, dtype: Int64

Column: Course Description
Course Description
Digital Storytelling & Culture    17
Dealing with Data                 15
Statistic Foundations Info Age    12
Introduction to Game Design       10
Prog for Informatics Apps          9
Game Development                   8
Social Media Strategies            8
Digital Discourse and Identity     7
Computational Thinking & Doing     6
Intro to Machine Learning          6
Intro to Creative Coding           6
Intro: Human Computer Interact     6
Applied Cyberinfrastruct Conc      6
Social Media and Ourselves         5
Narrative in Digital Games         4
Online Searching                   4
Neural Networks                    4
Collaborating: Online Commun       4
Algorithms for Games               4
Publishing:Papyrus to E-Books      3
Info MM Design & Moving Image      3
Princ Data Science                 3
Digital Commerce                   3
Ethics in a Digital World          3
Hacking & Open Source Culture      2
Great Ideas of the Info Age        2
Applied Data Visualization         2
Artificial Intelligence            2
Applied NLP                        2
Info Trust and Manipulation        2
Installation Design                2
Bayesian Modeling & Inference      2
Advanced Web Design                2
Computational Social Science       1
Information Security               1
Esports Casting                    1
Data Mining and Discovery          1
Gamification in Society            1
Designing an Installation          1
Special Topics in Information      1
Foundation of Info & Inference     1
Data Ethics                        1
Digital Engagement                 1
Special Topics                     1
Technology of Sound                1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    186
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    66
2021-08-23    46
2023-08-21    42
2022-08-22    32
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    66
2021-12-08    46
2023-12-06    42
2022-12-07    32
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    186
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
TR    104
MW     42
F      17
M      12
W       6
R       3
-       2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    186
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    186
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
14     11
25      9
24      9
40      8
9       8
16      8
10      8
21      8
12      7
18      7
22      7
0       7
13      7
23      6
15      5
7       5
26      5
27      4
6       4
17      4
29      4
20      4
35      3
30      3
19      3
5       3
8       3
31      3
3       3
34      2
11      2
92      2
4       2
38      2
75      1
33      1
151     1
81      1
37      1
97      1
42      1
36      1
2       1
32      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     61
25     33
30     17
35     15
23      7
27      6
20      5
24      5
31      5
0       3
15      3
125     3
34      3
100     3
50      2
32      2
21      2
46      2
22      1
13      1
150     1
28      1
10      1
56      1
26      1
57      1
7       1
Name: count, dtype: int64

Column: Catalog_First_Digit
Catalog_First_Digit
3.0    64
4.0    55
1.0    43
2.0    24
Name: count, dtype: int64

=== DataFrame: df_fall_all_grad_online ===

Column: Term
Term
Fall 2023    96
Fall 2024    93
Fall 2022    84
Fall 2021    69
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    263
Seven Week - First           41
Seven Week - Second          38
Name: count, dtype: int64

Column: Session Code
Session Code
1      263
7W1     41
7W2     38
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    177
Arizona Online                  165
Name: count, dtype: int64

Column: Facility
Facility
Online    342
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1    342
Name: count, dtype: Int64

Column: Subject Code
Subject Code
LIS     178
INFO    164
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
570    28
520    20
558    18
523    17
515    16
540    16
571    16
671    16
672    16
578    14
673    14
526    12
584    12
557    10
559     8
572     8
608     8
531     8
530     8
676     8
506     8
504     8
524     6
579     6
586     6
521     4
516     4
577     4
575     4
552     4
502     4
511     2
641     2
536     2
588     2
581     2
535     1
Name: count, dtype: int64

Column: Class Section
Class Section
101    166
201    158
202      7
102      7
001      4
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    342
Name: count, dtype: int64

Column: Component
Component
Lecture    342
Name: count, dtype: int64

Column: Min Units
Min Units
3    342
Name: count, dtype: Int64

Column: Max Units
Max Units
3    342
Name: count, dtype: Int64

Column: Combined Section
Combined Section
0704    8
0369    8
0385    6
0368    6
0187    4
       ..
0157    1
0359    1
0336    1
0267    1
1713    1
Name: count, Length: 122, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      289
Closed     53
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    342
Name: count, dtype: int64

Column: Class Number
Class Number
55401    2
55400    2
67504    2
65474    2
65475    2
        ..
47763    1
47761    1
71346    1
48589    1
57776    1
Name: count, Length: 337, dtype: Int64

Column: Course Description
Course Description
Database Dev And Mgmt             28
Ethical Issues in Information     20
Social Justice in Info Service    18
Organization/Information          16
Introduction To Archives          16
Intro Info Technology             16
Intro Digital Curation/Preserv    16
Intro Applied Technology          16
Science Information               14
Data Analysis and Visualizatio    12
Intellectual Property/Copyrigh    12
Data Mining/Discovery              9
Data Warehousing in the Cloud      8
Mgmt for Info Professionals        8
Managing the Information Org       8
Digital Info Mgmt Capstn           8
Early Chlhd+Public Librs           8
Cataloging+Metadata Mgmt           8
Rsrch Mth/Libr+Info Prof           8
Government Information             8
Mktng Library+Info Srvcs           8
Documnt Divrs Cult+Comms           8
Found Libr+Info Services           8
SQL/NoSQL Databases                6
Virtual Reality                    6
Managing Digital Info              6
Intro: Human Computer Interact     4
Intro to Machine Learning          4
User Interf+Website Dsgn           4
Learning Design                    4
Information Security               4
Advanced Game Development          4
Data Ethics                        4
Foundations of Data Science        2
Learning Design Lib/Info Prof      2
Neural Networks                    2
Special Topics in LIS              2
Data Science, Public Interests     2
Comm focused Archives/Museums      2
How to Teach Info Literacy         2
Business Information               1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    342
Name: count, dtype: int64

Column: Start Date
Start Date
2023-08-21    85
2024-08-26    83
2022-08-22    71
2021-08-23    65
2022-10-13    13
2023-10-12    11
2024-10-17    10
2021-10-14     4
Name: count, dtype: int64

Column: End Date
End Date
2023-12-06    84
2024-12-11    83
2022-12-07    72
2021-12-08    62
2022-10-12    12
2023-10-11    12
2024-10-16    10
2021-10-13     7
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    342
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-    342
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
NaT    342
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
NaT    342
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0     79
1     43
4     22
2     21
7     19
10    18
3     18
5     17
8     14
6     14
11    10
13     7
9      6
14     6
16     5
30     5
12     5
15     4
18     4
17     3
26     3
21     3
20     3
24     2
33     2
22     2
38     1
23     1
50     1
32     1
25     1
34     1
19     1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35    102
40     46
30     43
0      39
20     26
15     21
10     18
60      8
28      7
1       4
5       4
13      3
25      3
22      3
7       3
9       2
2       2
3       1
11      1
42      1
34      1
4       1
29      1
26      1
6       1
Name: count, dtype: int64

Column: Catalog_First_Digit
Catalog_First_Digit
5.0    278
6.0     64
Name: count, dtype: int64

=== DataFrame: df_fall_all_grad_inperson ===

Column: Term
Term
Fall 2024    30
Fall 2021    26
Fall 2023    23
Fall 2022    18
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    97
Name: count, dtype: int64

Column: Session Code
Session Code
1    97
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    96
Arizona Online                   1
Name: count, dtype: int64

Column: Facility
Facility
R P Harvill Bldg, Rm 460      19
R P Harvill Bldg, Rm 402      10
Elec & Comp Engr, Rm 107       6
Live Online                    6
R P Harvill Bldg, Rm 130       5
Education, Rm 240              4
R P Harvill Bldg, Rm 411       3
R P Harvill Bldg, Rm 316       2
McClelland Park, Rm 103        2
Haury Anthro Bldg, Rm 216      2
R P Harvill Bldg, Rm 302       2
R P Harvill Bldg, Rm 208       2
Social Sciences, Rm 206        2
Meinel Optical Sci, Rm 422     2
Not Available                  2
Modern Languages, Rm 311       2
C E Chavez Bldg, Rm 111        1
C E Chavez Bldg, Rm 103        1
Saguaro Hall, Rm 114           1
R P Harvill Bldg, Rm 415       1
R P Harvill Bldg, Rm 305       1
Psychology, Rm 306             1
Modern Languages, Rm 310       1
McClelland Hall, Rm 123        1
M Pacheco ILC, Rm 130          1
Harshbarger Bldg, Rm 206       1
Chemistry, Rm 218              1
Chemistry, Rm 205              1
R P Harvill Bldg, Rm 313       1
Henry Koffler Bldg, Rm 216     1
R P Harvill Bldg, Rm 301       1
R P Harvill Bldg, Rm 204       1
Modern Languages, Rm 413       1
Modern Languages, Rm 410       1
Modern Languages, Rm 202       1
Civil Engineering, Rm 201      1
C E Chavez Bldg, Rm 109        1
Shantz, Rm 242E                1
R P Harvill Bldg, Rm 134       1
R P Harvill Bldg, Rm 232       1