In [386]:
%reset -f

In [387]:
# Import packages
import os
import pandas as pd

# Set base path for reproducibility
# Save initial data to a folder "Capstone Project Data" in the current working directory
base_path = os.path.join(os.getcwd(), "Capstone Project Data")

# Set file paths for each semester
file_fall21 = os.path.join(base_path, "College of InfoSci_Fall 2021 - CLEANED.xlsx")
file_fall22 = os.path.join(base_path, "College of InfoSci_Fall 2022 - CLEANED.xlsx")
file_fall23 = os.path.join(base_path, "College of InfoSci_Fall 2023 - CLEANED.xlsx")
file_fall24 = os.path.join(base_path, "College of InfoSci_Fall 2024 - CLEANED.xlsx")
file_spring22 = os.path.join(base_path, "College of InfoSci_Spring 2022 - CLEANED.xlsx")
file_spring23 = os.path.join(base_path, "College of InfoSci_Spring 2023 - CLEANED.xlsx")
file_spring24 = os.path.join(base_path, "College of InfoSci_Spring 2024 - CLEANED.xlsx")
file_spring25 = os.path.join(base_path, "College of InfoSci_Spring 2025 - CLEANED.xlsx")

In [388]:
# Load each file into a separate DataFrame

# Fall DFs
df_fall21 = pd.read_excel(file_fall21)
df_fall22 = pd.read_excel(file_fall22)
df_fall23 = pd.read_excel(file_fall23)
df_fall24 = pd.read_excel(file_fall24)

# Spring DFs
df_spring22 = pd.read_excel(file_spring22)
df_spring23 = pd.read_excel(file_spring23)
df_spring24 = pd.read_excel(file_spring24)
df_spring25 = pd.read_excel(file_spring25)

Create Dictionary (dfs) for all our DataFrames. Will use the Dictionary for data cleansing with for-loops

In [389]:
# Dictionary of all our DataFrames
dfs = {
    "df_fall21": df_fall21,
    "df_fall22": df_fall22,
    "df_fall23": df_fall23,
    "df_fall24": df_fall24,
    "df_spring22": df_spring22,
    "df_spring23": df_spring23,
    "df_spring24": df_spring24,
    "df_spring25": df_spring25
}

In [390]:
# Check data types from first DF
print(df_fall21.dtypes)

Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

In [391]:
# Check data types for each DF

for df_semester, df in dfs.items():
    print(f"\nData types for {df_semester}:")
    print(df.dtypes)

Data types for df_fall21:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_fall22:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_fall23:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_fall24:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring22:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring23:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring24:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring25:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Each dataframe has the same data types

Update Data Types into Integer: Room Capacity, Min Units, Max Units, Class Number, Class Meeting Number

In [392]:
# Columns to convert to Int64
columns_to_change = ["Room Capacity", "Min Units", "Max Units", "Class Number", "Class Meeting Number"]

# Iterate through our dictionary (dfs), defined above
for df_semester, df in dfs.items():
    df[columns_to_change] = df[columns_to_change].astype("Int64")    # Convert to Int64
    dfs[df_semester] = df                                            # Update dictionary
    print(f"{df_semester}: Selected columns converted to Int64")

df_fall21: Selected columns converted to Int64
df_fall22: Selected columns converted to Int64
df_fall23: Selected columns converted to Int64
df_fall24: Selected columns converted to Int64
df_spring22: Selected columns converted to Int64
df_spring23: Selected columns converted to Int64
df_spring24: Selected columns converted to Int64
df_spring25: Selected columns converted to Int64

Filter Data to Undergraduate-Only

In [393]:
for df_semester, df in dfs.items():
    # Extract First Digit from "Catalog Number" column, convert to float
    first_digit = df["Catalog Number"].astype(str).str[0].str.extract(r"(\d)").astype(float)

    # Add a temporary column to store the extracted digit
    df = df.copy()
    df["Catalog_First_Digit"] = first_digit

    # Filter to keep only undergrad courses (Catalog Number starting with <5)
    df_ugrad = df[df["Catalog_First_Digit"] < 5].copy()

    # Drop the temporary column 
    df_ugrad.drop(columns="Catalog_First_Digit", inplace=True)

    # Update the dictionary with the cleaned, undergrad-only version
    dfs[df_semester] = df_ugrad

    print(f"{df_semester}: {df.shape[0]} original rows --> {df_ugrad.shape[0]} undergrad rows kept")

    #Update the DFs too, not just dictionary, to check 
    globals()[df_semester] = dfs[df_semester]

print("\n")

# Check if there's any grad classes 
grad_remaining = False

for df_semester, df in dfs.items():
    grad_rows = (df["Catalog Number"].astype(str).str[0].astype(int) >= 5).sum()
    
    if grad_rows > 0:
        grad_remaining = True
        print(f"{df_semester}: {grad_rows} grad rows still present") # print DF name and # of grad rows still present

if not grad_remaining:
    print("Success! No grad rows remaining in any DataFrame")

df_fall21: 346 original rows --> 212 undergrad rows kept
df_fall22: 345 original rows --> 196 undergrad rows kept
df_fall23: 415 original rows --> 234 undergrad rows kept
df_fall24: 433 original rows --> 257 undergrad rows kept
df_spring22: 339 original rows --> 198 undergrad rows kept
df_spring23: 378 original rows --> 212 undergrad rows kept
df_spring24: 409 original rows --> 244 undergrad rows kept
df_spring25: 470 original rows --> 273 undergrad rows kept

Success! No grad rows remaining in any DataFrame

Remove unnecessary data:
1) Component > Independent Study
2) Class Status Code > T
3) Req Desig > HONR

In [394]:
for df_semester, df in dfs.items():

    # Count how many rows match each condition - to print once removed
    original_rowcount = len(df)              # Original - to subtract from total
    count_independent = (df["Component"] == "Independent Study").sum()
    count_t = (df["Class Status Code"] == "T").sum()
    count_honor = (df["Req Desig"] == "HONR").sum()

    # Remove rows where ANY of the 3 conditions are True
    df_cleaned = df[
        ~((df["Component"] == "Independent Study") |
          (df["Class Status Code"] == "T") |
          (df["Req Desig"] == "HONR"))]

    dfs[df_semester] = df_cleaned
    new_count = len(df_cleaned)
    total_removed = original_rowcount - new_count

    # Print what was removed
    print(f"{df_semester}:")
    print(f"Removed {count_independent} Independent Study rows")
    print(f"Removed {count_t} T-status rows")
    print(f"Removed {count_honor} HONR rows")
    print(f"Total removed: {total_removed} rows\n")

    #Update the DFs too, not just dictionary, to manually check 
    globals()[df_semester] = dfs[df_semester]

df_fall21:
Removed 24 Independent Study rows
Removed 0 T-status rows
Removed 6 HONR rows
Total removed: 24 rows

df_fall22:
Removed 26 Independent Study rows
Removed 0 T-status rows
Removed 5 HONR rows
Total removed: 26 rows

df_fall23:
Removed 39 Independent Study rows
Removed 0 T-status rows
Removed 6 HONR rows
Total removed: 39 rows

df_fall24:
Removed 44 Independent Study rows
Removed 0 T-status rows
Removed 7 HONR rows
Total removed: 44 rows

df_spring22:
Removed 24 Independent Study rows
Removed 0 T-status rows
Removed 6 HONR rows
Total removed: 24 rows

df_spring23:
Removed 29 Independent Study rows
Removed 0 T-status rows
Removed 8 HONR rows
Total removed: 29 rows

df_spring24:
Removed 37 Independent Study rows
Removed 1 T-status rows
Removed 9 HONR rows
Total removed: 38 rows

df_spring25:
Removed 37 Independent Study rows
Removed 6 T-status rows
Removed 8 HONR rows
Total removed: 43 rows

Next, look for In-Person Classes without Dates or Start/End Times

In [395]:
#Check In-Person Classes without Dates or Start/End Times

days_times_columns = ["Meeting Days", "Meeting Time Start", "Meeting Time End"]

# List to store missing data results & which columns to show in the final summary
filtered_rows = []
filtered_columns_to_show = ["Component", "Class Number", "Course Description", "Meeting Days", "Meeting Time Start", "Meeting Time End"]

# Empty dictionary to store missing data report
missing_data_report = {}

# Iterate through each DataFrame in our dictionary "dfs"
for df_semester, df in dfs.items():
    condition = (                                   # Conditions: In Person & not Independent Study           
        (df["Instruction Mode"] == "In Person") &  
        (df["Component"] != "Independent Study")) 
    
    # Find missing observations ("-") in our days_times_columns columns
    missing_days_times = df[condition & df[days_times_columns].isin(["-"]).any(axis=1)] # .any() for any column with "-", not just 3 for 3
    
    # If missing data exists ("-"), store in missing_data_report
    if not missing_days_times.empty:
        missing_data_report[df_semester] = missing_days_times.copy()

# Print results
if missing_data_report:
    for df_semester, df_missing in missing_data_report.items():
        if isinstance(df_missing, pd.DataFrame):    # Confirm df_missing is a DataFrame before data manipulation
            #Set up our empty list (filtered_rows) to store the rows with missing data in our selected columns
            selected_data = df_missing[filtered_columns_to_show].copy() # Create new DF with our selected columns
            selected_data.insert(0, "DataFrame Name", df_semester)      # Insert new column for the Dataframe Name
            filtered_rows.append(selected_data)                         # Add to list filtered_rows by appending selected_data

    # Print results
    if filtered_rows:
        missing_data_summary = pd.concat(filtered_rows, ignore_index = True) # Transform our list (filtered_rows) to DF
    
        print("\nIn-Person Classes without Dates or Start/End Times:")
        print(missing_data_summary)
        

else:
    print("No missing schedule info found!")

No missing schedule info found!

KDD: Print Each DF's unique values by column & their respective counts

In [396]:
for df_semester, df in dfs.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall21 ===

Column: Term
Term
Fall 2021    188
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    130
Seven Week - First           32
Seven Week - Second          26
Name: count, dtype: int64

Column: Session Code
Session Code
1      130
7W1     32
7W2     26
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    126
Arizona Online                   62
Name: count, dtype: int64

Column: Facility
Facility
Online                       142
Live Online                   13
Elec & Comp Engr, Rm 107       6
Haury Anthro Bldg, Rm 216      3
R P Harvill Bldg, Rm 415       2
R P Harvill Bldg, Rm 402       2
R P Harvill Bldg, Rm 401       2
R P Harvill Bldg, Rm 319       2
Modern Languages, Rm 311       2
Aero & Mech Engr, Rm S324      2
R P Harvill Bldg, Rm 204       1
R P Harvill Bldg, Rm 305       1
R P Harvill Bldg, Rm 232       1
R P Harvill Bldg, Rm 101       1
R P Harvill Bldg, Rm 134       1
R P Harvill Bldg, Rm 130       1
McClelland Park, Rm 103        1
M Pacheco ILC, Rm 141          1
C E Chavez Bldg, Rm 111        1
Biol Sci West, Rm 301          1
Aero & Mech Engr, Rm S336      1
Social Sciences, Rm 222        1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      157
44       7
51       3
62       3
48       2
40       2
33       2
68       2
80       2
120      1
145      1
32       1
75       1
24       1
112      1
31       1
56       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    81
ESOC    80
LIS     11
GAME    10
BE       2
PLS      2
INFO     2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116      10
300      10
130       9
302       9
313       8
314       8
131       6
251       6
429       6
330       6
315       5
350       5
331       5
230       4
480       4
321       4
316       4
301       4
213       4
212       4
317       4
311       3
211       3
150B1     3
432       3
303       2
351       2
416       2
420       2
451       2
421       2
318       2
308       2
320       2
210       2
309       2
472       2
319       2
340       2
310       2
322       2
431       2
470       2
475       2
471       2
424       1
478       1
100       1
161       1
457       1
495       1
401       1
263       1
410       1
477       1
425       1
Name: count, dtype: int64

Column: Class Section
Class Section
101     62
201     55
001     29
002      9
101A     5
101B     5
101C     4
101D     4
201A     3
101E     3
202      2
201B     2
102      2
003      1
005      1
101F     1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    188
Name: count, dtype: int64

Column: Component
Component
Lecture       160
Discussion     27
Colloquium      1
Name: count, dtype: int64

Column: Min Units
Min Units
3    168
4     20
Name: count, dtype: Int64

Column: Max Units
Max Units
3    168
4     20
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       52
0590     6
0876     4
0255     2
0214     2
        ..
1892     1
2127     1
2040     1
1767     1
2041     1
Name: count, Length: 75, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      148
Closed     40
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    142
In Person        33
Live Online      13
Name: count, dtype: int64

Column: Class Number
Class Number
56206    2
50914    2
58498    2
50558    2
56633    1
        ..
66911    1
65728    1
60340    1
50529    1
64718    1
Name: count, Length: 184, dtype: Int64

Column: Course Description
Course Description
Digital Storytelling & Culture    10
Statistic Foundations Info Age    10
Computational Thinking & Doing     9
Digital Discourse and Identity     8
Theories of New Media              8
Dealing with Data                  6
Introduction to Game Design        6
Quantitative Methods               6
Applied Cyberinfrastruct Conc      6
Princ Data Science                 5
Publishing:Papyrus to E-Books      5
Prog for Informatics Apps          5
Digital Engagement                 4
Digital Dilemmas                   4
Data Mining and Discovery          4
Digital Commerce                   4
Intro Web Design-Development       4
The Past and New Media             4
Social Media Strategies            4
Digital Crime & Social Media       4
Collaborating: Online Commun       3
Online Searching                   3
Social Media and Ourselves         3
Technology of Sound                3
eSport Industries                  2
Intro. to Game Development         2
Intro to Creative Coding           2
Intro: Human Computer Interact     2
Intro to Machine Learning          2
Game Development                   2
Applied Data Visualization         2
Disruptive Technologies            2
Diversity and Bias in Games        2
Ethical Issues in Information      2
Hacking & Open Source Culture      2
Government Information             2
User Interf+Website Dsgn           2
Qualitative Internet Research      2
Instructional Technologies         2
Info MM Design & Moving Image      2
Gamification in Society            2
Computing and the Arts             2
Data Engineering                   2
Data Warehousing in the Cloud      2
Database Dev and Mgmt              2
Intro to Info Tech                 2
Simulation and Problem Solving     2
Advanced Web Design                2
Information Security               1
Algorithms for Games               1
Ethics in a Digital World          1
Neural Networks                    1
Special Topics                     1
Learning in Information Age        1
Foundation of Info & Inference     1
Great Ideas of the Info Age        1
Virtual Reality                    1
Science Information                1
Designing an Installation          1
Bayesian Modeling & Inference      1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    188
Name: count, dtype: int64

Column: Start Date
Start Date
2021-08-23    162
2021-10-14     26
Name: count, dtype: int64

Column: End Date
End Date
2021-12-08    156
2021-10-13     32
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    188
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     142
TR     28
MW     12
R       3
W       2
F       1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    142
11:00:00     10
12:30:00      9
14:00:00      8
09:30:00      7
15:30:00      5
15:00:00      3
13:00:00      1
16:00:00      1
12:00:00      1
17:30:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    142
12:15:00      9
13:45:00      9
15:15:00      7
10:45:00      7
16:45:00      5
15:50:00      2
14:50:00      1
13:50:00      1
11:50:00      1
16:50:00      1
16:15:00      1
13:15:00      1
18:45:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      17
5      11
11      8
24      8
25      8
2       7
23      7
30      6
10      6
14      6
22      6
1       6
13      6
4       5
15      5
20      5
32      5
3       5
7       5
9       4
6       4
8       4
21      4
29      4
16      4
12      4
19      3
31      3
17      2
26      2
28      2
18      2
92      1
36      1
42      1
38      1
98      1
151     1
113     1
146     1
91      1
39      1
40      1
33      1
77      1
44      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
25     35
40     34
30     27
35     18
20     17
10     11
15     10
0       8
5       7
125     2
50      2
23      2
100     2
150     2
17      2
46      1
24      1
31      1
90      1
32      1
80      1
4       1
8       1
45      1
Name: count, dtype: int64

=== DataFrame: df_fall22 ===

Column: Term
Term
Fall 2022    170
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    107
Seven Week - Second          33
Seven Week - First           30
Name: count, dtype: int64

Column: Session Code
Session Code
1      107
7W2     33
7W1     30
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    108
Arizona Online                   62
Name: count, dtype: int64

Column: Facility
Facility
Online                       138
Haury Anthro Bldg, Rm 216      3
R P Harvill Bldg, Rm 411       3
R P Harvill Bldg, Rm 402       3
Education, Rm 310              2
R P Harvill Bldg, Rm 428       2
R P Harvill Bldg, Rm 401       2
R P Harvill Bldg, Rm 115       1
Saguaro Hall, Rm 223           1
R P Harvill Bldg, Rm 460       1
R P Harvill Bldg, Rm 302       1
R P Harvill Bldg, Rm 208       1
R P Harvill Bldg, Rm 134       1
R P Harvill Bldg, Rm 111       1
C E Chavez Bldg, Rm 111        1
R P Harvill Bldg, Rm 101       1
Phys-Atmos Sci, Rm 404         1
Phys-Atmos Sci, Rm 312         1
McClelland Park, Rm 105        1
M Pacheco ILC, Rm 151          1
M Pacheco ILC, Rm 135          1
M Pacheco ILC, Rm 125          1
Elec & Comp Engr, Rm 107       1
Social Sciences, Rm 114        1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      140
40       5
62       3
35       3
24       2
31       2
48       2
27       2
44       2
150      1
145      1
51       1
50       1
36       1
75       1
28       1
60       1
23       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    73
ISTA    65
GAME    15
LIS     13
INFO     4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
300      10
116      10
130       8
302       8
251       6
340       5
301       5
315       5
131       5
314       4
210       4
212       4
321       4
317       4
307       4
351       4
313       4
213       4
420       4
470       4
432       3
350       3
150B1     3
211       3
316       3
431       2
472       2
320       2
311       2
319       2
330       2
477       2
478       2
416       2
318       2
303       2
308       2
451       2
230       2
480       2
310       2
100       2
161       2
322       2
484       2
471       2
424       1
421       1
425       1
401       1
457       1
263       1
452       1
Name: count, dtype: int64

Column: Class Section
Class Section
101     58
201     53
001     18
102      7
002      6
202      5
101B     2
001B     2
001A     2
101D     2
101C     2
101A     2
201B     2
201A     2
001D     1
001C     1
101E     1
101F     1
006      1
005      1
003      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    170
Name: count, dtype: int64

Column: Component
Component
Lecture       150
Discussion     20
Name: count, dtype: int64

Column: Min Units
Min Units
3    154
4     16
Name: count, dtype: Int64

Column: Max Units
Max Units
3    154
4     16
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       44
1956     2
0125     2
0369     2
0370     2
        ..
1137     1
0407     1
0880     1
0879     1
0359     1
Name: count, Length: 72, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      147
Closed     23
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    138
In Person        32
Name: count, dtype: int64

Column: Class Number
Class Number
70295    1
61111    1
58818    1
58825    1
61824    1
        ..
60867    1
48660    1
58855    1
51035    1
67516    1
Name: count, Length: 170, dtype: Int64

Column: Course Description
Course Description
Digital Storytelling & Culture    10
Statistic Foundations Info Age    10
Computational Thinking & Doing     8
Quantitative Methods               6
Introduction to Game Design        6
Info MM Design & Moving Image      5
Publishing:Papyrus to E-Books      5
Dealing with Data                  5
Data Mining and Discovery          4
Hacking & Open Source Culture      4
Social Media Strategies            4
Theories of New Media              4
Digital Crime & Social Media       4
Narrative in Digital Games         4
Digital Discourse and Identity     4
Intro. to Game Development         4
The Past and New Media             4
Ethical Issues in Information      4
Database Dev and Mgmt              4
Online Searching                   3
Prog for Informatics Apps          3
Social Media and Ourselves         3
Computing and the Arts             3
Collaborating: Online Commun       3
Digital Commerce                   3
Data Warehousing in the Cloud      2
Intro to Creative Coding           2
Applied Data Visualization         2
Qualitative Internet Research      2
eSport Industries                  2
Instructional Technologies         2
Digital Dilemmas                   2
Information Security               2
Intro: Human Computer Interact     2
Disruptive Technologies            2
Diversity and Bias in Games        2
Data Engineering                   2
Game Development                   2
Technology of Sound                2
Intro Web Design-Development       2
Science Information                2
Digital Engagement                 2
Gamification in Society            2
Great Ideas of the Info Age        2
Ethics in a Digital World          2
Intellectual Property/Copyrigh     2
Government Information             2
Intro to Info Tech                 2
Virtual Reality                    1
Intro to Machine Learning          1
Algorithms for Games               1
Installation Design                1
Neural Networks                    1
Learning in Information Age        1
Advanced Game Development          1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    170
Name: count, dtype: int64

Column: Start Date
Start Date
2022-08-22    137
2022-10-13     33
Name: count, dtype: int64

Column: End Date
End Date
2022-12-07    140
2022-10-12     30
Name: count, dtype: int64

Column: Class Meeting Number

Class Meeting Number
1    170
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     138
TR     23
MW      3
F       3
M       3
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    138
12:30:00      9
15:30:00      7
11:00:00      7
14:00:00      3
16:00:00      1
13:00:00      1
08:00:00      1
10:00:00      1
09:00:00      1
15:00:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    138
13:45:00      9
16:45:00      7
12:15:00      6
15:15:00      3
17:15:00      1
12:50:00      1
14:50:00      1
09:50:00      1
11:50:00      1
10:50:00      1
16:50:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
1      13
9      12
20     12
0       8
23      8
3       7
24      7
26      6
28      6
17      6
30      5
14      5
16      5
8       5
2       4
5       4
25      4
12      3
13      3
15      3
32      3
22      3
4       3
21      3
35      3
7       3
10      3
33      2
29      2
6       2
11      2
81      1
46      1
18      1
37      1
43      1
38      1
140     1
19      1
27      1
80      1
101     1
123     1
86      1
66      1
31      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     35
30     26
35     20
25     19
20     14
10      8
28      7
24      5
15      5
0       4
5       3
23      3
80      3
150     3
125     2
27      2
17      2
4       1
90      1
26      1
50      1
34      1
31      1
3       1
46      1
45      1
Name: count, dtype: int64

=== DataFrame: df_fall23 ===

Column: Term
Term
Fall 2023    195
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    120
Seven Week - First           38
Seven Week - Second          37
Name: count, dtype: int64

Column: Session Code
Session Code
1      120
7W1     38
7W2     37
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    124
Arizona Online                   71
Name: count, dtype: int64

Column: Facility
Facility
Online                        153
Live Online                     4
R P Harvill Bldg, Rm 402        4
R P Harvill Bldg, Rm 428        3
Modern Languages, Rm 411        3
R P Harvill Bldg, Rm 115        2
R P Harvill Bldg, Rm 101        2
Psychology, Rm 308              2
Civil Engineering, Rm 201       2
Communication, Rm 311           2
Room To Be Announced            2
Mines & Metallurgy, Rm 213      1
Psychology, Rm 205              1
Biol Sci West, Rm 219           1
Communication, Rm 214           1
R P Harvill Bldg, Rm 102        1
R P Harvill Bldg, Rm 105        1
Education, Rm 535               1
R P Harvill Bldg, Rm 204        1
R P Harvill Bldg, Rm 210        1
R P Harvill Bldg, Rm 301        1
R P Harvill Bldg, Rm 302        1
R P Harvill Bldg, Rm 313        1
C E Chavez Bldg, Rm 303         1
C E Chavez Bldg, Rm 110         1
R P Harvill Bldg, Rm 460        1
Haury Anthro Bldg, Rm 216       1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      157
40       6
42       5
48       3
50       3
43       3
30       2
75       2
51       2
25       2
36       2
99       2
62       1
55       1
23       1
38       1
145      1
31       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    81
ESOC    72
GAME    25
LIS     13
INFO     4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116      10
150B1     9
302       9
130       9
300       8
161       6
251       5
315       5
263       5
131       5
301       5
313       4
317       4
303       4
470       4
212       4
321       4
314       4
421       4
322       4
351       4
316       4
311       4
308       4
350       3
210       3
432       3
211       3
457       3
340       3
416       3
420       2
320       2
213       2
424       2
318       2
480       2
214       2
478       2
310       2
402       2
100       2
477       2
330       2
329       2
431       2
471       2
472       2
484       2
307       2
451       2
450       1
425       1
306       1
455       1
414       1
452       1
Name: count, dtype: int64

Column: Class Section
Class Section
101     57
201     53
001     24
102     11
202     10
002      8
003      3
101A     2
103      2
203      2
101D     2
101C     2
101B     2
001A     2
001B     2
201B     2
201A     2
201C     1
101E     1
101F     1
001C     1
001D     1
005      1
006      1
204      1
104      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    195
Name: count, dtype: int64

Column: Component
Component
Lecture       174
Discussion     21
Name: count, dtype: int64

Column: Min Units
Min Units
3    178
4     17
Name: count, dtype: Int64

Column: Max Units
Max Units
3    178
4     17
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       53
0416     4
1404     2
0044     2
0204     2
        ..
0495     1
1202     1
1929     1
0933     1
0267     1
Name: count, Length: 83, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      156
Closed     39
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    153
In Person        38
Live Online       4
Name: count, dtype: int64

Column: Class Number
Class Number
64471    1
46003    1
57610    1
56082    1
68379    1
        ..
68879    1
48810    1
57131    1
57371    1
62066    1
Name: count, Length: 195, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    10
Social Media and Ourselves         9
Computational Thinking & Doing     9
Digital Storytelling & Culture     8
Ethics in a Digital World          6
Learning in Information Age        5
Technology of Sound                5
Publishing:Papyrus to E-Books      5
Introduction to Game Design        5
Dealing with Data                  5
Social Media Strategies            4
Intro to Machine Learning          4
Data Engineering                   4
Quantitative Methods               4
Theories of New Media              4
Digital Commerce                   4
Digital Crime & Social Media       4
Diversity and Bias in Games        4
eSport Industries                  4
Digital Discourse and Identity     4
Intro. to Game Development         4
Data Mining and Discovery          4
Database Dev and Mgmt              4
Intro: Human Computer Interact     3
Hacking & Open Source Culture      3
Prog for Informatics Apps          3
Collaborating: Online Commun       3
Online Searching                   3
Neural Networks                    3
Info MM Design & Moving Image      3
Computing and the Arts             3
Intro to Data Science              2
Qualitative Internet Research      2
Digital Dilemmas                   2
Information Security               2
Science Information                2
Digital Engagement                 2
Dig Games and Society              2
The Past and New Media             2
Intro to Creative Coding           2
Intellectual Property/Copyrigh     2
Government Information             2
Virtual Reality                    2
Applied Data Visualization         2
Gamification in Society            2
Data Ethics                        2
Great Ideas of the Info Age        2
Intro Web Design-Development       2
Data Warehousing in the Cloud      2
Game Development                   2
Disruptive Technologies            2
Intro to Info Tech                 2
Narrative in Digital Games         2
Ethical Issues in Information      2
Algorithms for Games               1
Esports Casting                    1
Applied NLP                        1
Computational Social Science       1
Artificial Intelligence            1
Advanced Game Development          1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    195
Name: count, dtype: int64

Column: Start Date
Start Date
2023-08-21    158
2023-10-12     37
Name: count, dtype: int64

Column: End Date
End Date
2023-12-06    157
2023-10-11     38
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    195
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     153
TR     25
MW     10
M       4
F       2
W       1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    153
12:30:00     11
11:00:00      9
15:30:00      8
14:00:00      6
16:00:00      2
10:00:00      2
12:00:00      1
08:00:00      1
13:00:00      1
17:30:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    153
13:45:00     11
16:45:00      8
12:15:00      8
15:15:00      5
17:15:00      2
11:50:00      2
13:50:00      1
09:50:00      1
12:50:00      1
14:50:00      1
16:30:00      1
18:45:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      16
25     11
21      9
23      8
14      8
2       8
3       8
22      8
26      7
10      7
13      6
1       6
9       6
5       5
18      5
24      5
30      5
7       5
12      5
15      4
11      4
35      4
4       4
29      3
34      3
16      3
28      3
40      2
19      2
36      2
37      2
20      2
27      2
17      2
45      2
71      1
70      1
88      1
150     1
96      1
149     1
68      1
80      1
31      1
8       1
75      1
44      1
6       1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     56
25     22
35     20
30     17
20     11
80      7
0       7
15      6
10      6
28      4
23      4
17      3
24      3
5       3
4       3
150     3
100     2
46      2
26      2
27      2
32      1
1       1
6       1
31      1
13      1
21      1
22      1
90      1
34      1
74      1
18      1
45      1
Name: count, dtype: int64

=== DataFrame: df_fall24 ===

Column: Term
Term
Fall 2024    213
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    133
Seven Week - First           42
Seven Week - Second          38
Name: count, dtype: int64

Column: Session Code
Session Code
1      133
7W1     42
7W2     38
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    139
Arizona Online                   74
Name: count, dtype: int64

Column: Facility
Facility
Online                       147
R P Harvill Bldg, Rm 402       4
Live Online                    4
M Pacheco ILC, Rm 129          4
R P Harvill Bldg, Rm 428       3
R P Harvill Bldg, Rm 413       3
Modern Languages, Rm 411       2
R P Harvill Bldg, Rm 411       2
R P Harvill Bldg, Rm 332B      2
R P Harvill Bldg, Rm 208       2
R P Harvill Bldg, Rm 115       2
R P Harvill Bldg, Rm 107       2
R P Harvill Bldg, Rm 101       2
Aero & Mech Engr, Rm S324      2
Phys-Atmos Sci, Rm 224         2
Psychology, Rm 204             2
C E Chavez Bldg, Rm 405        2
M Pacheco ILC, Rm 133          2
Civil Engineering, Rm 201      2
Flex In-Person                 2
McClelland Hall, Rm 130        1
R P Harvill Bldg, Rm 305       1
R P Harvill Bldg, Rm 460       1
R P Harvill Bldg, Rm 415       1
Chemistry, Rm 205              1
Education, Rm 310              1
Elec & Comp Engr, Rm 107       1
R P Harvill Bldg, Rm 318       1
R P Harvill Bldg, Rm 313       1
R P Harvill Bldg, Rm 301       1
McClelland Hall, Rm 123        1
R P Harvill Bldg, Rm 130       1
Harshbarger Bldg, Rm 206       1
Haury Anthro Bldg, Rm 216      1
M Pacheco ILC, Rm 130          1
Psychology, Rm 307             1
Psychology, Rm 205             1
Phys-Atmos Sci, Rm 404         1
M Pacheco ILC, Rm 145          1
Social Sciences, Rm 206        1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      151
40      10
48       7
28       7
23       3
36       3
32       3
50       3
51       3
35       2
25       2
43       2
99       2
42       2
57       2
74       1
143      1
27       1
62       1
44       1
38       1
80       1
52       1
56       1
31       1
60       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    99
ESOC    69
GAME    27
LIS     13
INFO     5
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
130      12
116      10
161      10
150B1     9
302       9
131       9
300       9
301       9
322       6
212       6
321       5
251       5
263       5
316       4
317       4
320       4
314       4
100       4
311       4
351       4
470       4
211       3
331       3
416       3
210       3
350       3
340       3
432       3
313       3
402       3
310       3
480       3
213       2
418       2
318       2
452       2
308       2
424       2
472       2
431       2
307       2
451       2
214       2
477       2
478       2
303       2
420       2
484       2
329       2
471       2
455       1
457       1
495       1
450       1
401       1
425       1
421       1
410       1
Name: count, dtype: int64

Column: Class Section
Class Section
101     52
201     49
001     28
202     12
102     12
002      9
003      5
001A     5
001B     5
001C     3
104      3
204      3
001D     3
201A     3
007      2
001E     2
006      2
101A     2
203      2
103      2
205      2
105      2
201C     1
008      1
005      1
202A     1
201B     1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    213
Name: count, dtype: int64

Column: Component
Component
Lecture       186
Discussion     26
Colloquium      1
Name: count, dtype: int64

Column: Min Units
Min Units
3    188
4     24
1      1
Name: count, dtype: Int64

Column: Max Units
Max Units
3    188
4     24
6      1
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       62
0092     4
0093     4
0141     2
0294     2
        ..
1386     1
1840     1
1690     1
1815     1
0811     1
Name: count, Length: 84, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      181
Closed     32
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               147
In Person                   50
Hybrid (Flex In-Person)     12
Live Online                  4
Name: count, dtype: int64

Column: Class Number
Class Number
59074    1
68623    1
52676    1
52681    1
54532    1
        ..
62836    1
52700    1
62731    1
53876    1
57778    1
Name: count, Length: 213, dtype: Int64

Column: Course Description
Course Description
Computational Thinking & Doing    12
Ethics in a Digital World         10
Statistic Foundations Info Age    10
Dealing with Data                  9
Social Media and Ourselves         9
Digital Storytelling & Culture     9
Computing and the Arts             7
Social Media Strategies            6
Data Engineering                   6
Data Mining and Discovery          5
Introduction to Game Design        5
Technology of Sound                5
Learning in Information Age        5
Digital Commerce                   4
Intro. to Game Development         4
Digital Crime & Social Media       4
Database Dev and Mgmt              4
Applied Data Visualization         4
Quantitative Methods               4
Great Ideas of the Info Age        4
eSport Industries                  4
Theories of New Media              4
Princ Data Science                 3
Prog for Informatics Apps          3
Hacking & Open Source Culture      3
Intro: Human Computer Interact     3
Digital Engagement                 3
Online Searching                   3
Info MM Design & Moving Image      3
Collaborating: Online Commun       3
Data Ethics                        3
Gamification in Society            3
Digital Discourse and Identity     3
The Past and New Media             2
Info Trust and Manipulation        2
Advanced Game Development          2
Disruptive Technologies            2
Diversity and Bias in Games        2
Virtual Reality                    2
Government Information             2
Intro Web Design-Development       2
Narrative in Digital Games         2
Game Development                   2
Intro to Data Science              2
Qualitative Internet Research      2
Information Security               2
Science Information                2
Dig Games and Society              2
Intellectual Property/Copyrigh     2
Ethical Issues in Information      2
Intro to Info Tech                 2
Data Warehousing in the Cloud      2
Applied NLP                        1
Neural Networks                    1
Special Topics in Information      1
Artificial Intelligence            1
Installation Design                1
Algorithms for Games               1
Intro to Machine Learning          1
Bayesian Modeling & Inference      1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    213
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    175
2024-10-17     38
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    171
2024-10-16     42
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    213
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     149
TR     28
MW     17
F      11
M       5
W       3
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    149
11:00:00     23
14:00:00      9
12:30:00      9
15:30:00      8
09:30:00      3
13:00:00      3
15:00:00      2
10:00:00      2
09:00:00      2
08:00:00      1
17:30:00      1
12:00:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    149
12:15:00     15
15:15:00      9
13:45:00      9
16:45:00      8
12:50:00      8
10:45:00      3
14:50:00      3
11:50:00      2
10:50:00      2
17:30:00      1
09:50:00      1
16:50:00      1
18:45:00      1
13:50:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      12
2      11
16     10
21      9
5       8
25      8
1       7
40      7
4       7
10      7
8       7
27      7
6       7
11      7
7       7
18      6
24      6
13      6
20      5
9       5
17      5
23      5
3       4
33      4
15      4
26      4
35      3
31      3
28      3
22      3
12      3
45      2
29      2
32      2
14      2
39      1
43      1
36      1
19      1
142     1
97      1
79      1
80      1
42      1
34      1
47      1
92      1
30      1
69      1
37      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     71
30     32
35     22
25     22
80      7
20      6
23      6
10      3
17      3
0       3
27      3
31      3
45      2
50      2
28      2
46      2
32      2
125     2
5       2
150     2
15      2
13      1
21      1
4       1
1       1
24      1
18      1
7       1
8       1
56      1
74      1
57      1
100     1
34      1
26      1
Name: count, dtype: int64

=== DataFrame: df_spring22 ===

Column: Term
Term
Spring 2022    174
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    109
Seven Week - Second          38
Seven Week - First           27
Name: count, dtype: int64

Column: Session Code
Session Code
1      109
7W2     38
7W1     27
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    118
Arizona Online                   56
Name: count, dtype: int64

Column: Facility
Facility
Online                      142
R P Harvill Bldg, Rm 402      5
R P Harvill Bldg, Rm 411      3
R P Harvill Bldg, Rm 103      2
R P Harvill Bldg, Rm 428      2
R P Harvill Bldg, Rm 107      2
Saguaro Hall, Rm 114          2
Education, Rm 333             2
Modern Languages, Rm 214      1
Modern Languages, Rm 304      1
Modern Languages, Rm 311      1
Modern Languages, Rm 411      1
C E Chavez Bldg, Rm 307       1
R P Harvill Bldg, Rm 102      1
M Pacheco ILC, Rm 140         1
Live Online                   1
R P Harvill Bldg, Rm 240      1
R P Harvill Bldg, Rm 305      1
Education, Rm 337             1
Education, Rm 310             1
R P Harvill Bldg, Rm 460      1
Modern Languages, Rm 413      1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      143
40       8
44       3
25       3
35       3
32       2
23       2
48       2
36       1
155      1
27       1
68       1
43       1
55       1
80       1
31       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    78
ISTA    69
LIS     16
GAME    11
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116      9
300      9
330      8

Now that data is cleaned, Combine into Fall, Spring, and All DataFrames

In [397]:
#Combined DataFrames: Fall, Spring, and All
df_fall_all = pd.concat(
    [dfs["df_fall21"], dfs["df_fall22"], dfs["df_fall23"], dfs["df_fall24"]],
    ignore_index=True)

df_spring_all = pd.concat(
    [dfs["df_spring22"], dfs["df_spring23"], dfs["df_spring24"], dfs["df_spring25"]],
    ignore_index=True)

df_all = pd.concat([df_fall_all, df_spring_all], ignore_index=True)

dfs_cleaned = {
    "df_fall_all": df_fall_all,
    "df_spring_all": df_spring_all,
    "df_all": df_all
    }

KDD: Print Unique Values by Columns again, now for our combined dataframes

In [398]:
for df_semester, df in dfs_cleaned.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall_all ===

Column: Term
Term
Fall 2024    213
Fall 2023    195
Fall 2021    188
Fall 2022    170
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    490
Seven Week - First          142
Seven Week - Second         134
Name: count, dtype: int64

Column: Session Code
Session Code
1      490
7W1    142
7W2    134
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    497
Arizona Online                  269
Name: count, dtype: int64

Column: Facility
Facility
Online                        580
Live Online                    21
R P Harvill Bldg, Rm 402       13
R P Harvill Bldg, Rm 428        8
Elec & Comp Engr, Rm 107        8
                             ...
C E Chavez Bldg, Rm 303         1
Communication, Rm 214           1
Education, Rm 535               1
Mines & Metallurgy, Rm 213      1
Social Sciences, Rm 206         1
Name: count, Length: 73, dtype: int64

Column: Room Capacity
Room Capacity
1      605
40      23
48      14
44      10
51       9
62       8
28       8
50       7
42       7
36       6
23       5
31       5
43       5
35       5
75       4
25       4
32       4
99       4
24       3
145      3
27       3
80       3
30       2
57       2
38       2
60       2
56       2
33       2
68       2
74       1
143      1
120      1
55       1
150      1
112      1
52       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    326
ESOC    294
GAME     77
LIS      50
INFO     15
BE        2
PLS       2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    40
130    38
300    37
302    35
131    25
       ..
450     2
455     2
418     2
414     1
306     1
Name: count, Length: 67, dtype: int64

Column: Class Section
Class Section
101     229
201     210
001      99
002      32
102      32
202      29
101A     11
201A     10
003      10
001B      9
101B      9
001A      9
101C      8
101D      8
201B      7
001D      5
001C      5
101E      5
005       4
006       4
203       4
103       4
204       4
104       4
101F      3
201C      2
007       2
001E      2
205       2
105       2
008       1
202A      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    766
Name: count, dtype: int64

Column: Component
Component
Lecture       670
Discussion     94
Colloquium      2
Name: count, dtype: int64

Column: Min Units
Min Units
3    688
4     77
1      1
Name: count, dtype: Int64

Column: Max Units
Max Units
3    688
4     77
6      1
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       211
0590      6
0306      6
0416      6
0007      4
       ...
1373      1
1126      1
1850      1
0798      1
2041      1
Name: count, Length: 296, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      632
Closed    134
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               580
In Person                  153
Live Online                 21
Hybrid (Flex In-Person)     12
Name: count, dtype: int64

Column: Class Number
Class Number
50914    2
59601    2
68634    2
52694    2
67509    2
        ..
68110    1
60935    1
59690    1
62646    1
57778    1
Name: count, Length: 756, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    40
Computational Thinking & Doing    38
Digital Storytelling & Culture    37
Dealing with Data                 25
Social Media and Ourselves        24
                                  ..
Designing an Installation          1
Computational Social Science       1
Esports Casting                    1
Special Topics in Information      1
Foundation of Info & Inference     1
Name: count, Length: 73, dtype: int64

Column: Class Status Code
Class Status Code
A    766
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    175
2021-08-23    162
2023-08-21    158
2022-08-22    137
2024-10-17     38
2023-10-12     37
2022-10-13     33
2021-10-14     26
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    171
2023-12-06    157
2021-12-08    156
2022-12-07    140
2024-10-16     42
2023-10-11     38
2021-10-13     32
2022-10-12     30
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    766
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     582
TR    104
MW     42
F      17
M      12
W       6
R       3
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    582
11:00:00     49
12:30:00     38
15:30:00     28
14:00:00     26
09:30:00     10
15:00:00      6
13:00:00      6
10:00:00      5
16:00:00      4
12:00:00      3
17:30:00      3
08:00:00      3
09:00:00      3
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    582
12:15:00     38
13:45:00     38
16:45:00     28
15:15:00     24
10:45:00     10
12:50:00     10
14:50:00      6
11:50:00      6
18:45:00      3
10:50:00      3
09:50:00      3
17:15:00      3
16:50:00      3
13:50:00      3
15:50:00      2
13:15:00      1
16:15:00      1
16:30:00      1
17:30:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      53
1      32
25     31
2      30
5      28
       ..
113     1
91      1
77      1
151     1
142     1
Name: count, Length: 73, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     196
30     102
25      98
35      80
20      48
10      28
15      23
0       22
80      18
23      15
5       15
28      13
150     10
24      10
17      10
27       7
125      6
31       6
4        6
46       6
100      5
50       5
45       5
32       4
26       4
34       3
90       3
8        2
18       2
74       2
13       2
21       2
1        2
3        1
22       1
6        1
56       1
57       1
7        1
Name: count, dtype: int64

=== DataFrame: df_spring_all ===

Column: Term
Term
Spring 2025    230
Spring 2024    206
Spring 2023    183
Spring 2022    174
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    484
Seven Week - Second         164
Seven Week - First          145
Name: count, dtype: int64

Column: Session Code
Session Code
1      484
7W2    164
7W1    145
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    528
Arizona Online                  265
Name: count, dtype: int64

Column: Facility
Facility
Online                      606
R P Harvill Bldg, Rm 402     14
Live Online                  13
R P Harvill Bldg, Rm 428     11
R P Harvill Bldg, Rm 411     10
                           ...
Modern Languages, Rm 410      1
Not Available                 1
R P Harvill Bldg, Rm 115      1
R P Harvill Bldg, Rm 134      1
The Commons, Rm 105           1
Name: count, Length: 80, dtype: int64

Column: Room Capacity
Room Capacity
1      619
40      33
32      13
25      13
35      13
48      12
44      11
28      11
38       8
36       7
30       7
31       6
43       5
52       4
99       3
56       3
42       3
50       2
51       2
23       2
55       2
85       2
155      2
80       1
142      1
70       1
68       1
0        1
27       1
94       1
83       1
60       1
217      1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    321
ESOC    314
GAME     91
LIS      55
INFO      8
BE        2
PLS       2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    37
300    37
130    34
330    31
302    30
       ..
475     2
355     1
457     1
410     1
200     1
Name: count, Length: 73, dtype: int64

Column: Class Section
Class Section
101     229
201     204
001      97
102      42
202      36
002      32
001A     14
001B     14
003      13
103       9
203       9
201A      9
101A      8
101D      6
001C      6
101C      6
101B      6
004       5
006       5
001E      5
104       4
204       4
201B      4
110       4
005       3
101E      3
210       3
101F      3
001D      3
009       1
001F      1
008       1
207       1
205       1
107       1
105       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    793
Name: count, dtype: int64

Column: Component
Component
Lecture       700
Discussion     88
Colloquium      5
Name: count, dtype: int64

Column: Min Units
Min Units
3    719
4     70
1      4
Name: count, dtype: Int64

Column: Max Units
Max Units
3    719
4     70
6      4
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       213
0181      6
2012      6
0145      6
0002      6
       ...
1592      1
1807      1
1808      1
1591      1
0779      1
Name: count, Length: 292, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      688
Closed    105
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               606
In Person                  159
Hybrid (Flex In-Person)     15
Live Online                 13
Name: count, dtype: int64

Column: Class Number
Class Number
61818    2
74040    2
67648    2
72349    2
74043    2
        ..
77944    1
59067    1
68677    1
68678    1
62973    1
Name: count, Length: 786, dtype: Int64

Column: Course Description
Course Description
Digital Storytelling & Culture    37
Statistic Foundations Info Age    37
Computational Thinking & Doing    34
Digital Dilemmas                  28
Social Media and Ourselves        26
                                  ..
Special Topics                     1
Foundation of Info & Inference     1
Neural Networks                    1
Bayesian Modeling & Inference      1
Visual Content Creation            1
Name: count, Length: 78, dtype: int64

Column: Class Status Code
Class Status Code
A    793
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    185
2024-01-10    163
2023-01-11    145
2022-01-12    136
2025-03-17     45
2024-03-11     43
2022-03-14     38
2023-03-13     38
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    189
2024-05-01    163
2023-05-03    149
2022-05-04    147
2024-03-01     43
2025-03-07     41
2023-03-03     34
2022-03-04     27
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    792
2      1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     609
TR    101
MW     37
M      22
F      17
W       6
T       1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    609
11:00:00     46
12:30:00     40
15:30:00     30
14:00:00     28
10:00:00      9
15:00:00      7
13:00:00      7
08:00:00      4
12:00:00      4
09:30:00      4
09:00:00      3
17:30:00      1
16:00:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    609
13:45:00     40
12:15:00     37
16:45:00     28
15:15:00     27
12:50:00      9
11:50:00      8
14:50:00      7
09:50:00      4
10:45:00      4
13:50:00      4
17:30:00      4
10:50:00      3
18:00:00      2
16:50:00      2
18:45:00      1
17:15:00      1
16:15:00      1
16:30:00      1
12:30:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      61
1      35
25     34
2      29
3      29
       ..
64      1
54      1
151     1
128     1
103     1
Name: count, Length: 74, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     221
30     100
35      99
25      91
20      52
0       36
28      27
100     19
80      19
5       13
45      12
10      11
27       9
32       6
50       6
15       5
1        5
130      5
155      5
21       4
52       4
55       4
16       4
9        4
150      3
60       3
120      3
6        2
70       2
125      2
23       2
17       2
135      1
200      1
37       1
42       1
47       1
18       1
14       1
2        1
75       1
51       1
148      1
26       1
3        1
Name: count, dtype: int64

=== DataFrame: df_all ===

Column: Term
Term
Spring 2025    230
Fall 2024      213
Spring 2024    206
Fall 2023      195
Fall 2021      188
Spring 2023    183
Spring 2022    174
Fall 2022      170
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    974
Seven Week - Second         298
Seven Week - First          287
Name: count, dtype: int64

Column: Session Code
Session Code
1      974
7W2    298
7W1    287
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    1025
Arizona Online                   534
Name: count, dtype: int64

Column: Facility
Facility
Online                      1186
Live Online                   34
R P Harvill Bldg, Rm 402      27
R P Harvill Bldg, Rm 428      19
R P Harvill Bldg, Rm 411      15
                            ...
Modern Languages, Rm 214       1
R P Harvill Bldg, Rm 240       1
Education, Rm 240              1
Modern Languages, Rm 401       1
The Commons, Rm 105            1
Name: count, Length: 119, dtype: int64

Column: Room Capacity
Room Capacity
1      1224
40       56
48       26
44       21
28       19
35       18
32       17
25       17
36       13
31       11
51       11
42       10
38       10
43       10
30        9
50        9
62        8
99        7
23        7
52        5
56        5
80        4
75        4
27        4
55        3
68        3
24        3
60        3
145       3
33        2
57        2
85        2
155       2
70        1
83        1
94        1
0         1
112       1
142       1
74        1
143       1
120       1
150       1
217       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    647
ESOC    608
GAME    168
LIS     105
INFO     23
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    77
300    74
130    72
302    65
301    52
       ..
410     3
309     2
426     2
355     1
200     1
Name: count, Length: 75, dtype: int64

Column: Class Section
Class Section
101     458
201     414
001     196
102      74
202      65
002      64
001A     23
001B     23
003      23
101A     19
201A     19
101B     15
101C     14
101D     14
203      13
103      13
001C     11
201B     11
006       9
101E      8
001D      8
104       8
204       8
001E      7
005       7
101F      6
004       5
110       4
205       3
105       3
210       3
201C      2
007       2
008       2
202A      1
009       1
001F      1
207       1
107       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    1559
Name: count, dtype: int64

Column: Component
Component
Lecture       1370
Discussion     182
Colloquium       7
Name: count, dtype: int64

Column: Min Units
Min Units
3    1407
4     147
1       5
Name: count, dtype: Int64

Column: Max Units
Max Units
3    1407
4     147
6       5
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       424
0145      8
0147      6
0226      6
0182      6
       ...
2117      1
0866      1
0879      1
0454      1
1296      1
Name: count, Length: 538, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      1320
Closed     239
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               1186
In Person                   312
Live Online                  34
Hybrid (Flex In-Person)      27
Name: count, dtype: int64

Column: Class Number
Class Number
66931    2
56981    2
74040    2
67648    2
50914    2
        ..
46390    1
55385    1
68381    1
50416    1
62973    1
Name: count, Length: 1536, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    77
Digital Storytelling & Culture    74
Computational Thinking & Doing    72
Social Media and Ourselves        50
Dealing with Data                 49
                                  ..
Designing an Installation          2
Simulation and Problem Solving     2
Game AI                            2
Natural Language Processing        1
Visual Content Creation            1
Name: count, Length: 81, dtype: int64

Column: Class Status Code
Class Status Code
A    1559
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    185
2024-08-26    175
2024-01-10    163
2021-08-23    162
2023-08-21    158
2023-01-11    145
2022-08-22    137
2022-01-12    136
2025-03-17     45
2024-03-11     43
2024-10-17     38
2022-03-14     38
2023-03-13     38
2023-10-12     37
2022-10-13     33
2021-10-14     26
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    189
2024-12-11    171
2024-05-01    163
2023-12-06    157
2021-12-08    156
2023-05-03    149
2022-05-04    147
2022-12-07    140
2024-03-01     43
2024-10-16     42
2025-03-07     41
2023-10-11     38
2023-03-03     34
2021-10-13     32
2022-10-12     30
2022-03-04     27
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    1558
2       1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     1191
TR     205
MW      79
F       34
M       34
W       12
R        3
T        1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    1191
11:00:00      95
12:30:00      78
15:30:00      58
14:00:00      54
09:30:00      14
10:00:00      14
15:00:00      13
13:00:00      13
12:00:00       7
08:00:00       7
09:00:00       6
16:00:00       5
17:30:00       4
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    1191
13:45:00      78
12:15:00      75
16:45:00      56
15:15:00      51
12:50:00      19
11:50:00      14
10:45:00      14
14:50:00      13
13:50:00       7
09:50:00       7
10:50:00       6
16:50:00       5
17:30:00       5
18:45:00       4
17:15:00       4
18:00:00       2
16:30:00       2
16:15:00       2
15:50:00       2
13:15:00       1
12:30:00       1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      114
1       67
25      65
2       59
23      55
      ...
69       1
97       1
79       1
142      1
103      1
Name: count, Length: 93, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     417
30     202
25     189
35     179
20     100
0       58
28      40
10      39
80      37
15      28
5       28
100     24
45      17
23      17
27      16
150     13
17      12
50      11
32      10
24      10
125      8
1        7
46       6
31       6
4        6
21       6
26       5
155      5
130      5
55       4
16       4
9        4
52       4
120      3
60       3
18       3
6        3
90       3
34       3
8        2
70       2
13       2
74       2
3        2
56       1
51       1
37       1
42       1
47       1
135      1
14       1
57       1
75       1
22       1
148      1
2        1
7        1
200      1
Name: count, dtype: int64

KDD: Explore Co-Convened Classes

In [399]:
for df_semester, df in dfs_cleaned.items():
    # Find for co-convened courses
    co_convened_rows = df[df["Combined Section"] != "-"] # Any value besides "-" is co-convened

    # Count total number of co-convened courses (rows) & how many are unique ("combined section")
    co_convened_total = co_convened_rows.shape[0]
    co_convened_unique = co_convened_rows["Combined Section"].nunique()

    print(f"{df_semester}: {co_convened_total} co-convened courses, {co_convened_unique} unique co-convened course groups (Combined Sections)")
print("\n")

for df_semester, df in dfs.items():
    # Find for co-convened courses
    co_convened_rows = df[df["Combined Section"] != "-"] # Any value besides "-" is co-convened

    # Count total number of co-convened courses (rows) & how many are unique ("combined section")
    co_convened_total = co_convened_rows.shape[0]
    co_convened_unique = co_convened_rows["Combined Section"].nunique()

    print(f"{df_semester}: {co_convened_total} co-convened courses, {co_convened_unique} unique co-convened course groups (Combined Sections)")

df_fall_all: 555 co-convened courses, 295 unique co-convened course groups (Combined Sections)
df_spring_all: 580 co-convened courses, 291 unique co-convened course groups (Combined Sections)
df_all: 1135 co-convened courses, 537 unique co-convened course groups (Combined Sections)


df_fall21: 136 co-convened courses, 74 unique co-convened course groups (Combined Sections)
df_fall22: 126 co-convened courses, 71 unique co-convened course groups (Combined Sections)
df_fall23: 142 co-convened courses, 82 unique co-convened course groups (Combined Sections)
df_fall24: 151 co-convened courses, 83 unique co-convened course groups (Combined Sections)
df_spring22: 129 co-convened courses, 71 unique co-convened course groups (Combined Sections)
df_spring23: 134 co-convened courses, 69 unique co-convened course groups (Combined Sections)
df_spring24: 155 co-convened courses, 85 unique co-convened course groups (Combined Sections)
df_spring25: 162 co-convened courses, 88 unique co-convened course groups (Combined Sections)

New Data Frames: In-Person vs Online 

(from dfs_cleaned: df_all, df_fall_all, df_spring_all)

In [400]:
# In-Person vs Online DataFrames

# Empty dictionary to store the new split (In-Person/Online) DFs
dfs_mode_split = {}

# Loop through the cleaned DataFrames in dict dfs_cleaned
for name, df in dfs_cleaned.items():
    df = df.copy()

    # Online Vs In-Person: Defined by values in "Facility" (have more options if this)
    df_online = df[df["Facility"].isin(["Online", "Live Online"])].copy()
    df_inperson = df[~df["Facility"].isin(["Online", "Live Online"])].copy()

    # Split our original DFs into new DFs: In-Person & Online
    dfs_mode_split[f"{name}_online"] = df_online
    dfs_mode_split[f"{name}_inperson"] = df_inperson

# Make Jupyter Variables for our new In-Person/Online DataFrames
for name, df in dfs_mode_split.items():
    globals()[name] = df

In [401]:
# Print name & numbers of rows/columns by each In-Person/Online DF
for name, df in dfs_mode_split.items():
    print(f"{name}: {df.shape[0]} rows, {df.shape[1]} columns")

df_fall_all_online: 601 rows, 27 columns
df_fall_all_inperson: 165 rows, 27 columns
df_spring_all_online: 619 rows, 27 columns
df_spring_all_inperson: 174 rows, 27 columns
df_all_online: 1220 rows, 27 columns
df_all_inperson: 339 rows, 27 columns

KDD: Print Unique Values & Counts for New In-Person/Online DFs

In [402]:
for df_semester, df in dfs_mode_split.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall_all_online ===

Column: Term
Term
Fall 2023    157
Fall 2021    155
Fall 2024    151
Fall 2022    138
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    325
Seven Week - First          142
Seven Week - Second         134
Name: count, dtype: int64

Column: Session Code
Session Code
1      325
7W1    142
7W2    134
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    332
Arizona Online                  269
Name: count, dtype: int64

Column: Facility
Facility
Online         580
Live Online     21
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1    601
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    238
ISTA    235
GAME     68
LIS      46
INFO     14
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
302      34
116      34
130      32
301      23
300      20
314      20
150B1    20
317      16
251      16
321      16
161      16
322      14
351      14
470      14
311      13
316      12
313      12
213      12
315      12
263      12
420      10
131      10
210      10
480      10
340      10
330      10
212      10
308      10
472       8
318       8
471       8
432       8
431       8
320       8
310       8
211       8
478       7
100       7
477       6
424       6
484       6
230       6
331       5
350       5
416       4
319       4
307       4
452       4
214       4
303       4
402       4
329       4
451       4
475       2
309       2
457       2
421       2
495       1
401       1
410       1
Name: count, dtype: int64

Column: Class Section
Class Section
101     229
201     210
102      32
202      29
001      11
101A     11
201A     10
101B      9
101C      8
101D      8
201B      7
101E      5
104       4
204       4
103       4
203       4
002       4
101F      3
201C      2
205       2
105       2
006       1
007       1
202A      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    601
Name: count, dtype: int64

Column: Component
Component
Lecture       536
Discussion     64
Colloquium      1
Name: count, dtype: int64

Column: Min Units
Min Units
3    554
4     47
Name: count, dtype: Int64

Column: Max Units
Max Units
3    554
4     47
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       88
0416     6
0306     6
0226     4
0876     4
        ..
1954     1
1276     1
1299     1
2040     1
0103     1
Name: count, Length: 262, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      490
Closed    111
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    580
Live Online      21
Name: count, dtype: int64

Column: Class Number
Class Number
68634    2
53206    2
59601    2
67509    2
52694    2
        ..
60867    1
48660    1
58855    1
51035    1
57778    1
Name: count, Length: 595, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    34
Computational Thinking & Doing    32
Social Media and Ourselves        20
Theories of New Media             20
Digital Storytelling & Culture    20
                                  ..
User Interf+Website Dsgn           2
Bayesian Modeling & Inference      1
Foundation of Info & Inference     1
Special Topics                     1
Designing an Installation          1
Name: count, Length: 63, dtype: int64

Column: Class Status Code
Class Status Code
A    601
Name: count, dtype: int64

Column: Start Date
Start Date
2021-08-23    129
2023-08-21    120
2024-08-26    113
2022-08-22    105
2024-10-17     38
2023-10-12     37
2022-10-13     33
2021-10-14     26
Name: count, dtype: int64

Column: End Date
End Date
2021-12-08    123
2023-12-06    119
2024-12-11    109
2022-12-07    108
2024-10-16     42
2023-10-11     38
2021-10-13     32
2022-10-12     30
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    601
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     580
TR     11
MW      4
R       3
W       2
F       1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    580
14:00:00      5
11:00:00      5
12:30:00      4
15:30:00      3
15:00:00      2
13:00:00      1
16:00:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    580
13:45:00      4
12:15:00      4
15:15:00      4
16:45:00      3
15:50:00      2
14:50:00      1
13:50:00      1
11:50:00      1
16:50:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      46
1      32
2      29
25     28
5      25
       ..
151     1
113     1
146     1
91      1
142     1
Name: count, Length: 68, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     136
30      91
25      71
35      69
20      44
10      27
15      20
0       19
80      18
5       15
28      12
17      10
150     10
23       8
4        6
24       5
45       5
46       4
90       3
125      3
50       3
26       3
74       2
1        2
34       2
100      2
18       2
32       2
8        2
3        1
6        1
13       1
27       1
31       1
Name: count, dtype: int64

=== DataFrame: df_fall_all_inperson ===

Column: Term
Term
Fall 2024    62
Fall 2023    38
Fall 2021    33
Fall 2022    32
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    165
Name: count, dtype: int64

Column: Session Code
Session Code
1    165
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    165
Name: count, dtype: int64

Column: Facility
Facility
R P Harvill Bldg, Rm 402      13
R P Harvill Bldg, Rm 428       8
Elec & Comp Engr, Rm 107       8
Haury Anthro Bldg, Rm 216      8
R P Harvill Bldg, Rm 101       6
                              ..
C E Chavez Bldg, Rm 303        1
Communication, Rm 214          1
Education, Rm 535              1
Mines & Metallurgy, Rm 213     1
Social Sciences, Rm 206        1
Name: count, Length: 71, dtype: int64

Column: Room Capacity
Room Capacity
40     23
48     14
44     10
51      9
62      8
28      8
50      7
42      7
36      6
43      5
23      5
35      5
31      5
99      4
25      4
1       4
75      4
32      4
24      3
145     3
27      3
80      3
57      2
30      2
68      2
33      2
60      2
56      2
38      2
143     1
74      1
120     1
55      1
150     1
112     1
52      1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    91
ESOC    56
GAME     9
LIS      4
BE       2
PLS      2
INFO     1
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
300      17
131      15
350       9
212       8
313       7
416       6
116       6
130       6
303       6
251       6
429       6
421       6
211       4
432       4
425       4
451       4
457       4
307       4
150B1     4
161       3
331       3
315       3
316       3
340       3
320       2
210       2
100       2
401       2
455       2
450       2
418       2
306       1
321       1
310       1
495       1
414       1
410       1
302       1
402       1
480       1
477       1
Name: count, dtype: int64

Column: Class Section
Class Section
001     88
002     28
003     10
001A     9
001B     9
001C     5
001D     5
005      4
006      3
001E     2
007      1
008      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    165
Name: count, dtype: int64

Column: Component
Component
Lecture       134
Discussion     30
Colloquium      1
Name: count, dtype: int64

Column: Min Units
Min Units
3    134
4     30
1      1
Name: count, dtype: Int64

Column: Max Units
Max Units
3    134
4     30
6      1
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       123
0590      6
0560      2
2127      1
1701      1
1929      1
0933      1
1888      1
0494      1
1690      1
1840      1
1462      1
1202      1
0441      1
1815      1
0811      1
1431      1
1296      1
1772      1
0359      1
1710      1
0495      1
1941      1
0517      1
1936      1
0570      1
1215      1
0885      1
0571      1
0731      1
0407      1
0798      1
1850      1
1126      1
0712      1
0799      1
1771      1
Name: count, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      142
Closed     23
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
In Person                  153
Hybrid (Flex In-Person)     12
Name: count, dtype: int64

Column: Class Number
Class Number
50558    2
58498    2
50914    2
56206    2
56341    1
        ..
66458    1
61318    1
52852    1
58810    1
69280    1
Name: count, Length: 161, dtype: Int64

Column: Course Description
Course Description
Digital Storytelling & Culture    17
Dealing with Data                 15
Prog for Informatics Apps          9
Social Media Strategies            8
Digital Discourse and Identity     7
Intro: Human Computer Interact     6
Statistic Foundations Info Age     6
Computational Thinking & Doing     6
Intro to Creative Coding           6
Introduction to Game Design        6
Applied Cyberinfrastruct Conc      6
Intro to Machine Learning          6
Collaborating: Online Commun       4
Online Searching                   4
Algorithms for Games               4
Game Development                   4
Neural Networks                    4
Narrative in Digital Games         4
Social Media and Ourselves         4
Ethics in a Digital World          3
Princ Data Science                 3
Publishing:Papyrus to E-Books      3
Digital Commerce                   3
Info MM Design & Moving Image      3
Applied Data Visualization         2
Hacking & Open Source Culture      2
Great Ideas of the Info Age        2
Installation Design                2
Applied NLP                        2
Artificial Intelligence            2
Info Trust and Manipulation        2
Esports Casting                    1
Data Mining and Discovery          1
Gamification in Society            1
Special Topics in Information      1
Computational Social Science       1
Bayesian Modeling & Inference      1
Technology of Sound                1
Data Ethics                        1
Digital Engagement                 1
Information Security               1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    165
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    62
2023-08-21    38
2021-08-23    33
2022-08-22    32
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    62
2023-12-06    38
2021-12-08    33
2022-12-07    32
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    165
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
TR    93
MW    38
F     16
M     12
W      4
-      2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
11:00:00    44
12:30:00    34
15:30:00    25
14:00:00    21
09:30:00    10
13:00:00     5
10:00:00     5
15:00:00     4
12:00:00     3
17:30:00     3
16:00:00     3
08:00:00     3
09:00:00     3
00:00:00     2
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
12:15:00    34
13:45:00    34
16:45:00    25
15:15:00    20
12:50:00    10
10:45:00    10
14:50:00     5
11:50:00     5
18:45:00     3
17:15:00     3
09:50:00     3
10:50:00     3
16:50:00     2
13:50:00     2
00:00:00     2
16:15:00     1
13:15:00     1
16:30:00     1
17:30:00     1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
14    11
24     9
40     8
22     7
16     7
0      7
12     7
18     7
9      7
21     6
10     6
13     6
23     6
7      5
26     5
27     4
15     4
20     4
17     4
19     3
35     3
6      3
30     3
29     3
25     3
8      3
5      3
31     2
38     2
4      2
92     2
11     2
2      1
36     1
42     1
97     1
3      1
37     1
34     1
33     1
81     1
75     1
32     1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     60
25     27
35     11
30     11
23      7
27      6
24      5
31      5
20      4
100     3
15      3
125     3
0       3
46      2
21      2
50      2
32      2
56      1
10      1
57      1
34      1
22      1
13      1
28      1
26      1
7       1
Name: count, dtype: int64

=== DataFrame: df_spring_all_online ===

Column: Term
Term
Spring 2024    166
Spring 2025    161
Spring 2023    149
Spring 2022    143
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    310
Seven Week - Second         164
Seven Week - First          145
Name: count, dtype: int64

Column: Session Code
Session Code
1      310
7W2    164
7W1    145
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    354
Arizona Online                  265
Name: count, dtype: int64

Column: Facility
Facility
Online         606
Live Online     13
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1    619
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    258
ISTA    222
GAME     80
LIS      50
INFO      5
BE        2
PLS       2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116      31
302      30
330      28
130      27
150B1    22
300      22
314      18
322      18
301      17
311      16
470      16
315      16
316      16
317      16
321      16
212      14
251      14
351      14
263      13
161      13
318      12
310      10
480      10
308      10
424       9
331       9
210       9
340       9
432       8
471       8
211       8
213       8
313       8
421       8
320       8
100       7
329       6
435       6
455       6
230       6
429       6
431       6
452       6
214       6
451       6
477       5
488       4
460       4
303       4
416       4
307       4
417       4
131       4
478       3
402       3
319       2
475       2
484       2
420       2
Name: count, dtype: int64

Column: Class Section
Class Section
101     229
201     204
102      42
202      36
001      11
201A      9
203       9
103       9
101A      8
101D      6
101B      6
101C      6
002       6
104       4
204       4
110       4
201B      4
003       3
101F      3
001B      3
001A      3
210       3
101E      3
207       1
205       1
107       1
105       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    619
Name: count, dtype: int64

Column: Component
Component
Lecture       568
Discussion     51
Name: count, dtype: int64

Column: Min Units
Min Units
3    588
4     31
Name: count, dtype: Int64

Column: Max Units
Max Units
3    588
4     31
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       80
0181     6
0145     6
2012     6
0002     6
        ..
1699     1
0864     1
1356     1
1856     1
0576     1
Name: count, Length: 253, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      527
Closed     92
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    606
Live Online      13
Name: count, dtype: int64

Column: Class Number
Class Number
64964    2
74040    2
72349    2
74043    2
61724    2
        ..
72351    1
76771    1
66428    1
80387    1
62973    1
Name: count, Length: 613, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    31
Computational Thinking & Doing    27
Digital Dilemmas                  26
Social Media and Ourselves        22
Digital Storytelling & Culture    22
                                  ..
User Interf+Website Dsgn           2
Intellectual Property/Copyrigh     2
Advanced Web Design                2
Ethical Issues in Information      2
Instructional Technologies         2
Name: count, Length: 61, dtype: int64

Column: Class Status Code
Class Status Code
A    619
Name: count, dtype: int64

Column: Start Date
Start Date
2024-01-10    123
2025-01-15    116
2023-01-11    111
2022-01-12    105
2025-03-17     45
2024-03-11     43
2022-03-14     38
2023-03-13     38
Name: count, dtype: int64

Column: End Date
End Date
2024-05-01    123
2025-05-07    120
2022-05-04    116
2023-05-03    115
2024-03-01     43
2025-03-07     41
2023-03-03     34
2022-03-04     27
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    619
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     606
TR     13
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    606
11:00:00      4
12:30:00      3
14:00:00      3
15:30:00      3
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    606
12:15:00      4
13:45:00      3
15:15:00      3
16:45:00      3
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      54
1      32
25     28
2      28
3      26
       ..
49      1
64      1
138     1
130     1
37      1
Name: count, Length: 69, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     170
35      82
30      75
25      54
20      51
0       32
28      25
80      17
100     16
5       13
45      12
10      11
155      5
1        5
50       5
130      5
15       5
21       4
55       4
9        4
16       4
120      3
150      3
6        2
60       2
148      1
70       1
18       1
14       1
2        1
26       1
3        1
135      1
47       1
27       1
Name: count, dtype: int64

=== DataFrame: df_spring_all_inperson ===

Column: Term
Term
Spring 2025    69
Spring 2024    40
Spring 2023    34
Spring 2022    31
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    174
Name: count, dtype: int64

Column: Session Code
Session Code
1    174
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    174
Name: count, dtype: int64

Column: Facility
Facility
R P Harvill Bldg, Rm 402    14
R P Harvill Bldg, Rm 428    11
R P Harvill Bldg, Rm 411    10
R P Harvill Bldg, Rm 234     6
Psychology, Rm 204           5
                            ..
Modern Languages, Rm 410     1
Not Available                1
R P Harvill Bldg, Rm 115     1
R P Harvill Bldg, Rm 134     1
The Commons, Rm 105          1
Name: count, Length: 78, dtype: int64

Column: Room Capacity
Room Capacity
40     33
32     13
25     13
35     13
48     12
28     11
44     11
38      8
36      7
30      7
31      6
43      5
52      4
56      3
99      3
42      3
85      2
51      2
50      2
23      2
55      2
155     2
142     1
80      1
70      1
68      1
0       1
27      1
94      1
83      1
60      1
217     1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    99
ESOC    56
GAME    11
LIS      5
INFO     3
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
131      20
300      15
301      12
350      12
212       8
130       7
416       6
116       6
495       5
312       4
313       4
210       4
251       4
450       4
150B1     4
330       3
418       3
314       3
331       3
484       3
340       3
401       3
421       3
451       2
321       2
320       2
100       2
315       2
161       2
306       2
432       2
426       2
425       2
480       2
402       2
414       2
211       2
457       1
311       1
410       1
355       1
308       1
420       1
200       1
Name: count, dtype: int64

Column: Class Section
Class Section
001     86
002     26
001A    11
001B    11
003     10
001C     6
006      5
001E     5
004      5
005      3
001D     3
009      1
001F     1
008      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    174
Name: count, dtype: int64

Column: Component
Component
Lecture       132
Discussion     37
Colloquium      5
Name: count, dtype: int64

Column: Min Units
Min Units
3    131
4     39
1      4
Name: count, dtype: Int64

Column: Max Units
Max Units
3    131
4     39
6      4
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       133
1397      1
1862      1
0353      1
2048      1
1861      1
0903      1
2111      1
1399      1
1303      1
0779      1
0524      1
1809      1
1755      1
1059      1
1592      1
1807      1
1808      1
1591      1
1396      1
2110      1
1864      1
1416      1
2103      1
2127      1
0866      1
2117      1
1284      1
1696      1
1697      1
1940      1
1915      1
0406      1
2123      1
1166      1
1167      1
2112      1
1975      1
1838      1
1312      1

KDD Online: Total, Fully Online, Live Online

In [403]:
# Dictionary for just the Online DFs
dfs_online = {
    "df_fall_all_online": dfs_mode_split["df_fall_all_online"],
    "df_spring_all_online": dfs_mode_split["df_spring_all_online"],
    "df_all_online": dfs_mode_split["df_all_online"]
}

for df_name, df in dfs_online.items():
    online_total = df.shape[0]
    fullyonline = (df["Facility"] == "Online").sum()       # count Online
    liveonline = (df["Facility"] == "Live Online").sum()   # count Live Online

    print(f"{df_name}: {online_total} online courses: {fullyonline} Fully Online, {liveonline} Live Online")

df_fall_all_online: 601 online courses: 580 Fully Online, 21 Live Online
df_spring_all_online: 619 online courses: 606 Fully Online, 13 Live Online
df_all_online: 1220 online courses: 1186 Fully Online, 34 Live Online

KDD: Unique Counts for our 3 _all DFs

In [404]:
dfs_cleaned_all = {
    "df_all": df_all,
    "df_all_online": df_all_online,
    "df_all_inperson": df_all_inperson
}

for df_semester, df in dfs_cleaned_all.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_all ===

Column: Term
Term
Spring 2025    230
Fall 2024      213
Spring 2024    206
Fall 2023      195
Fall 2021      188
Spring 2023    183
Spring 2022    174
Fall 2022      170
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    974
Seven Week - Second         298
Seven Week - First          287
Name: count, dtype: int64

Column: Session Code
Session Code
1      974
7W2    298
7W1    287
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    1025
Arizona Online                   534
Name: count, dtype: int64

Column: Facility
Facility
Online                      1186
Live Online                   34
R P Harvill Bldg, Rm 402      27
R P Harvill Bldg, Rm 428      19
R P Harvill Bldg, Rm 411      15
                            ...
Modern Languages, Rm 214       1
R P Harvill Bldg, Rm 240       1
Education, Rm 240              1
Modern Languages, Rm 401       1
The Commons, Rm 105            1
Name: count, Length: 119, dtype: int64

Column: Room Capacity
Room Capacity
1      1224
40       56
48       26
44       21
28       19
35       18
32       17
25       17
36       13
31       11
51       11
42       10
38       10
43       10
30        9
50        9
62        8
99        7
23        7
52        5
56        5
80        4
75        4
27        4
55        3
68        3
24        3
60        3
145       3
33        2
57        2
85        2
155       2
70        1
83        1
94        1
0         1
112       1
142       1
74        1
143       1
120       1
150       1
217       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    647
ESOC    608
GAME    168
LIS     105
INFO     23
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    77
300    74
130    72
302    65
301    52
       ..
410     3
309     2
426     2
355     1
200     1
Name: count, Length: 75, dtype: int64

Column: Class Section
Class Section
101     458
201     414
001     196
102      74
202      65
002      64
001A     23
001B     23
003      23
101A     19
201A     19
101B     15
101C     14
101D     14
203      13
103      13
001C     11
201B     11
006       9
101E      8
001D      8
104       8
204       8
001E      7
005       7
101F      6
004       5
110       4
205       3
105       3
210       3
201C      2
007       2
008       2
202A      1
009       1
001F      1
207       1
107       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    1559
Name: count, dtype: int64

Column: Component
Component
Lecture       1370
Discussion     182
Colloquium       7
Name: count, dtype: int64

Column: Min Units
Min Units
3    1407
4     147
1       5
Name: count, dtype: Int64

Column: Max Units
Max Units
3    1407
4     147
6       5
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       424
0145      8
0147      6
0226      6
0182      6
       ...
2117      1
0866      1
0879      1
0454      1
1296      1
Name: count, Length: 538, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      1320
Closed     239
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               1186
In Person                   312
Live Online                  34
Hybrid (Flex In-Person)      27
Name: count, dtype: int64

Column: Class Number
Class Number
66931    2
56981    2
74040    2
67648    2
50914    2
        ..
46390    1
55385    1
68381    1
50416    1
62973    1
Name: count, Length: 1536, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    77
Digital Storytelling & Culture    74
Computational Thinking & Doing    72
Social Media and Ourselves        50
Dealing with Data                 49
                                  ..
Designing an Installation          2
Simulation and Problem Solving     2
Game AI                            2
Natural Language Processing        1
Visual Content Creation            1
Name: count, Length: 81, dtype: int64

Column: Class Status Code
Class Status Code
A    1559
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    185
2024-08-26    175
2024-01-10    163
2021-08-23    162
2023-08-21    158
2023-01-11    145
2022-08-22    137
2022-01-12    136
2025-03-17     45
2024-03-11     43
2024-10-17     38
2022-03-14     38
2023-03-13     38
2023-10-12     37
2022-10-13     33
2021-10-14     26
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    189
2024-12-11    171
2024-05-01    163
2023-12-06    157
2021-12-08    156
2023-05-03    149
2022-05-04    147
2022-12-07    140
2024-03-01     43
2024-10-16     42
2025-03-07     41
2023-10-11     38
2023-03-03     34
2021-10-13     32
2022-10-12     30
2022-03-04     27
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    1558
2       1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     1191
TR     205
MW      79
F       34
M       34
W       12
R        3
T        1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    1191
11:00:00      95
12:30:00      78
15:30:00      58
14:00:00      54
09:30:00      14
10:00:00      14
15:00:00      13
13:00:00      13
12:00:00       7
08:00:00       7
09:00:00       6
16:00:00       5
17:30:00       4
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    1191
13:45:00      78
12:15:00      75
16:45:00      56
15:15:00      51
12:50:00      19
11:50:00      14
10:45:00      14
14:50:00      13
13:50:00       7
09:50:00       7
10:50:00       6
16:50:00       5
17:30:00       5
18:45:00       4
17:15:00       4
18:00:00       2
16:30:00       2
16:15:00       2
15:50:00       2
13:15:00       1
12:30:00       1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      114
1       67
25      65
2       59
23      55
      ...
69       1
97       1
79       1
142      1
103      1
Name: count, Length: 93, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     417
30     202
25     189
35     179
20     100
0       58
28      40
10      39
80      37
15      28
5       28
100     24
45      17
23      17
27      16
150     13
17      12
50      11
32      10
24      10
125      8
1        7
46       6
31       6
4        6
21       6
26       5
155      5
130      5
55       4
16       4
9        4
52       4
120      3
60       3
18       3
6        3
90       3
34       3
8        2
70       2
13       2
74       2
3        2
56       1
51       1
37       1
42       1
47       1
135      1
14       1
57       1
75       1
22       1
148      1
2        1
7        1
200      1
Name: count, dtype: int64

=== DataFrame: df_all_online ===

Column: Term
Term
Spring 2024    166
Spring 2025    161
Fall 2023      157
Fall 2021      155
Fall 2024      151
Spring 2023    149
Spring 2022    143
Fall 2022      138
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    635
Seven Week - Second         298
Seven Week - First          287
Name: count, dtype: int64

Column: Session Code
Session Code
1      635
7W2    298
7W1    287
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    686
Arizona Online                  534
Name: count, dtype: int64

Column: Facility
Facility
Online         1186
Live Online      34
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1    1220
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    496
ISTA    457
GAME    148
LIS      96
INFO     19
BE        2
PLS       2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116      65
302      64
130      59
300      42
150B1    42
         ..
309       2
457       2
495       1
401       1
410       1
Name: count, Length: 66, dtype: int64

Column: Class Section
Class Section
101     458
201     414
102      74
202      65
001      22
201A     19
101A     19
101B     15
101C     14
101D     14
103      13
203      13
201B     11
002      10
101E      8
204       8
104       8
101F      6
110       4
001B      3
003       3
205       3
105       3
210       3
001A      3
201C      2
207       1
202A      1
007       1
006       1
107       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    1220
Name: count, dtype: int64

Column: Component
Component
Lecture       1104
Discussion     115
Colloquium       1
Name: count, dtype: int64

Column: Min Units
Min Units
3    1142
4      78
Name: count, dtype: Int64

Column: Max Units
Max Units
3    1142
4      78
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       168
0145      8
0306      6
0002      6
0221      6
       ...
1373      1
1892      1
2041      1
2040      1
0103      1
Name: count, Length: 467, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      1017
Closed     203
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    1186
Live Online       34
Name: count, dtype: int64

Column: Class Number
Class Number
74040    2
67517    2
74043    2
52694    2
56981    2
        ..
56064    1
68382    1
70958    1
72729    1
62973    1
Name: count, Length: 1205, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    65
Computational Thinking & Doing    59
Social Media and Ourselves        42
Digital Storytelling & Culture    42
Quantitative Methods              38
                                  ..
Neural Networks                    2
Special Topics                     1
Foundation of Info & Inference     1
Designing an Installation          1
Bayesian Modeling & Inference      1
Name: count, Length: 69, dtype: int64

Column: Class Status Code
Class Status Code
A    1220
Name: count, dtype: int64

Column: Start Date
Start Date
2021-08-23    129
2024-01-10    123
2023-08-21    120
2025-01-15    116
2024-08-26    113
2023-01-11    111
2022-08-22    105
2022-01-12    105
2025-03-17     45
2024-03-11     43
2024-10-17     38
2022-03-14     38
2023-03-13     38
2023-10-12     37
2022-10-13     33
2021-10-14     26
Name: count, dtype: int64

Column: End Date
End Date
2021-12-08    123
2024-05-01    123
2025-05-07    120
2023-12-06    119
2022-05-04    116
2023-05-03    115
2024-12-11    109
2022-12-07    108
2024-03-01     43
2024-10-16     42
2025-03-07     41
2023-10-11     38
2023-03-03     34
2021-10-13     32
2022-10-12     30
2022-03-04     27
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    1220
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     1186
TR      24
MW       4
R        3
W        2
F        1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    1186
11:00:00       9
14:00:00       8
12:30:00       7
15:30:00       6
15:00:00       2
13:00:00       1
16:00:00       1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    1186
12:15:00       8
13:45:00       7
15:15:00       7
16:45:00       6
15:50:00       2
14:50:00       1
13:50:00       1
11:50:00       1
16:50:00       1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      100
1       64
2       57
25      56
3       49
      ...
149      1
47       1
69       1
79       1
75       1
Name: count, Length: 88, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     306
30     166
35     151
25     125
20      95
0       51
10      38
28      37
80      35
5       28
15      25
100     18
45      17
150     13
17      10
23       8
50       8
1        7
4        6
130      5
24       5
155      5
46       4
21       4
16       4
55       4
26       4
9        4
120      3
90       3
18       3
6        3
125      3
3        2
27       2
34       2
74       2
32       2
8        2
60       2
2        1
31       1
70       1
148      1
13       1
14       1
135      1
47       1
Name: count, dtype: int64

=== DataFrame: df_all_inperson ===

Column: Term
Term
Spring 2025    69
Fall 2024      62
Spring 2024    40
Fall 2023      38
Spring 2023    34
Fall 2021      33
Fall 2022      32
Spring 2022    31
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    339
Name: count, dtype: int64

Column: Session Code
Session Code
1    339
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    339
Name: count, dtype: int64

Column: Facility
Facility
R P Harvill Bldg, Rm 402    27
R P Harvill Bldg, Rm 428    19
R P Harvill Bldg, Rm 411    15
Modern Languages, Rm 411    10
Elec & Comp Engr, Rm 107     9
                            ..
Modern Languages, Rm 214     1
R P Harvill Bldg, Rm 240     1
Education, Rm 240            1
Modern Languages, Rm 401     1
The Commons, Rm 105          1
Name: count, Length: 117, dtype: int64

Column: Room Capacity
Room Capacity
40     56
48     26
44     21
28     19
35     18
32     17
25     17
36     13
31     11
51     11
42     10
43     10
38     10
50      9
30      9
62      8
23      7
99      7
52      5
56      5
1       4
27      4
75      4
80      4
55      3
68      3
145     3
60      3
24      3
33      2
57      2
85      2
155     2
70      1
94      1
83      1
0       1
112     1
142     1
74      1
143     1
150     1
120     1
217     1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    190
ESOC    112
GAME     20
LIS       9
INFO      4
BE        2
PLS       2
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
131      35
300      32
350      21
212      16
130      13
116      12
416      12
301      12
313      11
251      10
421       9
150B1     8
331       6
495       6
210       6
450       6
340       6
425       6
303       6
451       6
211       6
429       6
432       6
315       5
418       5
401       5
457       5
161       5
100       4
320       4
307       4
312       4
402       3
480       3
321       3
316       3
314       3
306       3
414       3
330       3
484       3
426       2
455       2
410       2
420       1
355       1
311       1
310       1
302       1
477       1
308       1
200       1
Name: count, dtype: int64

Column: Class Section
Class Section
001     174
002      54
003      20
001A     20
001B     20
001C     11
001D      8
006       8
005       7
001E      7
004       5
008       2
007       1
009       1
001F      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    339
Name: count, dtype: int64

Column: Component
Component
Lecture       266
Discussion     67
Colloquium      6
Name: count, dtype: int64

Column: Min Units
Min Units
3    265
4     69
1      5
Name: count, dtype: Int64

Column: Max Units
Max Units
3    265
4     69
6      5
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       256
0590      6
2127      2
0560      2
2112      1
       ...
1690      1
0494      1
1888      1
0933      1
0318      1
Name: count, Length: 77, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      303
Closed     36
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
In Person                  312
Hybrid (Flex In-Person)     27
Name: count, dtype: int64

Column: Class Number
Class Number
67648    2
58498    2
50914    2
56206    2
50558    2
        ..
54174    1
54349    1
69090    1
69759    1
71116    1
Name: count, Length: 334, dtype: Int64

Column: Course Description
Course Description
Dealing with Data                 35
Digital Storytelling & Culture    32
Prog for Informatics Apps         21
Social Media Strategies           16
Computational Thinking & Doing    13
Intro: Human Computer Interact    12
Statistic Foundations Info Age    12
Computing and the Arts            12
Digital Discourse and Identity    11
Introduction to Game Design       10
Intro to Machine Learning          9
Social Media and Ourselves         8
Game Development                   6
Artificial Intelligence            6
Intro to Creative Coding           6
Hacking & Open Source Culture      6
Algorithms for Games               6
Collaborating: Online Commun       6
Princ Data Science                 6
Online Searching                   6
Info MM Design & Moving Image      6
Applied Cyberinfrastruct Conc      6
Info Trust and Manipulation        5
Special Topics in Information      5
Ethics in a Digital World          5
Publishing:Papyrus to E-Books      5
Neural Networks                    5
Narrative in Digital Games         4
Installation Design                4
Applied Data Visualization         4
Great Ideas of the Info Age        4
Monetizing Independent Gaming      4
Intellectual Property/Copyrigh     3
Digital Engagement                 3
Theories of New Media              3
Data Ethics                        3
Esports Casting                    3
Data Mining and Discovery          3
Computational Social Science       3
Digital Commerce                   3
Bayesian Modeling & Inference      2
Applied NLP                        2
Digital Dilemmas                   2
Game AI                            2
Information Security               1
Advanced Web Design                1
Diversity and Bias in Games        1
Natural Language Processing        1
Technology of Sound                1
Gamification in Society            1
Special Topics                     1
Ethical Issues in Information      1
Designing an Installation          1
Foundation of Info & Inference     1
Visual Content Creation            1
Name: count, dtype: int64

Column: Class Status Code
Class Status Code
A    339
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    69
2024-08-26    62
2024-01-10    40
2023-08-21    38
2023-01-11    34
2021-08-23    33
2022-08-22    32
2022-01-12    31
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    69
2024-12-11    62
2024-05-01    40
2023-12-06    38
2023-05-03    34
2021-12-08    33
2022-12-07    32
2022-05-04    31
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    338
2      1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
TR    181
MW     75
M      34
F      33
W      10
-       5
T       1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
11:00:00    86
12:30:00    71
15:30:00    52
14:00:00    46
09:30:00    14
10:00:00    14
13:00:00    12
15:00:00    11
12:00:00     7
08:00:00     7
09:00:00     6
00:00:00     5
17:30:00     4
16:00:00     4
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
13:45:00    71
12:15:00    67
16:45:00    50
15:15:00    44
12:50:00    19
10:45:00    14
11:50:00    13
14:50:00    12
09:50:00     7
10:50:00     6
13:50:00     6
17:30:00     5
00:00:00     5
17:15:00     4
18:45:00     4
16:50:00     4
16:15:00     2
16:30:00     2
18:00:00     2
13:15:00     1
12:30:00     1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
14     16
22     16
21     16
9      15
0      14
16     14
24     13
7      13
19     12
10     12
40     12
23     12
12     12
27     11
13     11
20     11
18      9
25      9
17      9
26      9
15      8
5       7
4       7
11      6
29      5
8       5
35      4
31      4
30      4
3       4
6       4
1       3
28      3
37      3
2       2
39      2
33      2
34      2
81      2
38      2
92      2
97      1
42      1
36      1
75      1
32      1
77      1
61      1
41      1
68      1
90      1
46      1
103     1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     111
25      64
30      36
35      28
27      14
23       9
32       8
0        7
100      6
24       5
31       5
125      5
20       5
52       4
15       3
28       3
50       3
46       2
21       2
80       2
17       2
42       1
51       1
60       1
37       1
70       1
56       1
75       1
7        1
57       1
10       1
22       1
13       1
34       1
26       1
200      1
Name: count, dtype: int64

Save our DFs

In [405]:
cleaned_data_path = os.path.join(os.getcwd(), "Capstone Project Data_Cleaned")
os.makedirs(cleaned_data_path, exist_ok=True)  # Create folder if it doesn't exist

# Save the df_all DFs
for df_semester, df in dfs_cleaned.items():
    filename = os.path.join(cleaned_data_path, f"{df_semester}.xlsx") 
    df.to_excel(filename, index=False)
    print(f"Saved {df_semester}.xlsx to to Capstone Project Data_Cleaned")

# Save the In-Person/Online DFs
for df_semester, df in dfs_mode_split.items():
    filename = os.path.join(cleaned_data_path, f"{df_semester}.xlsx") 
    df.to_excel(filename, index=False)
    print(f"Saved {df_semester}.xlsx to Capstone Project Data_Cleaned")

Saved df_fall_all.xlsx to to Capstone Project Data_Cleaned
Saved df_spring_all.xlsx to to Capstone Project Data_Cleaned
Saved df_all.xlsx to to Capstone Project Data_Cleaned
Saved df_fall_all_online.xlsx to Capstone Project Data_Cleaned
Saved df_fall_all_inperson.xlsx to Capstone Project Data_Cleaned
Saved df_spring_all_online.xlsx to Capstone Project Data_Cleaned
Saved df_spring_all_inperson.xlsx to Capstone Project Data_Cleaned
Saved df_all_online.xlsx to Capstone Project Data_Cleaned
Saved df_all_inperson.xlsx to Capstone Project Data_Cleaned